[2021-03-04 06:06] Ibochkarev commented on #15432
I will give all the information within an hour

[2021-03-04 06:07] Ibochkarev commented on #15432
https://github.com/modxcms/revolution/blob/3.x/_build/data/transport.core.system_settings.php#L1751-L1759

[2021-03-04 06:07] Mark-H commented on #15432
https://github.com/modxcms/revolution/commit/d463e3fe5d8f8bd7c6c88b5b6db1f2b1439da425#diff-c2c883d027cc489d562c37b3396282d01feda1108ebdb3501eff755b34e263b7R1751

'modSystemSetting' should be modSystemSetting::class on line 1751

[2021-03-04 06:10] Ibochkarev commented on #15432
I will fix it now

[2021-03-04 06:32] ant-tar opened #15437 "Impossible to replace file duplicate without reopening upload popup window"
## Bug report
### Summary

I wanted to upload a file to backend, upload manager informed me that such file exists. I expected that it would simply overwrite it, but no. Okay, I deleted previous file on the left in the tree, and try to upload new one again, error message repeats again.

### Step to reproduce

Step 1.
![2021-02-27 10 27 27](https://user-images.githubusercontent.com/2815640/109919854

[2021-03-04 08:54] sergant210 opened #15438 "MODX file manager in Windows systems works incorrect"
## Bug report
### Summary
File manager on Windows servers works incorrect. The problem is in the [ModMediaSource ](https://github.com/modxcms/revolution/blob/1dc912bd1513f61d09c460eed281828dbf5769af/core/src/Revolution/Sources/modMediaSource.php#L893)class. Or more precisely in the constant `DIRECTORY_SEPARATOR`. File paths are generated by Flysystem and it replaces "\\" on "/". So `DIRECTORY_SEPA

[2021-03-04 09:35] #15432 closed, assigned to nobody

[2021-03-04 15:07] Jako commented on #15355
We can add Revolution as a new project on weblate.org and setup getting the language strings into that service. So we can test the fuzzy auto translation inside of Weblate before switching the translation to it.

[2021-03-04 15:10] opengeek commented on #15355
Why don't we do that with a fork to see how it works? Does it integrate with GitHub, automatically pulling and pushing PRs?

[2021-03-04 15:17] Jako commented on #15355
My first interest is to see how the fuzzy translation option is working in Weblate. Weblate will get the files out of the GitHub Repository. If we don't setup any pushing PR branch, we should not get any PRs pushed into the GitHub Repo.

[2021-03-04 15:39] opengeek commented on #15355
I want to see the whole process work. So that's why I want to set it up on a fork.

[2021-03-04 15:42] Jako commented on #15355
Why not. You just need an https://hosted.weblate.org/ account and setup a new project there.

[2021-03-04 15:58] Mark-H opened #15439 "Improve changelog rendering in the package manager"
## Bug report
### Summary

![Schermafbeelding 2021-03-04 om 16 55 16](https://user-images.githubusercontent.com/312944/109991322-846fda80-7d0a-11eb-8980-526c32ec6452.jpg)

### Step to reproduce

Install a package with a markdown changelog like ImagePlus. In the rendered changelog there is no clear visual hierarchy for version numbers, subsections etc. See screenshot above.

### Observed behavior

[2021-03-04 16:09] comradekingu commented on #15355
@opengeek I suppose https://docs.weblate.org/no/latest/admin/continuous.html?highlight=webhooks#automatically-receiving-changes-from-github answers your question part-way.

@Jako You can push to a branch that isn't in development first.

 https://hosted.weblate.org/hosting/ for Hosted Weblate and https://github.com/WeblateOrg/weblate for self-hosting. There is also paid support available if I can'

[2021-03-05 03:10] Ibochkarev commented on #15439
The parser generates incorrect markup, since the markup is not correct in the changelog.md file.

For example:

[code]

There must be an empty line after lists, code, headers (`<h3>Removed</h3></li>` - Goes to a list item because there was no empty line after the list)

If you run through the markup linter (which I did), you can see all this. Accordingly, you need to use a linter and follow the ma

[2021-03-05 05:09] sergant210 commented on #15301
I think this system setting should be defined at the time of installation.

[2021-03-05 05:29] muzzwood opened #15441 "[3.x] Upgrade from 2.8.1 to latest alpha3 nightly results in error on dashboard"
## Bug report
### Summary
Upgraded a 2.8.1 install to the latest 3.x nightly.
Install completes successfully.
On login to manager, dashboard is broken and shows the following error:

[code]
I've tried removing all widgets from the dashboard but still the same.

### Step to reproduce
Upgrade to the latest MODX 3 - alpha3 nightly

### Environment
MODX 2.8.1 --> 3.0.0-alpha3, nginx, mysql 8, php 7.4

[2021-03-05 05:34] muzzwood commented on #15441
Actually, I just fixed this by removing the minishop2 path to service class from the `extension_packages` system setting.
So, not a core issue. Closing.

[2021-03-05 05:34] #15441 closed, assigned to nobody

[2021-03-05 05:43] muzzwood commented on #15439
Hopefully this could parse markdown too

[2021-03-05 05:58] Mark-H commented on #15439
I probably should have checked that first 👀

[2021-03-05 06:35] Jako commented on #15439
Thanks. Then there is also an issue in https://keepachangelog.com/en/1.0.0/

[2021-03-05 07:38] muzzwood opened #15445 "[3.x] When upgrading from 2.8.x to 3.0.0-alpha3 installed extras can prevent setup from completing."
## Bug report
### Summary
When upgrading from 2.8.x to 3.0.0-alpha3 (latest nightly) I was able to get to this step:

![Screenshot_2021-03-05 MODX Revolution 3 0 0-alpha3 » Install](https://user-images.githubusercontent.com/5160368/110082339-2b667c00-7dc8-11eb-98f7-0a96a28e88d0.png)

Then, when clicking next, I was presented with the following error:
[code]

So it appears to be the AdminTools extr

[2021-03-05 07:48] Ibochkarev opened #15446 "There is no Deactivate plugin item in the context menu"
## Bug report
### Summary
There is no Deactivate plugin item in the context menu

### Step to reproduce
Go to the Elements tab, the Plugins section and right-click on any plugin

### Observed behavior
![2021-03-05 13-41-12 Dashboard   MODX Revolution - Google Chrome](https://user-images.githubusercontent.com/2138260/110083726-3fef4800-7db9-11eb-805c-73691cf3bd97.png)

### Expected behavior
In modx

[2021-03-05 07:50] muzzwood commented on #15446
Ah you just beat me to this one! Well done

I can confirm this issue.

Edit: While the deactivate plugin option is missing from the context menu, you can still deactivate the plugin using the checkbox on the edit plugin screen.

[2021-03-05 08:01] Mark-H commented on #15445
Would love some input from @opengeek on this as well, but my impression is that the setup should probably not try to load extension packages or plugins in any way.

[2021-03-05 08:03] Mark-H commented on #15446
Is the activate option there (in the context menu) if a plugin is deactivated or is that also missing?

[2021-03-05 08:06] muzzwood commented on #15446
activate plugin is also missing @Mark-H

[2021-03-05 08:06] Ibochkarev commented on #15446
When editing a plugin is open, you can disable the plugin, but in quick edit the menu item is skipped

[2021-03-05 08:11] Mark-H commented on #15446
Added a €10 bounty to this. Small issue, but nice to have fixed. ;)

[2021-03-05 08:17] ilyautkin commented on #15007
I'm going to work on this

[2021-03-05 08:23] muzzwood commented on #15446
I'm going to work on this

[2021-03-05 08:27] Ruslan-Aleev opened #15448 "The link "Preview" in "Recent Resources" in the account does not work"
## Bug report
### Summary
The link "Preview" in "Recent Resources" in the account does not work, although there is no problem in the resource tree.

### Step to reproduce
![res_preview](https://user-images.githubusercontent.com/12523676/110088282-b8e4a480-7da5-11eb-904e-1076e9a8cb4a.gif)

### Environment
MODX 3-alpha-3

[2021-03-05 08:35] Ibochkarev commented on #15448
I confirm this
https://user-images.githubusercontent.com/2138260/110089160-f3f3d180-7dbf-11eb-9a9d-35e54aa4c8f2.mp4

[2021-03-05 08:40] Ibochkarev opened #15450 "Could not load package metadata for package modx.transport."
## Bug report
### Summary
Error in the error log Could not load package metadata for package modx.transport. Upgrade your model.

### Step to reproduce
Set `log_level` to 4.
Open Extras -> Installer

Open MODX error log.

It should be clear.

### Observed behavior

https://user-images.githubusercontent.com/2138260/110108953-088f9400-7dd7-11eb-87a9-e369179f5ee9.mp4

[code]

### Related issue(s)/PR(

[2021-03-05 08:42] muzzwood commented on #15446
Should be fixed now

[2021-03-05 08:42] Jako commented on #15450
I am working on this.

[2021-03-05 08:54] JoshuaLuckers commented on #14074
Isn't @FILE already supported?

[2021-03-05 09:09] Ruslan-Aleev commented on #13065
Working on it, #BugHunt2021

[2021-03-05 09:11] Ibochkarev opened #15453 "sources.modMediaSource is deprecated since version 3.0"
## Bug report
### Summary
sources.modMediaSource is deprecated since version 3.0

### Step to reproduce
Set log level to 3.
Open Media -> Media Browser, For example, open a media source file system

Open MODX error log.

It should be clear.

### Observed behavior

[code]

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-alpha3 (git), PHP Version 7.4.12

[2021-03-05 09:18] #13943 closed, assigned to Ibochkarev

[2021-03-05 09:24] #15433 closed, assigned to nobody

[2021-03-05 09:29] JoshuaLuckers commented on #15446
Fixed in PR #15449

[2021-03-05 09:29] #15446 closed, assigned to nobody

[2021-03-05 09:35] Ibochkarev opened #15455 "PHP notice: Undefined index: onRichTextEditorInit"
## Bug report
### Summary
Error `PHP notice: Undefined index: onRichTextEditorInit`

### Step to reproduce
Set log level to 3.
Go to the Resources tab and open any resource

Open MODX error log.

It should be clear.

### Observed behavior

[code]

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-alpha3 (git), PHP Version 7.4.12

[2021-03-05 09:44] #15243 closed, assigned to nobody

[2021-03-05 10:22] ilyautkin commented on #14712
I'm going to work on this

[2021-03-05 10:30] #15255 closed, assigned to nobody

[2021-03-05 10:51] wuuti opened #15462 "Error updating table for class during setup advanced"
## Bug report
### Summary
When I run setup advanced i get multiple errors like this shown in the installation summary:

[code]

### Step to reproduce
Not sure how to exactly reproduce it. Happened with the github based revo installation for 3.x

### Observed behaviour
Also there are errors shown in the summary, it seems those errors did not prevent a successful installation. You can then click the

[2021-03-05 11:06] JoshuaLuckers commented on #15462
The list of errors I get:

[code]

[2021-03-05 11:07] Jako commented on #15450
I can't reproduce this.

[2021-03-05 11:19] Ibochkarev commented on #15450
@Jako Sorry, I made a typo - `log_level` there should be 4

[2021-03-05 11:19] JoshuaLuckers commented on #15462
When doing the advanced setup to change the database configuration it will run the upgrade scripts for `3.0.0` again.
One of them is this one: https://github.com/modxcms/revolution/blob/9a527c6b4ac51c9a49c765dc04d93202ce0ca43e/setup/includes/upgrades/common/3.0.0-dashboard-widgets.php

It tries to add fields that already exist. I'm not sure if xPDO should check if a field already exists or that we

[2021-03-05 11:28] Ibochkarev opened #15465 "Lexicons are not displayed after installation and the first login to the admin panel"
## Bug report
### Summary

After a clean install, lexicon values don't appear from the git. Only lexicon keys are displayed.
This bug was discovered during the demonstration of another bug. Recorded on video.

### Step to reproduce

Clean installation from the git according to the instructions
https://docs.modx.com/3.x/en/getting-started/installation/git#git-install-modx3

### Observed behavior
ht

[2021-03-05 11:33] Mark-H commented on #15465
Sort of a dupe of #14952, although this one is more to the point as there's a bunch of other discussion in #14952

[2021-03-05 12:00] Jako commented on #15462
Is this a version check issue like in #14396? The upgrade script should not run again. But maybe this does occur, since we don't have a final 3.0.0.

[2021-03-05 12:00] crystaldaking opened #15468 "Lexicon errors on first login into manager"
## Bug report
### Summary
When you first log in after installation, some lexicons are not displayed correctly
<img width="2559" alt="Снимок экрана 2021-03-05 в 14 49 24" src="https://user-images.githubusercontent.com/25440397/110112982-7af67900-7dc3-11eb-9902-5527d9a55573.png">

### Step to reproduce
Install MODX and perform the first login

### Observed behavior
After updating the page, the lexic

[2021-03-05 12:02] crystaldaking commented on #15468
Sorry, doubleposing  #15465

[2021-03-05 12:02] #15468 closed, assigned to nobody

[2021-03-05 12:07] wax100 commented on #15129
https://github.com/wax100/revolution/commit/01f53bb557584e6d95e0a707715ab0e2546e1da1
this fix strange path ![Screenshot_5](https://user-images.githubusercontent.com/4846064/110113427-230c4200-7dc4-11eb-9237-a6ffc22adfa7.jpg)

https://github.com/wax100/revolution/commit/94c01857b738135db7042760c6816a5ce902ffb7
this fix multiple upload window bug
![Screenshot_6](https://user-images.githubusercontent

[2021-03-05 12:09] Ibochkarev opened #15469 "MODX\Revolution\Rest\modRestClient::__construct is deprecated"
## Bug report
### Summary
Error `MODX\Revolution\Rest\modRestClient::__construct is deprecated`

### Step to reproduce
Set log_level to 4.
Open Extras -> Installer

Open MODX error log.

It should be clear.

### Observed behavior
Errors:

[code]

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-alpha3 (git), PHP Version 7.4.12

[2021-03-05 12:18] JoshuaLuckers commented on #15462
Yes, because the current version is `3.0.0-alpha3` and the version for the upgrade script is `3.0.0` and the version compare will return true:
https://github.com/modxcms/revolution/blob/803ebb4303af0a925c8cdde53a25340f53904dc8/setup/includes/modinstallversion.class.php#L132-L134

[2021-03-05 12:22] Ibochkarev commented on #13949
The bug is current at the moment. MODX Revolution 3.0.0-alpha3 (git), PHP Version 7.4.12

[2021-03-05 12:31] Mark-H commented on #13949
Is this really a _bug_? Creating a file is a separate action that's not part of the browser.

[2021-03-05 12:34] Ibochkarev opened #15471 "modTemplate is deprecated since version 3.0"
## Bug report
### Summary
Error `modTemplate is deprecated since version 3.0`

### Step to reproduce
Set log_level to 4.

Go to the elements tab and open any template

Open MODX error log.

It should be clear.

### Observed behavior
Errors:

[code]

A similar error appears in other elements as well.

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-alpha3 (git), PHP Version 7.4

[2021-03-05 12:35] sdrenth commented on #15448
I will fix this

[2021-03-05 12:58] JoshuaLuckers commented on #15471
Im working on this!

[2021-03-05 13:18] sonicpunk opened #15476 "MODX3 Core Folder Name cannot be renamed"
## Bug report
### Summary
When hardening MODX, we always rename our core folder. It seems that when you rename the core folder to something else, autoloading does not work because the 'core' folder name is placed as a static link in `/vendor/composer/autoload_psr4.php` and   `/vendor/composer/autoload_static.php`

### Step to reproduce
You can reproduce this when upgrading a hardened MODX instance

[2021-03-05 13:20] sonicpunk commented on #15476
@JoshuaLuckers Hey check out this issue!

[2021-03-05 13:36] Ibochkarev commented on #15469
@JoshuaLuckers You don't mind fixing it? =)

[2021-03-05 13:38] sonicpunk commented on #15476
This may also be related...

After changing my core folder back to core, I was able to go through the installation process, but now it seems that still something is not correct.:

`(ERROR @ /var/www/html/core/src/Revolution/Sources/modFileMediaSource.php : 30) Konnte die Medienquelle "MODX Components" nicht initialisieren! Impossible to create the root directory "". mkdir(): Invalid path`

Could i

[2021-03-05 13:41] opengeek commented on #15476
It is currently not possible to move the core directory in 3.x. Composer has to have the path to it for proper autoloading and this cannot be a variable path.

[2021-03-05 13:45] Ruslan-Aleev commented on #15148
In the future, it makes sense to remove other trees as well, if possible. Trees (other than resources and menus) are controversial UX choices, see https://github.com/modxcms/revolution/issues/10518, https://github.com/modxcms/revolution/pull/15478

[2021-03-05 13:49] Mark-H commented on #15476
Are you using an absolute basePath in that media source @sonicpunk or something like `../foobar`?

[2021-03-05 13:49] Ruslan-Aleev commented on #13949
Yes, most likely this is a feature request.

[2021-03-05 14:02] sdrenth commented on #14337
I will fix this

[2021-03-05 14:07] sonicpunk commented on #15476
Is there not a way to add or rewrite the paths to the core folder during the setup? @opengeek

[2021-03-05 14:08] opengeek commented on #15476
No, there is not. Composer has to have the path before setup is executed.

[2021-03-05 14:09] opengeek commented on #15476
Protecting the core using .htaccess or a simple nginx rule is just as secure as the security-by-obscurity of moving the core.

[2021-03-05 14:27] joeke commented on #14642
I'll work on this. #modxbughunt #snowup

[2021-03-05 14:40] sonicpunk commented on #15476
@Mark-H Yes, Mark to answer your question.. we have media sources that use absolute basepaths.

[2021-03-05 14:48] #15448 closed, assigned to sdrenth

[2021-03-05 14:49] wuuti commented on #15476
I am _not_ satifsfied with the way this issue is handled here from a communication point of view. While "not satisfied" is more an euphemism. In fact it upsets me inexpressibly and strongly reminds me why people reduced their participation in the project and community a lot over the last years - because its always the same.

- closing an issue without any further discussion is a no go. It would be

[2021-03-05 14:55] opengeek commented on #15476
This was already discussed extensively in multiple places. If everyone would participate beyond this two-day rush to do everything all at once, there wouldn't be a problem here. It is not possible currently without creating larger problems. This is because there is no way in composer to provide a variable path for autoloading. Just because the issue is closed does not mean there cannot be more dis

[2021-03-05 15:12] wuuti opened #15483 "Update Dashboard widget shows unreleased (and unstable versions)"
## Bug report
### Summary
The update widget does not show the correct versions to update to.

### Step to reproduce
Either install a previous 3.x version, or mock your local version by changing the local values in `/core/docs/version.inc.php`, e.g. to 3.0.0-alpha2. See that the widget is showing you an update, although the latest published release is -alpha2.

### Observed behavior
- the widget sh

[2021-03-05 15:21] JoshuaLuckers commented on #15476
If changing the references to `core/src` in the two files mentioned by @sonicpunk, wouldn't it be a good temporary solution to have this in the docs as workaround?

[2021-03-05 15:30] zaigham commented on #15476
From where I see it, it is more of a Composer issue than a MODX issue. We could find workarounds, but that would potentially break things elsewhere.

The recommendation to harden the MODX 2.x is from the past when Composer didn't even exist.

[2021-03-05 15:41] Mark-H commented on #15476
It comes from [the composer.json](https://github.com/modxcms/revolution/blob/3.x/composer.json#L43) so that's not configurable per project. Editing generated autoload files is also not something to encourage.

I don't think anyone would object to figuring out how to bring back the ability to move the core. As this is also likely to come up more over the coming weeks and months, I'm going to reopen

[2021-03-05 15:59] wuuti commented on #15476
Then this part of hardening docs should also be changed for the 3.x version, probably totally removed, because its incompatible with the version then.

[2021-03-05 16:26] wuuti commented on #15476
I would really appreciate a solution which mitigates that issue when doing the jump from 2.x to 3.x, automatically would be the best way. I can think of a script, maybe run by the setup preparation, which automatically does "undo" the core hardening, or at least enlist the already known steps to make an installation compatible with 3.x. I don't think it is a final (just one part) solution to have

[2021-03-05 16:31] rthrash commented on #15476
There could certainly be a check in the setup that looks for the core directory in its default location and warns about that. Definitely agree on the docs for 3.0, too @wuuti … I can take a stab at the docs including default NGINX web rules and htaccess suggestions to make those inaccessible from the web.

[2021-03-05 16:40] wuuti commented on #15483
I am already working on that, because most of the problems have already been solved with the updater extra. As this extra does not make sense any more for the 3.x version, I decided not to work on that any more regarding 3 compatibility, instead spend the time better to improve this - now being core - functionality.

[2021-03-05 17:06] opengeek commented on #15476
Unfortunately, I don't think that would work. If you are running setup, you have already extracted the new core in its default location.

[2021-03-05 17:14] wax100 commented on #15415
I create snippet and place on page. But there is no errors in **error.log**
[code]

[2021-03-05 17:16] wax100 commented on #15438
I think I have samу problem with DIRECTORY_SEPARATOR on Windows PC + OpenServer...
![Screenshot_13](https://user-images.githubusercontent.com/4846064/110149862-98413c80-7def-11eb-89d3-6c1b0facc228.jpg)

[2021-03-05 17:51] Jako commented on #15476
At least the `core/packages` and maybe some parts of the `core/cache` content could be moved to the new location during the setup. The other parts normally don't have to be touched.

[2021-03-05 17:54] Jako commented on #15415
The issue should be logged in the PHP error log and not in the MODX error log.

[2021-03-05 18:45] JoshuaLuckers commented on #15469
It's on my todo list

[2021-03-06 00:52] rthrash commented on #15476
Got my PR in for the docs: https://github.com/modxorg/Docs/pull/280 … that took _way_ longer than I thought. LOL

@wuuti would appreciate your thoughts on it. I completely re-organized the page to focus on MODX first since that's what most folks reading that type of page will really be looking for and addressed the 2 vs 3 issues we're currently facing.

I didn't add anything to address what @Jako

[2021-03-06 06:37] Ibochkarev opened #15493 "modContext is deprecated since version 3.0"
## Bug report
### Summary
Log error:

[code]

### Step to reproduce
Set system setting `log_level` to 4

Go to the Settings menu, then Contexts, go to editing the mgr context to the Context settings tab and click save. Go to error log

### Observed behavior
[code]

### Expected behavior
There should be no errors in the log

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-alpha

[2021-03-06 06:39] Ibochkarev opened #15494 "Language string not found: """
## Bug report
### Summary
Log error:

[code]

### Step to reproduce
Set system setting `log_level` to 4

Go to the Settings menu, then Menus. Go to error log

### Observed behavior
[code]

The error also appears in the log when saving Property Sets

### Expected behavior
There should be no errors in the log

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-alpha3 (git), PHP Ver

[2021-03-06 07:09] Ibochkarev opened #15495 "modAccessPermission is deprecated since version 3.0"
## Bug report
### Summary
Log error:

[code]

### Step to reproduce
Set system setting `log_level` to 4

Go to the Settings menu, then Access Control Lists, go to editing the AdministratorTemplate. Go to error log

### Observed behavior

[code]

### Expected behavior
There should be no errors in the log

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-alpha3 (git), PHP Version

[2021-03-06 07:18] Ibochkarev opened #15496 "Removed MODX\Revolution\modCategoryClosure instance with primary key Array"
## Bug report
### Summary
Log error:

[code]

### Step to reproduce
Set system setting `log_level` to 4

Go to the Elements tab and create a test category with a rank of 1. Then remove it

![image](https://user-images.githubusercontent.com/2138260/110198597-e56bef80-7e7d-11eb-8335-35225c167cab.png)

### Observed behavior

[code]

### Expected behavior
There should be no errors in the log

### Rela

[2021-03-06 07:21] Ibochkarev opened #15497 "modPlugin is deprecated since version 3.0"
## Bug report
### Summary
Log error:

[code]

### Step to reproduce
Set system setting `log_level` to 4

Create a plugin. Go to editing and click the save button.

### Observed behavior
[code]

### Expected behavior
There should be no errors in the log

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-alpha3 (git), PHP Version 7.4.12

[2021-03-06 07:23] Mark-H commented on #15496
Those are debugging statements meant for debugging (level 4). That's expected.

Anything only visible with level 4 is not an issue but working as intended.

[2021-03-06 07:23] #15496 closed, assigned to nobody

[2021-03-06 07:25] Ibochkarev commented on #15496
O, thanks

[2021-03-06 07:25] Mark-H commented on #15494
Debug statement only visible with log level 4 for debugging.

[2021-03-06 07:25] #15494 closed, assigned to nobody

[2021-03-06 07:28] Ibochkarev opened #15498 "When you click on the help button: Page not found"
## Bug report
### Summary
When you click on the help button: Page not found

### Step to reproduce
Go to Lexicon Management and click on the help button

### Observed behavior
How it behaved after following steps above.
![image](https://user-images.githubusercontent.com/2138260/110198848-91620a80-7e7f-11eb-8a5b-96c1675cb4f4.png)

https://github.com/modxcms/revolution/blob/3.x/_build/data/transport

[2021-03-06 07:35] Ibochkarev opened #15499 "PHP notice: Undefined index: src"
## Bug report
### Summary
Log error:

[code]

### Step to reproduce
Set system setting `log_level` to 4

Go to Media, then select Media browser

### Observed behavior
[code]

The same behavior is observed when creating a new folder in the assets directory (for example)

### Expected behavior
There should be no errors in the log

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-

[2021-03-06 07:46] Ibochkarev opened #15500 "User not found. when trying to create a message"
## Bug report
### Summary

User not found. when trying to create a message

### Step to reproduce
Go to the User menu, then select Messages. Create new message

### Observed behavior

![image](https://user-images.githubusercontent.com/2138260/110199352-3847a600-7e82-11eb-8f27-d6597acde0ac.png)

![image](https://user-images.githubusercontent.com/2138260/110199333-282fc680-7e82-11eb-904d-f8cbe3146c6

[2021-03-06 07:53] Ibochkarev opened #15501 "PHP notice: Undefined variable: classKeyIcon"
## Bug report
### Summary
Log error:

[code]

### Step to reproduce
Set system setting `log_level` to 4

Go to resource editing, go to the Settings tab and toggle the Container checkbox, then click the save button.

### Observed behavior
[code]

### Expected behavior
There should be no errors in the log

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-alpha3 (git), PHP Version

[2021-03-06 08:01] muzzwood opened #15502 "Unable to view thumbs of .jpg or .png in media browser or file tree"
## Bug report
### Summary

Using the latest git version of 3.x just now, thumbs are not showing for .jpg or .png files in either the file tree or media browser.
.svg thumbs work.

I'm also getting errors in the log:
[code]

![Screenshot from 2021-03-05 22-54-58](https://user-images.githubusercontent.com/5160368/110199731-ccbb0400-7e94-11eb-95b2-146095c706ae.png)

![Screenshot from 2021-03-06 15-56

[2021-03-06 08:01] sergant210 commented on #15438
@wax100 This bug fixed in #15440

[2021-03-06 08:03] hugopeek opened #15503 "Plugin not greyed out in tree after deactivating"
## Bug report
### Summary
Plugins can be succesfully activated and deactivated from the tree, but there's no visual distinction between the two:

![image](https://user-images.githubusercontent.com/5436121/110199740-d5133f00-7e94-11eb-9b4b-130487b00f1e.png)

### Step to reproduce
Try to deactivate a plugin in latest 3.x build.

### Observed behavior
Plugin not greyed out.

### Related issue(s)/PR(s

[2021-03-06 08:08] muzzwood commented on #15503
Hmmm this one is ok for me:

![Screenshot from 2021-03-06 16-07-04](https://user-images.githubusercontent.com/5160368/110199957-2112b380-7e96-11eb-9961-63e1ea30a71e.png)

[2021-03-06 08:12] Ibochkarev commented on #15503
I confirm. If the plugin is located in the (Categories) folder, then the styles of the inactive plugin are not applied

[2021-03-06 08:14] Ibochkarev commented on #15502
Possibly related: https://github.com/modxcms/revolution/pull/15481

[2021-03-06 08:14] muzzwood commented on #15503
Ah, it's got to be in a category.
Yup, can also confirm.

Edit: It does however work as expected if not in a category.

[2021-03-06 08:19] Ibochkarev commented on #15503
@hugopeek Please do not use [3.x] in the title

[2021-03-06 08:19] Ibochkarev commented on #15502
@digitalpenguin Please do not use [3.x] in the title

[2021-03-06 08:29] hugopeek opened #15504 "500 errors and empty web context after update - Unknown column modContentType.icon in field list"
## Bug report
### Summary
I upgraded an existing installation to the latest 3.x, but the web context is not visible in the tree. Pages are also not rendering in the browser (from any context).

I'm not sure if this is related, but I'm seeing various 500 errors in console:

Manager:
[code]
[code]

Front-end:
[code]

### Step to reproduce

I only tried updating this one site, but I'll update another

[2021-03-06 10:09] Ibochkarev commented on #15498
Double #15216

[2021-03-06 10:09] #15498 closed, assigned to nobody

[2021-03-06 18:56] Mark-H commented on #15501
Related to https://github.com/modxcms/revolution/issues/14857 - there's various warnings/issues in that specific processor.

[2021-03-06 19:01] Mark-H commented on #15504
Can you please check your PHP error log for reasons behind those 500 errors?

The unknown column errors suggest the database migrations weren't executed properly in the setup. When installing from git, did you build the core and run the setup?

[2021-03-06 19:03] Mark-H commented on #15216
This may require tweaking the base help url in MODX and perhaps also setting up some redirects on the docs-side.

[2021-03-06 19:08] Mark-H commented on #15502
Can you please check the output of that phpthumb URL? The warning in the log indicates something was already in the output, which is most likely a php notice or warning indicating another problem.

Looking at the referenced line (modMediaSource line 1499), I'm guessing it's a notice for `url doesn't exist in array` or something like that:

[code]

... which begs the question if the url is supposed

[2021-03-07 05:50] muzzwood commented on #15502
`$properties` array at line 1499:

[code]

This is a log of the phpThumb `$debugMessages` array just before it does an `exit;` - (plus the warnings from just above)
[code]

If you mean something differently to checking the output of the URL, where/how would I do that? Thanks!

[2021-03-07 05:56] muzzwood commented on #15502
Ah, so the thumbs are actually being generated in the cache. And the above output is from when it appears to be accessing the cache.

I deleted those thumb files in the cache and tried again. There's more to look at now:

[code]

[2021-03-07 06:20] Ibochkarev opened #15507 "PHP notice: Undefined offset: 2"
## Bug report
### Summary
Log error:

[code]

### Step to reproduce
Set system setting `log_level` to 4

Go to Extras -> Installer. Install for example Google Sitemap Generator or UltimateParent

### Observed behavior
[code]

### Expected behavior
There should be no errors in the log

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-alpha3 (git), PHP Version 7.4.12

[2021-03-07 07:04] Ibochkarev commented on #15216
Related https://github.com/modxcms/revolution/pull/15411

[2021-03-07 08:06] sergant210 opened #15508 "Recursive display of the folder with MODX tags in the name"
## Bug report
### Summary
 If you create a folder with any MODX tag in the name the MODx folder tree will create an infinitely nested loop of those folders.
![97478165-f41e2500-1926-11eb-9b73-c505512e39f6](https://user-images.githubusercontent.com/4679725/110207435-806fc400-7e94-11eb-8818-bda2dcedbc46.png)

The reason - MODX sanitized GET parameters and cut MODX tags. It passes only POST parameter

[2021-03-07 08:40] sergant210 commented on #15500
I'll take it.

[2021-03-07 08:43] sergant210 commented on #15500
The same for role.

[2021-03-07 09:34] Ibochkarev opened #15509 "Unknown column 'modContentType.icon' in 'field list'"
## Bug report
### Summary
After upgrading from version 2.8.1 to nightly build modx-3.0.0-alpha3-20210301 errors appear in the error log

### Step to reproduce
Install a clean build of version 2.8.1 before the nightly build modx-3.0.0-alpha3-20210301 and check for errors in the error log. Before upgrading, set the system setting log_level to 4

### Observed behavior
[code]

### Expected behavior
Th

[2021-03-07 09:51] Ibochkarev opened #15510 "Error flush_sessions_not_supported"
## Bug report
### Summary
After upgrading from version 2.8.1 to nightly build modx-3.0.0-alpha3-20210301 and after clicking on the button in the Manage -> Logout All Users menu, an error appears `flush_sessions_not_supported`. There is no such bug in a clean assembly of MODX3.

### Step to reproduce
Install a clean build of version 2.8.1 before the nightly build modx-3.0.0-alpha3-20210301, clickin

[2021-03-07 13:20] Ibochkarev commented on #14014
I don't see this problem.

MODX Revolution 3.0.0-alpha3 (git), PHP Version 7.4.12

https://user-images.githubusercontent.com/2138260/110241246-f7cb5380-7f79-11eb-9ada-74e1af0fa31c.mp4

[2021-03-07 13:31] Ibochkarev opened #15513 "Incorrect display of the file creation path"
## Bug report
### Summary

Incorrect display of the file creation path

### Step to reproduce

Go to the Files tab, right-click on the assets folder and select Quick Create File from the menu.

https://user-images.githubusercontent.com/2138260/110241473-2bf34400-7f7b-11eb-83aa-a8bd4de1ae75.mp4

### Observed behavior
![image](https://user-images.githubusercontent.com/2138260/110241531-8ee4db00-7f7b

[2021-03-07 13:32] ghost commented on #14014
I don't have the problem here either, alpha 3, March 1 nightly.

FF 86, OS X 11.2.2, MODX Cloud with PHP 7.3

[2021-03-07 13:34] Ibochkarev commented on #13898
I don't see this problem.

MODX Revolution 3.0.0-alpha3 (git), PHP Version 7.4.12

https://user-images.githubusercontent.com/2138260/110241663-1f232000-7f7c-11eb-9892-a2c12edcdae1.mp4

[2021-03-07 13:41] Ibochkarev commented on #14190
@Jako can you do it?

[2021-03-07 17:47] SnowCreative commented on #14014
Yes, seems to be fixed now. Closing this issue.

[2021-03-07 17:47] #14014 closed, assigned to nobody

[2021-03-08 10:04] Ruslan-Aleev commented on #15513
Related with https://github.com/modxcms/revolution/issues/15244

[2021-03-08 17:28] Mark-H commented on #15510
What's your `session_handler_class` system setting set to? Flushing sessions is only supported for the standard MODX session handler (database sessions), so perhaps (1) you're using PHP file sessions or (2) the session is set to `'modSessionHandler'` and should get rewritten in an upgrade to the full namespaced class name.

[2021-03-08 17:31] Mark-H commented on #15507
Line 165:

[code]

Do those packages not have a patch version..?

[2021-03-08 17:35] Mark-H commented on #15509
Hmm, did you no errors during the install? There is a migration for modContentType.icon so it's weird that's not there.

[2021-03-08 17:36] JoshuaLuckers commented on #15299
@theboxer do you have time to look into this?

[2021-03-08 17:37] Ibochkarev commented on #15510
Set `MODX\Revolution\modSessionHandler`

[2021-03-08 17:38] Mark-H opened #15514 "Invalid includes in 3.0 migrations"
## Bug report
### Summary

Migrations in setup/includes/upgrades/mysql/3.0.0-pl.php and setup/includes/upgrades/sqlsrv/3.0.0-pl.php are trying to include the following files that don't exist:

[code]

These individual migrations have been combined into `3.0.0-cleanup-system-settings.php` in #14856 by yours truly, but apparently I forgot to remove these references.

### Step to reproduce

Doesn't s

[2021-03-08 17:39] Mark-H commented on #15509
Duplicate of #15504

[2021-03-08 17:39] #15509 closed, assigned to nobody

[2021-03-08 17:40] Ibochkarev commented on #15509
I will repeat the upgrade tomorrow from a clean 2.8.1 to a nightly build 3.0

[2021-03-08 17:44] Mark-H commented on #14190
Replacing that function with `MODx.loadPage('resource/trash')` should do the trick as that has support for middle mouse/ctrl+click built in.

[2021-03-08 17:53] Mark-H commented on #15438
@sergant210 #15440 doesn't fix the path creation issues on windows, does it?

[2021-03-08 18:12] Mark-H opened #15515 "Could not find legacy class Foo after converting to MODX\Revolution\Foo"
## Bug report
### Summary

[In the testing of extras for 3.0](https://community.modx.com/t/modx3-compatibility-of-popular-extras-bug-hunt-edition/3738), there's one warning (log_level 2) that seems to come up _a lot_ that I think warrants some further discussion and perhaps core tweaking, which is `Could not find legacy class Foo after converting to MODX\Revolution\Foo`

On the surface it seems th

[2021-03-08 18:16] sergant210 commented on #15438
@Mark-H Can you describe the issue more precisely? Do you mean creating a folder?

[2021-03-08 22:14] matdave commented on #15301
After further thinking about this, I wonder if it would make sense to be part of the configuration check. A warning that pops up if the setting is no, but the site is on HTTPS. It appears the default behavior if it is just left empty is to set it to no, so it makes sense to keep the boolean option.

[2021-03-09 05:15] sergant210 commented on #15438
@Mark-H Exactly.

[2021-03-09 06:18] Ibochkarev commented on #14311
https://prettier.io/docs/en/configuration.html

[2021-03-09 06:21] Ibochkarev commented on #13043
The problem is urgent

MODX Revolution 3.0.0-alpha3 (git), PHP Version 7.4.12

https://user-images.githubusercontent.com/2138260/110427415-ea28e180-80d1-11eb-91f9-8246282ad0a3.mov

[2021-03-09 06:23] Ibochkarev commented on #14512
The trouble is straight. You need to do something about it.

[2021-03-09 07:11] Ibochkarev commented on #15314
@opengeek  is it still relevant or is it fixed here https://github.com/modxcms/revolution/pull/15349?

[2021-03-09 11:22] wax100 opened #15518 "Installation error. Make fields required?"
## Bug report
### Summary
On step **setup/?action=database** If U do not fill email \ password\ username and click ENTER - page will be reloaded and all Database credentials disappear. But U can go to next page

### Step to reproduce
https://www.youtube.com/watch?v=kE-l4irUep0

### Expected behavior
Do not allow to send form (also by keyboard ENTER) if any field is empty.
Save in Session JS (or so

[2021-03-09 14:11] opengeek commented on #15314
Fixed

[2021-03-09 14:13] #15314 closed, assigned to nobody

[2021-03-09 18:05] Ibochkarev commented on #13065
Added #15463

[2021-03-09 18:06] Ibochkarev commented on #15455
Fixed #15459

[2021-03-09 18:06] #15455 closed, assigned to nobody

[2021-03-09 18:06] Ibochkarev commented on #15392
Fixed #15422

[2021-03-09 18:06] #15392 closed, assigned to nobody

[2021-03-09 18:07] Ibochkarev commented on #15450
Fixed #15466

[2021-03-09 18:07] #15450 closed, assigned to Jako

[2021-03-09 18:08] Ibochkarev commented on #11856
Improved in #15485

[2021-03-09 18:08] Ibochkarev commented on #15471
Fixed #15477

[2021-03-09 18:08] #15471 closed, assigned to JoshuaLuckers

[2021-03-09 18:08] Ibochkarev commented on #15439
Improved in #15486

[2021-03-09 18:08] #15439 closed, assigned to Ibochkarev

[2021-03-09 18:08] Ruslan-Aleev commented on #13065
Not all delete windows have been fixed, for example, windows in grid still need to be fixed. I'll open it for now :)

[2021-03-09 18:10] Ruslan-Aleev commented on #11856
We need to discuss, let it be open for now :)

[2021-03-09 18:22] Ibochkarev commented on #15513
Fixed #15517

[2021-03-09 18:22] #15513 closed, assigned to nobody

[2021-03-09 18:23] Ibochkarev commented on #15503
Fixed #15519

[2021-03-09 18:23] #15503 closed, assigned to theboxer

[2021-03-09 18:23] Ibochkarev commented on #15493
Fixed #15521

[2021-03-09 18:23] #15493 closed, assigned to nobody

[2021-03-09 19:21] stuke2 opened #15524 "System setting to change class_key when creating new document in Tree"
## Feature request
### Summary
In the tree, next to the resource name, there is a "+"-sign to create a new **document** inside a resource.
It would be nice if you could change this to new **weblink** or **gallery**.

### Why is it needed?
I use Moregalery a lot and I allways have to tell my clients, dont click on the "+"-sign, or you still have to change the settings.
But I think there are other p

[2021-03-09 20:36] #14594 closed, assigned to nobody

[2021-03-09 20:36] #15416 closed, assigned to nobody

[2021-03-10 05:10] muzzwood commented on #15524
I wonder if this could be combined with https://github.com/modxcms/revolution/pull/13905
So you could pick a resource type and template at the same time...

[2021-03-10 10:37] #15497 closed, assigned to nobody

[2021-03-10 10:37] #15495 closed, assigned to nobody

[2021-03-10 10:37] #15453 closed, assigned to nobody

[2021-03-10 10:43] theboxer commented on #15425
@Ibochkarev can you stop assigning issues to me? Feel free to work on a PR instead.

[2021-03-10 10:44] Ibochkarev commented on #15425
@theboxer Ok, I will not use this function anymore. Sorry if I have caused you any inconvenience.

[2021-03-10 11:18] Ibochkarev opened #15528 "modAccessContext is deprecated since version 3.0"
## Bug report
### Summary
Error `modAccessContext is deprecated since version 3.0. ` and etc

### Step to reproduce
Install a clean build from github and go to the error log

### Observed behavior
[code]

### Expected behavior
There should be no errors in the log

### Related issue(s)/PR(s)
NA

### Environment
MODX Revolution 3.0.0-alpha3 (git) 09-03-2021, PHP Version 7.4.12

[2021-03-10 15:55] Ibochkarev commented on #14238
@Ruslan-Aleev is it still topical?  we kind of made edits on this topic

[2021-03-10 16:03] Ruslan-Aleev commented on #14238
I create a separate issue

[2021-03-10 16:03] #14238 closed, assigned to nobody

[2021-03-10 16:09] Ruslan-Aleev opened #15531 "Add fields to the MODX installer"
## Feature request
### Summary
It seems to me that it is worth adding additional fields to the installer:
1)  **"Site Status"** field (enabled or not), uncheck field and you can not worry about indexing the unfinished site.
2) Also **"Site name"** field, a useful setting, is found in other CMS, and it is logical to set the Site name when installing the site.

Perhaps we need other fields, or add o

[2021-03-10 21:10] Ibochkarev commented on #12762
@Jako https://github.com/modxcms/revolution/pull/15491 Is it still relevant after the update?

[2021-03-10 21:23] Jako commented on #12762
It seems to work the same as before on my mailhost:

- mail_smtp_prefix = '', Port 25 -> Mail is sent (but Quickmail says `CLIENT -> SERVER: STARTTLS`)
- mail_smtp_prefix = '', Port 587 -> Mail is sent (but Quickmail says `CLIENT -> SERVER: STARTTLS`)
- mail_smtp_prefix = 'tls', Port 587 -> Mail is sent
- mail_smtp_prefix = 'ssl', Port 465 -> Mail is sent

So it looks like the bug is still there.

[2021-03-11 06:53] muzzwood commented on #15524
In fact the PR mentioned above already included this functionality.

Work in progress refactoring: #15535

[2021-03-12 03:42] rthrash commented on #13898
I can also confirm that this isn't an issue in the latest code. If there are still problems, please reopen this.

<img width="998" alt="Screen Shot 2021-03-11 at 6 00 06 PM" src="https://user-images.githubusercontent.com/234237/110888832-9e815e00-82b2-11eb-9fac-94949ea7365e.png">

[2021-03-12 03:42] #13898 closed, assigned to nobody

[2021-03-12 09:55] wuuti commented on #15476
My thoughts so far:

- we should create a _config check_ for the 2.x branch, which checks if the installation is hardenend and warns that the upcoming 3.x version won't work with that, showing a link to a documentation how to mitigate that. Imho such config checks for upcoming versions should be available in the future (like the "upgrade advisor" used in elasticsearch). Such an upgrade advisor cou

[2021-03-12 10:34] JoshuaLuckers commented on #15476
I like the idea but I don't think it's a good idea to have it part of the core:
- If we add the config check in 2.x, users need to update to this particular 2.x release first.
- Updating the config check with new checks also require a new MODX release.

An extra would be much better because it doesn't require users to update MODX first and we can update it independently from MODX.

[2021-03-12 11:40] Ruslan-Aleev commented on #13199
By the way, there is also a "Recent Documents" tab in "System Information" section, in addition to https://github.com/modxcms/revolution/issues/13199#issuecomment-673006509

[2021-03-12 17:05] Mark-H commented on #15510
Can confirm the issue here as well.

This check in the Security\Flush processor must not be right, perhaps that's expecting double-escaped slashes in the setting?

        if ($this->modx->getOption('session_handler_class',null,modSessionHandler::class) === modSessionHandler::class) {

[2021-03-12 19:40] Mark-H opened #15540 "RFC: Dropping support for SQL Server in 3.0 [accepted]"
## Request for comment

### Background

For as long as I can remember, Revolution has supported an `sqlsrv` driver which allows it to be installed natively on windows servers using a Microsoft SQL Server rather than MySQL.

In that same time span, I've probably encountered like... 4 installations actually _using_ MODX on `sqlsrv`, the latest being [this thread on the forum last week](https://commu

[2021-03-12 19:43] rthrash commented on #15540
This issue has been mentioned on **MODX Community**. There might be relevant details there:

https://community.modx.com/t/rfc-on-dropping-sqlsrv-support/3784/1

[2021-03-12 19:53] Mark-H commented on #15531
The site name I understand...

But for the site_status I'm worried more about people not realizing their site is unavailable to anonymous users because they don't realize they unchecked a box weeks ago when they first installed MODX, than people having unfinished sites accidentally indexed. Does the config check currently show a warning if the site is deactivated that way?

[2021-03-12 19:55] Ruslan-Aleev commented on #15540
MODX needs to be cleaned of unused code for a long time.
Related with - https://github.com/modxcms/revolution/issues/13199

[2021-03-12 19:56] SnowCreative opened #15541 "MODX3 button colors seem wrong"
## Bug report
### Summary
Buttons in popup windows are gray now instead of blue

### Step to reproduce
For example, delete a resource, go into the trash, click Purge All.

### Observed behavior
The popup window has yes and no buttons, with the background color of yes being gray and no white

### Expected behavior
Primary button should be blue, not gray. Gray makes it look like the button is deacti

[2021-03-12 19:59] Ruslan-Aleev commented on #15531
In my opinion, no. Is it possible somehow to disable the site during the installation process?

[2021-03-12 20:03] Ruslan-Aleev commented on #15541
Yes, it makes sense to make the buttons more visible.

[2021-03-12 20:09] SnowCreative opened #15542 "MODX3 purge cache popup changes size"
## Bug report
### Summary
The purge cache popup changes widths after the first use.

### Step to reproduce
Go into the Trash manager to purge files. Remove one file, then remove a second (or else remove but cancel and then try again).

### Observed behavior
The purge cache popup is the correct size when you first click on "Erase all" or select "Purge selected resources" from the Bulk Actions popup

[2021-03-12 20:46] SnowCreative opened #15543 "MODX 3 panel setup could use a little rethinking"
## Feature request
### Summary
As I'm using the MODX3 alpha, the middle panel setup isn't making much sense to me.

### Why is it needed?

1. Now that the Content field is in the same panel as the pagetitle, alias, longtitle, etc., the collapsible panel feature doesn't really make much sense. Why would anyone do this:

![Screen Shot 2021-03-12 at 3 28 19 PM](https://user-images.githubusercontent.c

[2021-03-12 21:58] Mark-H commented on #15543
Relevant with a bunch more discussion: https://github.com/modxcms/revolution/issues/13968

[2021-03-12 23:37] SnowCreative opened #15544 "MODX3 form customization not working at all"
## Bug report
### Summary
MODX3 form customization not working at all.

### Step to reproduce
Enter form customization for any template.

### Observed behavior
None of the changes entered in form customization show up when editing resources with that template.

Is anyone else experiencing this? I tried on a converted site, but then did a clean install of alpha3-20210309, and it didn't work there e

[2021-03-12 23:40] SnowCreative commented on #15543
Ah, I see the issue you referenced is indeed part of the alpha 3 open issues. Hadn't noticed that. It's been so long (almost 3 years since that discussion started!) I couldn't remember what was discussed and what wasn't.

[2021-03-13 00:36] Mark-H commented on #15540
It's not technically unused code if it's officially a supported feature though. ;) Hence proposing we drop it as a feature and get rid of it.

[2021-03-13 05:07] Ibochkarev commented on #15540
And what about PostgreSQL support.  that would be a good innovation.

[2021-03-13 16:55] Mark-H commented on #15540
Postgres is not at all the question of this RFC. If you want to propose making that a core feature, then please open a separate issue to discuss that and to figure out what that would take to make happen. All I want to know in this issue from contributors and the wider community if they agree with the proposal to no longer support sqlsrv from 3.0 onwards or if there are important reasons to keep i

[2021-03-13 19:31] BobRay commented on #15540
Fine with me.

[2021-03-14 09:27] JoshuaLuckers commented on #15540
Sounds like a good idea to me!

[2021-03-14 11:17] alroniks commented on #15540
We have in code a lot of technical debt, and such things as `sqlsrv` sometimes do not allow us to move forward because need to think about implementation for such cases. Personally, I've never met the requirement of usage `sqlsrv`, so I've never added support of it to my extras. I absolutely agree about ridding of support of `sqlsrv` as a rarely used feature and focus on improving existing tools w

[2021-03-15 07:38] Ibochkarev commented on #15531
Related https://github.com/modxcms/revolution/issues/13876

[2021-03-15 09:34] Ibochkarev commented on #14649
@meshkov I installed a clean install using the command: `composer create-project modx/revolution www 3.x-dev`

As a result, I have everything in the database

![изображение](https://user-images.githubusercontent.com/2138260/111132642-cd921b00-85a3-11eb-97bc-8c86edc2853c.png)

[2021-03-15 13:05] Ibochkarev commented on #15216
@Mark-H We've updated the system setting and updated the rules for redirects. It is necessary to merge in the documentation site with the 3rd version and you can close this problem.

[2021-03-15 13:38] Ibochkarev commented on #14794
The last change from the github, I do not observe this error.

[code]

[2021-03-15 14:27] Mark-H commented on #14794
Tests have been updated to use `yoast/phpunit-polyfills` for cross-version comptible phpunit tests so this is indeed resolved.

[2021-03-15 14:27] #14794 closed, assigned to nobody

[2021-03-15 18:01] rthrash commented on #15272
This issue has been mentioned on **MODX Community**. There might be relevant details there:

https://community.modx.com/t/user-access-levels-user-accounts-assistance/3794/6

[2021-03-15 19:14] Ibochkarev commented on #15328
Fixed https://github.com/modxcms/revolution/pull/15505

[2021-03-15 19:15] Ibochkarev commented on #15508
Fixed https://github.com/modxcms/revolution/pull/15505

[2021-03-15 19:15] #15508 closed, assigned to nobody

[2021-03-15 19:16] Ibochkarev commented on #12762
Added in https://github.com/modxcms/revolution/pull/15536

[2021-03-15 19:16] #12762 closed

[2021-03-16 12:14] patrickatwsrn commented on #14595
Current Version is 2.8.1 and this is still an issue:

How can the number of active permissions be higher than the number of available permissions?

Cheers,

Patrick

[2021-03-16 12:17] alroniks commented on #14595
Interesting bug. The answer to the question How? is easy. We have system permissions, which come with MODX during installation, but other extras can add their own under the specific template, and the total value becomes 8 for example, while the system permissions linked only 7.

[2021-03-16 13:13] patrickatwsrn commented on #14595
Thanks for shedding some light on this mystery.

So the number of "native" permissions is shown in the column as "total", but the actual number can be higher because of third party plugins.

To fix this, we would have to find out how many "potential" permissions we have in each ACL and then list this number as the new total.

This might be tricky...

As time goes by more and more permissions will

[2021-03-16 13:57] Ibochkarev commented on #15542
Related https://github.com/modxcms/revolution/issues/14340

[2021-03-16 14:14] Ruslan-Aleev opened #15553 "Think over a mechanism for collecting statistics from users in MODX manager"
## Feature request
### Summary
Often discussing PR or an issue in the dialogue, the phrase "wait for feedback from users" is used.
But how do we collect this feedback? Because the sample of active users on github or in the chat is small.

Even if everyone in the chat voted unanimously, this does not mean that the majority of votes will be the same.

We need some kind of feedback mechanism and stat

[2021-03-16 14:14] Ibochkarev commented on #14649
Thank you for contacting us. This problem was fixed earlier.

[2021-03-16 14:14] #14649 closed, assigned to nobody

[2021-03-16 14:17] Ibochkarev commented on #15244
![изображение](https://user-images.githubusercontent.com/2138260/111323952-86d01e00-8694-11eb-8e8e-c2d1fb3e5f5c.png)

The problem is relevant in the installation from github from 16-03-2021

[2021-03-16 14:20] Ibochkarev commented on #14387
![изображение](https://user-images.githubusercontent.com/2138260/111324561-15449f80-8695-11eb-9c51-efe8bdb97d17.png)

The problem is relevant in the installation from github from 16-03-2021

[2021-03-16 14:24] Ibochkarev commented on #14388
![изображение](https://user-images.githubusercontent.com/2138260/111324837-5472f080-8695-11eb-8c67-eb0e45cef1f8.png)

The problem is not relevant in the installation from github from 16-03-2021

![изображение](https://user-images.githubusercontent.com/2138260/111325057-86845280-8695-11eb-8b60-afd0b5cf2bea.png)

The problem is  relevant in the installation 2.8.1

[2021-03-16 14:25] Ibochkarev commented on #14390
@JoshuaLuckers Is it relevant?

[2021-03-16 15:10] Mark-H commented on #15553
I've got something like that in my premium extras, where a user consents to things that get shared based on pre-defined levels, ranging from only the required data (i.e. version numbers and license info) to a lot of optional data that can provide modmore with interesting insights about how extras are used, but never any personally identifiable information. Largely technical stuff, like if an extra

[2021-03-16 15:38] Ruslan-Aleev commented on #15553
For example, using the MODX manager click map, we can collect statistics on what is not used by MODX users. I'm pretty sure that "HTML Import / Export" is almost never used (or rarely used), and it makes sense to remove it from the core. Less code means fewer bugs. I would start with this.

Collect statistics of countries, understand which translations are in priority.

We also need to somehow sti

[2021-03-16 15:49] ant-tar commented on #15553
My five cents (maybe this was the reason why Ruslan to write this feature request  -if so skip this please) but there is a good illustration for this FR as for me: https://community.modx.com/t/blank-manager-with-undefined-message/3799/16

[2021-03-16 16:02] Mark-H commented on #15553
I'm honestly not sure how we could automatically identify problems as described there, if it's already so difficult to identify it manually. Even sending a copy of any error or failed connector request - if it doesn't accidentally includes PII that would generate so much noise I don't think it would be useful to sift through.

For problems like that topic, where a problem happens in the browser (o

[2021-03-16 16:15] Ruslan-Aleev commented on #15553
Yes, I meant more about analytics, and feedback from users.
For example, we have implemented this PR https://github.com/modxcms/revolution/pull/15535 (showing a preview of the template) and we could ask users whether they like this feature or not, what is missing in feature, etc.
In general, there are a lot of issue / PRs that hang with the "beign-discussed" label, but there are not enough people

[2021-03-16 16:16] Mark-H commented on #15553
Perhaps we can log the namespace + action in modManagerController to something like the db registry, and send the total count for each action at most once a week to an API? That would tell us how often `core:import` is used as well as `core:user/messages` or `coolextra:index` without it revealing identifiable patterns or such. And the same approach could be used to log the active languages by havi

[2021-03-16 16:30] Ruslan-Aleev commented on #15553
Yes, about extras is a very accurate mention. This way we can collect statistics of extras and direct our efforts to testing / improving them, for example, before the release of MODX 3, and not the entire list of modx.com extras. Suddenly it turns out that there are not so many such extras :)

Yes, I totally agree. We have a welcome window after installation, the same window can be done for voting

[2021-03-16 21:44] alroniks commented on #14595
Thank you @patrickatwsrn Great explanations and suggestions. Sounds like a plan.

[2021-03-16 22:42] alroniks commented on #13846
Closed because it merged with https://github.com/modxcms/revolution/pull/15533

[2021-03-16 22:42] #13846 closed, assigned to nobody

[2021-03-16 23:43] #15544 closed, assigned to nobody

[2021-03-17 15:04] alroniks commented on #15502
@Ibochkarev Please, validate that the merged pull request fixed this issue.

[2021-03-17 17:23] travisbotello opened #15559 "OnUserRemoveFromGroup and OnUserBeforeRemoveFromGroup events not invoked via manager actions"
## Bug report
### Summary
The `OnUserRemoveFromGroup` and `OnUserBeforeRemoveFromGroup` events are not being invoked when removing a user from a user group in the manager UI. Not working via user profile edit nor via ACLs component.

### Step to reproduce
Create a plugin attached to `OnUserRemoveFromGroup` and `OnUserBeforeRemoveFromGroup` events that prints something to the log. Remove a user fro

[2021-03-17 18:35] alroniks commented on #15553
I see here two separate processes. Analytics can be collected automatically, but without identifying the users to respect privacy. And also tools that can allow us to get feedback about features.

Implement the first one now can be difficult and I would like to postpone it a bit. But if somebody will provide PoC, we can it discuss of course. But about the second, it may work in the paid with Roadm

[2021-03-17 18:36] Ibochkarev commented on #15502
Fixed in #15526

https://user-images.githubusercontent.com/2138260/111520132-00920580-8782-11eb-9826-5694df0e7c79.mov

[2021-03-17 18:36] #15502 closed, assigned to nobody

[2021-03-17 18:50] SnowCreative opened #15560 "Media Source allowedFileTypes should prevent upload of unlisted types"
## Feature request
### Summary
The media source setting allowedFileTypes prevents display of any file type that doesn't match the list you enter. If you can't view a file type through a particular media source, you shouldn't be able to upload it either.

### Why is it needed?
If someone uploads a file that is not in the allowed file types list, it will never be viewable through that media source.

[2021-03-18 02:44] #8509 closed

[2021-03-18 02:47] Ibochkarev commented on #14184
Related https://github.com/modxcms/revolution/pull/15535

[2021-03-18 09:02] sergant210 commented on #14391
@Mark-H  as for me, I think that lexicons should not contain html markup.

[2021-03-18 16:00] Spheerys opened #15563 "Setting modx_browser_default_viewmode not working"
I'm using Media Source with MODX 2.8.1
The default view when uploading a file inside this media source is grid.
There is a setting called modx_browser_default_viewmode where we can change the default view to list
But it is not effective (always grid view) and it's look like a bug.

Didn't it ?

[2021-03-18 16:13] Ruslan-Aleev commented on #15563
I can not reproduce the bug, I see it as a list (both in the file manager and in TV with files):

![list](https://user-images.githubusercontent.com/12523676/111658889-d2620380-881d-11eb-9fc9-25cc88598bb8.png)

The settings are set:

![sys_list](https://user-images.githubusercontent.com/12523676/111659065-f58cb300-881d-11eb-8cc2-2e9ccefc797b.png)

[2021-03-18 16:39] Spheerys commented on #15563
Hummm I realized the problem occurs under the Redactor's filemanager...
Sorry for the issue, I will search on Modmore support

[2021-03-18 16:39] #15563 closed, assigned to nobody

[2021-03-18 18:35] #15528 closed, assigned to nobody

[2021-03-18 22:20] BobRay opened #15564 "MODX 3 changelog format changes"
## Bug report
### Summary
When intalling an extra where the changelog is a text file, line breaks are no longer applied to to the list of updates, which appears as a solid paragraph.

### Step to reproduce
Install UpgradeModx and look at the changelog during installation.

[2021-03-18 22:23] BobRay commented on #15564
The changelog looks as it should in Package Pananager "View Details."

[2021-03-18 22:42] Jako commented on #15564
The problem is: markdown and plain text are not replaceable with each other. MODX 3 uses markdown for the description/changelog and text files with missing line feeds have some issues in markdown. I suggest closing this as wontfix.

[2021-03-19 06:51] alroniks commented on #11360
Finally it is done! 🎉

[2021-03-19 06:51] #11360 closed

[2021-03-19 07:28] sergant210 commented on #14159
Nice idea. But I would do it through a new modifier "print" to output arrays. Sometimes it can be useful for snippet's output when it returns an array.
[code]

[2021-03-19 16:33] Ibochkarev commented on #13941
![изображение](https://user-images.githubusercontent.com/2138260/111813164-0c590580-8903-11eb-9adc-ee18781b98d8.png)

Fixed https://github.com/modxcms/revolution/pull/15552

[2021-03-19 16:42] SnowCreative commented on #13941
What exactly is the fix? Your screen shot shows the TestTV field below Content, rather than above it.

[2021-03-19 17:01] Ibochkarev commented on #13941
I am getting better. I did not fully understand the problem.

In 2.8.1

![изображение](https://user-images.githubusercontent.com/2138260/111815725-35c76080-8906-11eb-93ac-71b648e810c2.png)

In 3.x

`modx-resource-content` is inside `modx-resource-main-left`. Therefore, it is displayed below, you need to take out `modx-resource-content` from `modx-resource-main-left`

![изображение](https://user-im

[2021-03-19 17:08] SnowCreative commented on #13941
Right. Or, like we're doing now for modx-resource-main-right, create subsections: modx-resource-main-left-top,  modx-resource-main-left-bottom. These wouldn't be separate panels like on the right, but really just sections of the single panel. This would let us put TVs above or below the content.

So, the three divs right above modx-resource-content would get wrapped together in a div with ID "modx

[2021-03-19 20:54] BobRay commented on #15564
Wouldn't that mean that the rendering system used in Package Manager's "View Details" would be different than the one used during installation of extras?

[2021-03-20 05:36] smg6511 commented on #15540
Yes, I'd agree. I've not come across a need for sqlsrv support. I'd venture to guess that the open source audience that modx attracts overwhelmingly develops on the unix rather than windows platform.

[2021-03-20 17:19] Ruslan-Aleev opened #15565 "Change the primary colors in manager template"
## Feature request
### Summary
After changing the logo, the old colors look out of place, especially green (since there is most of it in the admin panel).
I suggest changing them closer to the logo, for example:

Green (as from the logo, but darker):
![color_1](https://user-images.githubusercontent.com/12523676/111878652-b6469980-89b8-11eb-975b-597348b2212f.png)

Blue (as in the logo):
![color_2](

[2021-03-21 10:39] JoshuaLuckers commented on #15540
@Mark-H I think we can move forward with this!

[2021-03-22 02:17] SnowCreative opened #15569 "Namespace info not being retrieved"
## Bug report
### Summary
The modNamespace object is not returning namespace info

### Step to reproduce
Put this in some code:
$obj = $modx->getObject('modNamespace', array('name', '[namespacename]'));
$componentCorePath = $obj->getCorePath();
$componentAssetsPath = $obj->getAssetsPath();

Enter whatever namespace you want.

### Observed behavior
The paths for the "core" namespace are returned, n

[2021-03-22 02:43] Mark-H commented on #15569
Looks like a coding error:

[code]

should be:

[code]

Note using the key => value syntax in the array there.

[2021-03-22 05:32] SnowCreative commented on #15569
Yeah, already figured that out. I had just copied and pasted that from one of Bob Ray’s pages without looking closely. Got to notifiy him!

[2021-03-22 05:34] #15569 closed, assigned to nobody

[2021-03-22 08:27] Ibochkarev opened #15573 "New password cannot be copied"
## Bug report
### Summary
New password cannot be copied after automatic generation of MODX

### Step to reproduce
Go to Management - Users. Select a user, check the New password checkbox, select automatic password generation and save.

### Observed behavior

https://user-images.githubusercontent.com/2138260/111960771-5cf67b80-8b1a-11eb-92bd-1dbaf5bb4248.mp4

### Expected behavior
After generation,

[2021-03-22 10:05] sergant210 commented on #15437
@Ibochkarev It's not a bug. This is a specific behavior of the upload dialog. Only the first click performs the upload operation. So the following clicks do not perform any operation. To re-upload a file you need to clear the file list and choose it again. Or reopen the dialog, which is essentially the same thing.

@himurovich To overwrite an existing file set the "upload_check_exists" system sett

[2021-03-22 10:16] ghost commented on #15573
Actually it can be copied, but it has to be done very, very carefully. There cannot be any mouseup events. You have to move the mouse down to the notification, highlight the password without letting the mouse up, then copy using ctl-c or cmd-c. The notification will remain in place until there is a mouseup event, it doesn't disappear automatically.

That said, it is definitely a UI problem that ne

[2021-03-22 11:02] alroniks commented on #15540
How are we going to convert such RFCs to a solution or a made decision?

[2021-03-22 11:03] Ruslan-Aleev opened #15575 "In the "Account" section, you cannot change the "username""
## Bug report
### Summary
In https://github.com/modxcms/revolution/pull/15539 I made the output of the fields in the "Account" section in the same way as in the "User" section, however, although the `username` field was displayed, but it could not be changed. In that PR made this field read-only.

I thought that the logic here is that only a super-user can create users, and only a super-user can c

[2021-03-22 15:43] Ruslan-Aleev opened #15576 "Unused files in manager"
## Bug report
### Summary
In my opinion, the files below are not used in the manager:

Whole section:
`manager/assets/modext/sections/security/role/`

Files:
[code]

Files:
[code]

Files:
[code]

**If these files are really not used**, it makes sense to delete them.

[2021-03-22 21:30] Bruno17 commented on #14074
I think, this was solved at the snowup with #15488.
Since this was a feature request on sterc's bounty list, I wonder, if anyone could test it, if it works as expected.
If yes, I think, this could be closed.

[2021-03-23 03:45] Mark-H commented on #15540
I hereby decree, without any particular power vested in me by anyone and definitely without any legal prejudice or authority, that **the community and a sufficiently large set of active contributors have voted unanimously to drop support for sqlsrv in MODX 3** as proposed.

@alroniks How's that? 😄

--

Next step is obviously to work on actually removing it and making sure this is documented and we

[2021-03-23 03:56] garryn commented on #15540
Just get rid of MSSQL support, I doubt it'd be fully functional right now anyway ... I don't think the sqlsrv stuff has been maintained for a while now. That's MHO.

[2021-03-23 06:36] alroniks commented on #15540
Absolutely totally acceptable :)

[2021-03-23 06:40] alroniks commented on #15540
I will handle this during the next few weeks if nobody does mind.

[2021-03-23 12:10] ant-tar commented on #15437
Thanks @sergant210 ,I've got the idea!

[2021-03-23 12:10] #15437 closed, assigned to nobody

[2021-03-23 15:10] JoePetts opened #15580 "Category rank updates only after a reload of the page"
## Bug report
### Summary
If you rewrite the rank of the category, it will be updated only after reloading the page.

### Step to reproduce
Right click on the category, rename, rewrite rank value, save.

### Observed behavior
If you right-click on the category again and go back to rename, the old value is still there, although the new content was transferred to the database.

### Expected behavior

[2021-03-23 15:10] rthrash commented on #15580
This issue has been mentioned on **MODX Community**. There might be relevant details there:

https://community.modx.com/t/sort-categories-in-resource/3847/5

[2021-03-23 15:17] ghost commented on #15580
This is because the Tree is loaded via AJAX, and is not refreshed upon every change in a resource or element. That's what the `Refresh` icons are for next to each element section.

<img width="296" alt="Screen Shot 2021-03-23 at 17 18 54" src="https://user-images.githubusercontent.com/1073780/112170804-07929b00-8bfc-11eb-879f-c68c448d51ba.png">

[2021-03-23 15:22] JoePetts commented on #15580
This is my contribution in the community which I also wanted to mention here.

@Sottwell
Thanks for the clarification, had hardly used the update so far. Now I know in which cases this is useful.

[2021-03-23 17:44] fosterescapes opened #15581 "Redirect homepage to setup, before install"
## Feature request
### Summary
After uploading Modx files to website, if you try to access the site's homepage it should redirect to the Modx setup page.

### Why is it needed?
Currently after uploading Modx and browsing to the site's homepage, before running setup, the user is shown a Error 503 page for "Could not load MODX config file." This is an unfriendly design.

### Suggested solution(s)
It

[2021-03-23 17:57] Jako commented on #15581
Nice idea! But it must be checked for the presence of the setup folder etc.

[2021-03-23 17:59] JoshuaLuckers commented on #15581
It would mean any visitor will be redirected to the setup.. I don't think that's a good idea to have a random visitor to be redirected to the setup.

[2021-03-23 18:07] Ruslan-Aleev commented on #15581
@JoshuaLuckers Here, it seems to me, just before the site is installed. We can make a condition to check for the existence of a specific file.
Many CMSs work this way. And if the site is already installed, then do nothing, and even update via `setup/` will take place via a direct link, without a redirect.

[2021-03-23 21:28] alroniks commented on #13618
@JoshuaLuckers I guess it solved by https://github.com/modxcms/revolution/pull/14078, isn't it?

[2021-03-23 21:30] alroniks commented on #13579
@Ibochkarev Have a look, please. If you can create a skeleton of such a document, I will contribute and fill in the details.

[2021-03-23 21:35] alroniks commented on #12723
I am closing it as issues do not have many details and too old. If issues still valid, please, reopen.

[2021-03-23 21:35] #12723 closed

[2021-03-23 21:46] alroniks commented on #9213
As I know in the latest releases such an issue is gone. Due to the age of the issue, I am closing it, but please, reopen, if needed.

[2021-03-23 21:46] #9213 closed

[2021-03-23 21:48] JoshuaLuckers commented on #13618
This is about copying the URL, not the path

[2021-03-23 22:22] alroniks commented on #10061
Tested on 2.8.1 and it returns entry. So, I am closing it. Feel free to reopen.

[2021-03-23 22:22] #10061 closed

[2021-03-23 22:32] fosterescapes commented on #15581
My thought was that this would only trigger:
- if there is no config file,
- the setup folder is there,
- and setup is not locked

But maybe a redirect is too much, it could just be a notice stating that the next step is to run setup, some links to the getting started docs, etc...

![modx-setup](https://user-images.githubusercontent.com/8201555/112227437-6f51e180-8c0e-11eb-8786-70da3522e4e0.png)

[2021-03-23 23:01] alroniks commented on #15514
It seems to be fixed with one of the merged pull requests.
https://github.com/modxcms/revolution/blob/3.x/setup/includes/upgrades/mysql/3.0.0-pl.php

[2021-03-23 23:01] #15514 closed, assigned to nobody

[2021-03-24 02:32] Ibochkarev commented on #13579
@sdrenth https://docs.modx.com/current/en/contribute/code

![изображение](https://user-images.githubusercontent.com/2138260/112245693-92ff4100-8c7b-11eb-85db-2289c4b3b286.png)

This section has been seriously revised and rewritten @Mark-H , so I vote to close this request.

[2021-03-24 05:30] sergant210 commented on #15580
I think it's a bug. The changes should be displayed immediately. The category name changes immediately, but the rank still has the old value if you reopen the Rename dialog.

[2021-03-24 05:54] sergant210 opened #15584 "Unnecessary tabs for the anonymous user group"
### Summary
We have a user group for anonymous users. It is virtual. There are 4 tabs in the group editing interface.

![User Group anonymous  tabs](https://user-images.githubusercontent.com/4679725/112261984-ed010600-8c7d-11eb-801e-3c0d06d39bc3.jpg)

The last two require a real group, not a virtual one. Therefore, trying to add a user or a setting to the anonymous group will cause an error.

![Us

[2021-03-24 06:16] alroniks commented on #13579
Yep, it covers the main topic and it can be improved, but the issue solved.

[2021-03-24 06:16] #13579 closed

[2021-03-24 08:18] Ruslan-Aleev commented on #15584
How did you get into the anonymous group edit form? Through direct link? If so, then this is not really a bug :)

[2021-03-24 08:29] sergant210 commented on #15584
Magic )

![Access Control Lists  MODX Revolution — Mozilla Firefox](https://user-images.githubusercontent.com/4679725/112278632-19278180-8c94-11eb-8159-f8a01c3cc075.jpg)

[2021-03-24 08:35] Ruslan-Aleev commented on #15584
In my opinion, it is more logical to turn off the menu for anonymous group. Because anonymous group shouldn't be edited or not?

[2021-03-24 08:41] sergant210 commented on #15584
This group should be able to configure access permissions for contexts and resource groups.

[2021-03-24 12:40] crystaldaking opened #15585 "Nightly build update dublicate colum errors"
## Bug report
### Summary
When updating the build using the "classic" method using setup, there are errors

<img width="883" alt="Снимок экрана 2021-03-24 в 13 09 12" src="https://user-images.githubusercontent.com/25440397/112311826-2ace5080-8cb7-11eb-8554-8a5393004c4e.png">

### Step to reproduce
Install the March 9 version of MODX 3 and update with the latest available build

### Observed behavi

[2021-03-24 12:44] Mark-H commented on #15585
Unless you're experiencing issues where the database columns are **not** created or something behaves out of the ordinary after the setup, those errors are expected and completely safe to ignore. You're bound to get those when repeating an install or when installing alpha (and possibly even beta/rc versions) because most migrations are bound to the version number (i.e. 3.0.0) and not the specific

[2021-03-24 12:46] Mark-H commented on #15585
Closing as duplicate of #15462

[2021-03-24 12:46] #15585 closed, assigned to nobody

[2021-03-24 13:01] Mark-H commented on #15462
@Jako @JoshuaLuckers Are you really concerned about these errors?

As far as I'm concerned they're harmless and expected while upgrading between different releases with the same version number. I'm inclined to "wontfix" unless there are good reasons we shouldn't.

--

As for the expected behavior @wuuti describes:

Agreed, however...

... it technically **is** an error, as a migration failed.

It

[2021-03-24 14:10] SnowCreative opened #15586 "MODX3 Can't log in unless I'm a sudo user"
## Bug report
### Summary
Can't log in unless I'm a sudo user.

### Step to reproduce
Install MODX 3 alpha 3 nightly March 23. Assign your user Administrator permissions, super user. Uncheck "sudo" and save.

### Observed behavior
You'll get logged out, and can't log in again. I've tried assigning other user groups and roles, and they all fail unless sudo is checked off.

### Expected behavior
Sho

[2021-03-24 14:22] SnowCreative opened #15587 "Help button appears when "help" permission is set to off"
## Bug report
### Summary
Help button in various places appears when "help" permission is set to off.

### Step to reproduce
Edit the ACL for your user level and turn off "help" for the assigned policy. This should remove all access to the Help page.

### Observed behavior
The Help menu is removed, as expected, but Help buttons still appear. For example, when editing a resource:

![Screen Shot 202

[2021-03-25 04:08] sergant210 commented on #15587
In general, it is very strange to prohibit users from receiving help. Very very strange.

[2021-03-25 05:53] sergant210 commented on #15586
1. I created a test user without the sudo permission.
2. Added him to the Administrator group with the "Super user" role.
3. Logged in to the manager successfully.

Did I do everything right?

[2021-03-25 05:57] ghost opened #15590 "Create and Quick Create Dropdowns"
## Bug report
### Summary
The Create and Quick Create dropdowns don't drop down

### Step to reproduce
In the Tree, in the Resources tab, right-click to bring down the Resources menu.

### Observed behavior
The Create and Quick Create dropdowns don't drop down.

<img width="318" alt="Screen Shot 2021-03-25 at 7 48 47" src="https://user-images.githubusercontent.com/1073780/112425947-ae338480-8d3f-1

[2021-03-25 06:26] ghost opened #15592 "Resource and Element Duplicate Checkbox Default State Consistency"
## Bug report
### Summary
The "Redirect to duplicate" checkbox default states are not consistent

### Step to reproduce
Duplicate a Resource or Element from the Tree
<img width="300" alt="Screen Shot 2021-03-25 at 8 18 27" src="https://user-images.githubusercontent.com/1073780/112427987-2ea7b480-8d43-11eb-82bf-c95c77f164d0.png">

Duplicate a Resource or an Element from its menu
<img width="300" al

[2021-03-25 07:54] Ruslan-Aleev commented on #15592
I think the current state is correct.
When copying a resource through a tree, a redirect to the copy is not needed, because you can edit a completely different resource, or, for example, a chunk.
And when copying a resource from the resource editing form, it is more often necessary to edit the new copy, as it seems to me. If we turn off the checkbox in resource editing form, you will have to turn

[2021-03-25 08:26] ghost commented on #15592
That makes sense, although even if it were checked by default and you were redirected to the new duplicate, you can still use the Tree to go where you want just the same.

However, it's a very minor matter of personal perception, since no real functionality is impacted.

[2021-03-25 11:35] Ruslan-Aleev commented on #15590
@digitalpenguin When you have time, please fix this bug.
After your PR - https://github.com/modxcms/revolution/pull/15424 this condition is no longer triggered:

https://github.com/modxcms/revolution/blob/5169becd127ae0f5fe3eb5794da63797372af779/manager/assets/modext/widgets/resource/modx.tree.resource.js#L665

[2021-03-25 12:10] muzzwood commented on #15590
Sure, I'll look into that tomorrow morning.

[2021-03-25 12:41] SnowCreative commented on #15586
Did you use the latest nightly from March 23?

[2021-03-25 12:42] SnowCreative commented on #15587
Well, I don't agree. *I* am the help for my clients. They wouldn't be able to make any sense out of the MODX help pages, which aren't geared towards editors. And, one less button up there makes the screen less cluttered.

[2021-03-25 13:45] Mark-H commented on #15587
IIRC, the help permission is for the dedicated help page, not the contextual help buttons. Can see the confusion but I'd say that's working as expected

[2021-03-25 14:46] ghost commented on #15587
I remember years ago being able to customize those help buttons to load my own help text, but I see now that it's hard-coded in the ExtJS to the base_help_url System Setting. I suppose that you could set that to your own Help resource, and take it from there.

[2021-03-26 03:15] muzzwood commented on #15590
Fixed in #15593

[2021-03-26 16:06] SnowCreative commented on #14422
Context groups would be nice for ACLs, too, so you could assign editors to one context group that contains multiple languages.

Nesting seems like a good idea. Otherwise, just renaming the contexts makes it clear which ones go with which sites. That's what I've been doing with my multilingual sites. For me, nesting is what would make a big difference. For example, I have an installation with three

[2021-03-26 16:26] SnowCreative commented on #13988
What bothers me most is that you can't start typing to filter the categories list. Ability to type is inconsistent throughout the whole manager. For example, in some places, you can type to filter the list of resource templates; in others you can't. I think that ALL dropdown lists like this, whether or not they are paginated, should be filterable by typing.

[2021-03-26 20:49] rthrash commented on #15299
This issue has been mentioned on **MODX Community**. There might be relevant details there:

https://community.modx.com/t/close-button-not-always-working/3867/2

[2021-03-27 06:39] sergant210 commented on #15586
I just tested on the latest dev 3.x branch. It works as expected.

[2021-03-27 07:09] sergant210 opened #15595 "User name in the manager"
## Feature request
### Summary
In the manager it is not clear what user is logged in.

![username](https://user-images.githubusercontent.com/4679725/112712944-985ec480-8ee3-11eb-9617-d47cf8399f5d.jpg)

### Suggested solution(s)
May be to add a header to the context menu.
![username](https://user-images.githubusercontent.com/4679725/112713104-65690080-8ee4-11eb-9be0-a49dc4641946.jpg)

[2021-03-27 08:54] Ibochkarev commented on #15586
Checked on a build installed today using a composer (3.x-dev 0acc0d92fcea3fc97ab5692a8d3b55648fd6ef2c)

https://user-images.githubusercontent.com/2138260/112715700-1767f300-8f0c-11eb-861c-18cf3916c2d8.mov

[2021-03-27 09:01] sergant210 commented on #15586
Did you install from the 3.x branch or as usual?

[2021-03-27 09:02] Ibochkarev commented on #15586
`composer create-project modx/revolution www 3.x-dev`

[2021-03-28 18:28] Ibochkarev commented on #15007
Improved in #15457

[2021-03-28 18:28] #15007 closed, assigned to ilyautkin

[2021-03-28 20:03] Ibochkarev commented on #15216
Fixed https://github.com/modxcms/revolution/pull/15572

[2021-03-28 20:03] #15216 closed, assigned to Ibochkarev

[2021-03-29 07:34] Ibochkarev commented on #14337
Fixed  #15482

[2021-03-29 07:34] #14337 closed, assigned to nobody

[2021-03-29 10:48] alroniks commented on #15299
@Ibochkarev PR into 2.8 merged, but what about 3.x? Is it still relevant?

[2021-03-29 10:50] Ibochkarev commented on #15299
the fix was added to both branches.

[2021-03-29 10:50] #15299 closed, assigned to theboxer

[2021-03-29 12:24] Ibochkarev commented on #15576
`manager/templates/default/context/view.tpl` - https://github.com/modxcms/revolution/blob/3.x/manager/controllers/default/context/view.class.php#L69

As far as I understand, this file is used, for the rest I did not find any mention of connecting these files.

[2021-03-29 12:29] Ruslan-Aleev commented on #15576
There is a file in the code, yes.
But how exactly can the context be viewed based on the class?

[2021-03-29 12:29] sergant210 commented on #15576
Maybe they are used by third-party components? I vote to keep them

[2021-03-29 12:47] Ibochkarev commented on #15565
Personally, I don't like the colors suggested (agreed upon) with the logo.

I propose to prepare a palette of colors for buttons, switches, panels and their state on hover for the entire administrative panel. Since everything was done in haste.

And now some colors have problems with contrast and their accessibility.

For example:
![изображение](https://user-images.githubusercontent.com/2138260/11

[2021-03-29 15:06] it-scripter opened #15604 "sanitizePatterns should be extended to avoid xss"
## Bug report
### Summary
XSS issues for the usage of sanitizePatterns

### Step to reproduce
In my case with a search form based upon simpleSearch - but this is based on modx::sanitizePatterns, so it will be pop up on different places.
use these parameters  for your simpleSearch-Page-URL:
A: ?search=Test"><svG%20onLoad=prompt(9)>
or
B: ?search=Test"><img%20src=...here an URL for an image - withou

[2021-03-29 15:21] #15590 closed, assigned to nobody

[2021-03-29 15:28] Mark-H commented on #15604
I don't think that's meant for XSS protection, and if simplesearch is using it that way, simplesearch is doing it wrong. To my knowledge that's only supposed to filter out MODX tags in non-mgr contexts.

[2021-03-29 16:04] it-scripter commented on #15604
Okay, Mark. "Sanitize" sounds like a way to avoid xss. And with <script>...</script> it works.
Is there another method to sanitize incoming post or get parameters?

If so, can I make a change request for simpleSearch.
It is now developed by sterc and not splittingred, right?

I always thought that POST and GET parameters are cleaned automatically by modx, or am I confusing it with another system a

[2021-03-29 16:08] Ibochkarev commented on #15604
https://github.com/modxcms/SimpleSearch

[2021-03-29 16:13] it-scripter commented on #15604
What's about:
https://docs.modx.com/current/en/extras/simplesearch/index
there is a link to this repo: https://github.com/Sterc/SimpleSearch

that's confusing, @Ibochkarev
and as I can see, the sterc repo isn't a fork.

[2021-03-29 16:15] sergant210 commented on #15604
This is the responsibility of the site developer, not MODX.

As for SimpleSearch, it should filter user data.

[2021-03-29 16:18] Ibochkarev commented on #15604
I was wrong. Sterс will have a fresh fork.

[2021-03-29 16:25] Ibochkarev commented on #14531
This problem is not reproducible

https://user-images.githubusercontent.com/2138260/112868203-9a8c7300-90dd-11eb-8515-0a8443bf3b19.mov

[2021-03-29 16:25] #14531 closed, assigned to nobody

[2021-03-29 16:35] Ibochkarev commented on #11830
Thanks for your issue. This was fixed in #13778

[2021-03-29 16:35] #11830 closed

[2021-03-29 16:47] Mark-H commented on #15604
Sanitize can mean very different things in different contexts and will need different handling depending on where and how it's used.

For simplesearch/xss filtering, you'd typically use htmlentities as part of the render process. I've definitely added the htmlent output filter to the simplesearch form on a few sites before so if that hasn't since been made the default, it should be. ;)

[2021-03-29 16:56] it-scripter commented on #15604
Indeed

You are right: I remember using it before (a long time ago). Of course, it would be better to handle it with the incoming data, because XSS is just one risk, and SQL injection remains a high risk

[2021-03-29 19:59] it-scripter commented on #15604
After some further research I've found an access to a request variable directly from url - for using inside the form - with no sanitizing via modx or simpleSearch.
Therefore this is obviously my fault this bug report can be close.
Thanks for your support.

[2021-03-29 19:59] #15604 closed, assigned to nobody

[2021-03-29 21:16] alroniks commented on #12299
@Ruslan-Aleev Seems you can have a look at this.

[2021-03-29 21:32] alroniks commented on #12594
Due to inactivity, I am closing the issue. I am not sure that mod_security module widely used, but if any issue will happen, please reopen it.

Also, in documentation exists an article about troubleshooting while using mod_security tool. https://docs.modx.com/current/en/getting-started/installation/troubleshooting/modsecurity

[2021-03-29 21:32] #12594 closed

[2021-03-29 21:39] alroniks commented on #12935
I guess in 2021 it lost its actuality. Feel free to reopen.

[2021-03-29 21:39] #12935 closed

[2021-03-29 21:42] alroniks commented on #13259
Fixed in 3.x https://github.com/modxcms/revolution/pull/15487

[2021-03-29 21:42] #13259 closed

[2021-03-29 21:44] alroniks commented on #13196
Solved.

[2021-03-29 21:44] #13196 closed

[2021-03-29 21:46] alroniks commented on #13279
In 3.x you can use https://github.com/modxcms/revolution/blob/3.x/setup/cli-install.php

[2021-03-29 21:46] #13279 closed

[2021-03-30 04:19] Ibochkarev commented on #15412
@opengeek Can you create a 3.0 file and fix the documentation links?  I will correct the value in the system settings.

[2021-03-30 06:14] sergant210 commented on #15586
Confirmed.

[2021-03-30 14:05] jaygilmore commented on #15412
I've resolved this. You can preview the page at https://misc.modx.com/revolution/welcome.30.html

[2021-03-30 16:47] Ruslan-Aleev commented on #15595
@opengeek @rthrash And why are labels hidden in the bottom menu? Can we display them in the same way as in the menu above? Now it's just hidden through css. And it will be like this:

![footer_menu](https://user-images.githubusercontent.com/12523676/113025517-b43ac280-9190-11eb-9f5f-9f3c3842835f.png)

[2021-03-30 16:49] opengeek commented on #15595
@Ruslan-Aleev — @rthrash and I have nothing to do with that as far as I know. I'm not sure why you are @ mentioning us?

[2021-03-30 17:01] sergant210 commented on #15595
I would suggest to rename the Admin menu item to System.

[2021-03-30 17:33] Ruslan-Aleev commented on #15595
@opengeek Who to ask then? Knowing your conservative attitude towards PRs, it is probably logical to assume that such a display of the menu was done, at least with your approval.

[2021-03-30 17:36] Ibochkarev commented on #5945
Fixed earlier. Feel free to reopen.

[2021-03-30 17:36] #5945 closed

[2021-03-30 17:50] Mark-H commented on #15595
Jason has never been involved with the UI side of things, we all have our areas of expertise 😅

I suppose this was built this way for simplicity, based on initial designs that came out of the sterc project. That was probably not extensively discussed one way or another, but just one person's concept that was further adapted over time.

Important to note there's not much room (horizontally),
so peo

[2021-03-30 19:35] Ibochkarev commented on #15518
Fixed #15518

[2021-03-30 19:35] #15518 closed, assigned to nobody

[2021-03-30 20:21] alroniks commented on #13821
Permissions can not be isolated and equal by the power. Allowing editing snippets (code) means that such permissions just has more power than restricting edit system setting. We can not just by turning off one setting block all other operations in the system. Permission should be atomic and solve one particular case when full protection is a combination (proper combination) of such rules.

I am cl

[2021-03-30 20:21] #13821 closed, assigned to nobody

[2021-03-30 20:32] alroniks commented on #13855
Seems it should e fixed by this one https://github.com/modxcms/revolution/pull/15505
But still valid for 3.x

[2021-03-30 20:41] Ibochkarev commented on #13855
![изображение](https://user-images.githubusercontent.com/2138260/113053755-778bbd00-91ca-11eb-85c7-1b66b975a958.png)
![изображение](https://user-images.githubusercontent.com/2138260/113053798-84101580-91ca-11eb-98f4-4cc3d99760b5.png)

@alroniks This has been fixed

[2021-03-30 20:46] alroniks commented on #13855
It does not work for me when I created the file via phpstorm. With commas and &. I will double check on 2.x and 3.x but seems combinations still may break the system.

[2021-03-30 20:47] alroniks commented on #13855
It also related https://github.com/modxcms/revolution/issues/14060

[2021-03-30 20:48] jaygilmore commented on #15595
I don't think any value is added in finding out who made the specific design choice or who accepted it in the first place. I think our energies would be better spent in working to offer considered solutions to what is likely a valid UX concern.

The "how" it gets implemented definitely merits discussion. As @Mark-H notes, it could get messy there with longer usernames or lexicon entries for differ

[2021-03-30 20:50] alroniks commented on #14084
Closing as PR accepted and merged.

[2021-03-30 20:50] #14084 closed, assigned to nobody

[2021-03-30 20:53] alroniks commented on #14088
Seems it was refactored in 3.x and I can not find such an error message. Generating thumbs for PDF possible task, but it goes out boundaries of MODX responsibility. Closing.

[2021-03-30 20:53] #14088 closed, assigned to nobody

[2021-03-30 20:56] alroniks commented on #14637
Works fine in 2.x and 3.x

[2021-03-30 20:56] #14637 closed, assigned to nobody

[2021-03-30 20:59] alroniks commented on #14648
We are speaking about notification which comes from outside, then we already have different monitoring tools for it, like SiteDash. I am closing it as won't fix, just because it is not direct MODX responsibility.

[2021-03-30 20:59] #14648 closed, assigned to nobody

[2021-03-30 21:35] alroniks commented on #14814
Seems the issue with 7.0 gone away and we could return to the question about including composer.lock into the repo.

[2021-03-30 21:44] opengeek commented on #14814
I'm still against this. Different versions of PHP will load different dependencies. It's going to cause problems.

[2021-03-30 21:48] opengeek commented on #14814
Not to mention if a security issue in a dependency comes out and could simply be updated via composer, any git-based installations will have to update the lock file, which will then be modified and could potentially cause problems updating MODX from git. Or it will require us to immediately release a new version because a dependency needs updating.

[2021-03-30 21:50] alroniks commented on #14990
It is still actual because smarty required mbstring, and we don't check it properly.

[2021-03-30 21:57] alroniks commented on #15219
I am closing it due to inactivity. Please, reopen if needed.

[2021-03-30 21:57] #15219 closed, assigned to nobody

[2021-03-30 21:59] alroniks commented on #15220
Closed as won't fix.

[2021-03-30 21:59] #15220 closed, assigned to nobody

[2021-03-30 22:16] alroniks commented on #15271
It fixed by merged PR

[2021-03-30 22:16] #15271 closed, assigned to nobody

[2021-03-30 22:21] alroniks commented on #8752
I suppose this is a legacy of ExtJS and there is no point in doing anything about it.

[2021-03-30 22:21] #8752 closed

[2021-03-30 22:24] alroniks commented on #9469
I am not sure that is possible with current architecture. It would be nice if I am wrong. BTW, due to inactivity and a rare case, I am closing it.

[2021-03-30 22:24] #9469 closed

[2021-03-31 04:21] sergant210 commented on #15586
It seems to me that no one has tested permissions in MODX3. They don't work at all.

[2021-03-31 05:03] Ibochkarev commented on #15586
This is an alarming signal.

[2021-03-31 05:16] ghost commented on #15586
Updated from github 31 March
Created user in Administrator group, not sudo user.

<img width="250" alt="Screen Shot 2021-03-31 at 8 14 37" src="https://user-images.githubusercontent.com/1073780/113093857-5ee6cb80-91f9-11eb-8684-1ca53c065670.png">

[2021-03-31 05:18] ghost commented on #15586
Aside from the obvious access denied, there is the question of the "welcome back" when this is a new user's first attempt to log in.

[2021-03-31 05:19] sergant210 commented on #15586
@sottwell I found out the reason - the permissions do not work. For sudo users the permissions are not checked.

[2021-03-31 05:21] ghost commented on #15586
Yes, I just thought the screenshot and the conditions of my test would help clarify the situation.

[2021-03-31 05:23] ghost commented on #15586
I thought someone had been using MODX 3 for some time in a production environment? Did they never use the permission system, or has their customized version solved the issue for their purpose?

[2021-03-31 05:23] sergant210 commented on #15586
I mean that permissions don't work for all contexts and access targets.

[2021-03-31 05:25] sergant210 commented on #15586
I think that there are no such crazy people.

[2021-03-31 05:27] ghost commented on #15586
They were in a discussion on Slack some time ago, unfortunately that means no history and I don't remember the agency's name... there was mention made of their agency returning their modifications to the community.

[2021-03-31 05:54] Mark-H commented on #15586
Sterc has been using their fork in production, but technically that's closer to 2.x than 3.x. Or 2.x with a 3.x skin. ;)

I also have a dummy site on 3.x live on alpha1 I believe but that serves nothing of any importance.

There was a "fixing permissions" PR before the SnowUp, will see if I can find that when I'm in the office, could be related.

[2021-03-31 05:57] Ibochkarev commented on #15586
https://github.com/modxcms/revolution/pull/15482 - I think you mean this one. There were no others as far as my memory serves

[2021-03-31 06:00] sergant210 opened #15616 "Inactive permission for the toggle language item"
## Bug report
### Summary
For not sudo users the "Toogle language" menu item is not displayed. The reason is that the corresponding permission is not checked in the access policies.

### Step to reproduce
1. Add a new user (not sudo) with the Administrator access permission with the Super User role.
2. Log in in the manager.
3. Optn the user menu.

### Observed behavior
![lang1](https://user-image

[2021-03-31 06:17] Mark-H commented on #15586
Nope, little older than that. It was [this issue](https://github.com/modxcms/revolution/issues/15375) that should've been resolved with #15394

[2021-03-31 06:18] alroniks commented on #14814
Then I suggest close it. I know and understand the reasons why not, we many times faced it in our project (my work), but one difference, that we manage almost all installations, so for us it's not a big problem. Feel free to reopen.

[2021-03-31 06:18] #14814 closed, assigned to nobody

[2021-03-31 06:22] alroniks commented on #15595
I suggest replacing the Profile title in the first element with a username.

[2021-03-31 06:58] alroniks commented on #15576
In the manager actually, we had some files which are not used. It is because some functions were started but not finished or even rejected. I faced with such in ACL and cleaned up, but I see that in some places the same issue. It makes sense to clean it, but need to do it carefully.

[2021-03-31 07:03] sergant210 commented on #15616
@alroniks The error is [here](https://github.com/modxcms/revolution/blob/0a3052e5afe038389820a6df64ea2c7870bee48b/_build/data/transport.core.menus.php#L397).

[2021-03-31 16:37] Ruslan-Aleev opened #15617 "Incorrect display of messages in installer"
## Bug report
### Summary
Incorrect display of messages in the installer:
1) Some css styles are missing.

![installer](https://user-images.githubusercontent.com/12523676/113179181-08f54080-9258-11eb-9e5f-4019ea940cf5.png)

2) There are empty lists without messages (`<li class=""></li>`).

[code]

The templates for displaying messages are clearly not working correctly.

### Step to reproduce
Cause

[2021-03-31 17:59] SnowCreative commented on #15586
Still not working in latest nightly (March 31).

[2021-03-31 21:45] alroniks commented on #12212
I am closing it because it does not have enough information to reproduce, also the comment (in Russian) said, that it can not be reproduced. Feel free to reopen.

[2021-03-31 21:45] #12212 closed

[2021-03-31 21:51] alroniks commented on #12428
Solved by merged PR

[2021-03-31 21:51] #12428 closed

[2021-03-31 21:56] alroniks commented on #13477
As it moved to xPDO, I am closing this one. This closed issue still will be available by the link.

[2021-03-31 21:56] #13477 closed

[2021-04-01 03:49] sergant210 commented on #15586
Not so fast. The workflow is next
1. Bug needs to be fixed (done).
2. It needs to be tested (in progress).
3. To create a PR and push it to the repository.
4. To wait a few months for the merging.

So be patient ;))

[2021-04-01 04:17] Ibochkarev commented on #13730
Adding the next block to the config `core/config/config.inc.php` should solve this problem:

[code]

[2021-04-01 04:20] Ibochkarev commented on #13435
Improved in https://github.com/modxcms/revolution/pull/15402

[2021-04-01 04:20] #13435 closed

[2021-04-01 04:22] Ibochkarev commented on #12568
Improved in #15402

[2021-04-01 04:22] #12568 closed

[2021-04-01 04:22] Ibochkarev commented on #13243
Improved in #15402

[2021-04-01 04:22] #13243 closed

[2021-04-01 04:26] Ibochkarev commented on #13436
Improved in #13436

[2021-04-01 04:26] #13436 closed

[2021-04-01 04:32] Ibochkarev commented on #14541
Fixed earlier.
For example: the welcome message for 2.8.x http://misc.modx.com/revolution/welcome.28.html

[2021-04-01 04:32] #14541 closed, assigned to nobody

[2021-04-01 05:46] sergant210 opened #15619 "Incorrect class key for new user"
## Bug report
### Summary
Incorrect default value of the class key in the "New user" from.

![user](https://user-images.githubusercontent.com/4679725/113248517-ccf8c480-92c5-11eb-9360-dace204c7076.jpg)

### Step to reproduce
Try to create a new user.

### Observed behavior
The class key has `modUser` value.

### Expected behavior
The default value should be `MODX\Revolution\modUser`.

### Environm

[2021-04-01 07:25] Ibochkarev commented on #15329
Related https://github.com/modxcms/revolution/issues/15564

[2021-04-01 12:31] Ruslan-Aleev opened #15623 "Simplify path generation in config.core.php"
## Feature request
### Summary
After installing MODX, a `config.core.php` file is created in the folders: `/`, `connectors/`, `core/` and `manager/` with the paths of the server folders, for example in `/`:

[code]

**But why not use the `__DIR__` and `__FILE__` constants when generating these paths?**

Then the `config.core.php` file in `/` would look like this:

[code]

### Why is it needed?
Whe

[2021-04-01 13:45] opengeek commented on #15623
This is because the paths (other than core itself in 3.x) are configurable in the advanced installation. So those are only correct if you use the standard default install. That said, this could be done if the install is standard, and not advanced.

[2021-04-01 13:52] Ruslan-Aleev commented on #15623
Yes, that would be useful.

Has anyone tried installing MODX 3 through an advanced installation? There is a high probability that the advanced installation does not work :)

[2021-04-01 13:54] opengeek commented on #15623
Not yet—I haven't been posting those anywhere. That will be one of the last steps—to reconfigure the advanced and SDK builds based on all the changes. I imagine setup changes have not been taking that into account properly.

[2021-04-01 14:56] alroniks commented on #15619
Seems to be fixed

[2021-04-01 14:56] #15619 closed, assigned to sergant210

[2021-04-01 15:31] opengeek commented on #15586
This is not true. This issue has not identified a specific bug that has been fixed, yet. Nor is anyone working on it that I know of. Please correct me if I'm wrong.

Can we PLEASE stop with the sarcasm? It is counter-productive at the very least.

[2021-04-01 15:43] sergant210 commented on #15586
This is not true. I've identified the problem, fixed it and  I'll test it as soon as I can.

You are wrong. Look at the assignees above.

A sense of humor very often saves us from depression. I think we could all use a little smile ;)

[2021-04-01 15:49] opengeek commented on #15586
Thank you for clarifying. I did not read any comments saying the problem had been identified or that you were working on a solution. Assigning yourself the issue does not tell me anything specific.

I agree. Humor is very important. But this particular comment and other similar comments coming from people that are supposed to be working together to increase the pace of integration on this project

[2021-04-01 20:09] alroniks commented on #11238
Seems it implemented already

[2021-04-01 20:09] #11238 closed

[2021-04-01 20:17] alroniks commented on #12386
I am closing this one as we have a detailed and more common issue that covers more cases. Move discussion here please https://github.com/modxcms/revolution/issues/14945 if you want.

[2021-04-01 20:17] #12386 closed

[2021-04-01 20:18] alroniks commented on #9897
I am closing this one as we have a detailed and more common issue that covers more cases. Move discussion here please https://github.com/modxcms/revolution/issues/14945 if you want.

[2021-04-01 20:18] #9897 closed

[2021-04-01 20:19] alroniks commented on #15143
I am closing this one as we have a detailed and more common issue that covers more cases. Move discussion here please https://github.com/modxcms/revolution/issues/14945 if you want.

[2021-04-01 20:19] #15143 closed, assigned to nobody

[2021-04-01 20:34] alroniks commented on #12392
In 3.x [flysystem](https://github.com/thephpleague/flysystem) wrapper uses, also SDK updated. I tested and seems it works. So, I am closing but feel free to reopen.

[2021-04-01 20:34] #12392 closed

[2021-04-01 20:43] alroniks commented on #12395
I can not reproduce. And as I see other people too. I understand, that is an annoying bug and it difficult to catch it, but we, unfortunately, can afford to spend time to trying figure out what wrongs with it without a detailed error report.

Feel free to reopen, but for now, it will be closed as a quite old and inactive bug.

[2021-04-01 20:43] #12395 closed

[2021-04-01 21:12] alroniks commented on #12648
It works as expected in 3.x

[2021-04-01 21:12] #12648 closed

[2021-04-01 21:13] alroniks commented on #12730
Works in 3.x with S3 bucket attached

[2021-04-01 21:13] #12730 closed

[2021-04-01 21:25] alroniks commented on #12728
I can not reproduce. I guess it was fixed during the last 5.5 years.

[2021-04-01 21:25] #12728 closed

[2021-04-01 21:31] alroniks commented on #12836
In 3.x it has a green tick, but after adding it, brake manager. Need to investigate

[2021-04-01 21:51] alroniks commented on #13737
@mrhaw I am against pull everything into the system. The explanation is simple: all that things increase code base, maintenance of which also has cost, by time mostly. MODX was called and modular and extendable, which means, it contains modules, which extend the core. All things, like import, export, backup, and others should be implemented in different extras/components. But, to provide a good ex

[2021-04-02 03:38] sergant210 opened #15625 "Untranslated descriptions of ACL policy templates"
## Bug report
### Summary
ACL Policy Template Descriptions display untranslated lexicon key.

![acl](https://user-images.githubusercontent.com/4679725/113377417-e9a40380-937c-11eb-9cf4-95d85412d335.jpg)

### Step to reproduce
Open any ACL Policy Template.

### Environment
MODX3 alpha3.

[2021-04-02 03:58] Ibochkarev commented on #15625
Related https://github.com/modxcms/revolution/pull/14009

[2021-04-02 04:46] #15625 closed, assigned to nobody

[2021-04-02 08:39] Ibochkarev commented on #15542
Double issue #14340

[2021-04-02 08:39] #15542 closed, assigned to nobody

[2021-04-02 08:39] Ibochkarev commented on #14340
The problem also exists in 3.x

[2021-04-02 11:07] Ibochkarev commented on #11818
These parameters are indicated in the description and they have a translation.

![изображение](https://user-images.githubusercontent.com/2138260/113410554-86928b00-93d5-11eb-8808-c78a41d0ae76.png)

![изображение](https://user-images.githubusercontent.com/2138260/113410639-b346a280-93d5-11eb-8665-a2cad749b23f.png)

[2021-04-02 11:07] #11818 closed

[2021-04-02 14:33] Ibochkarev commented on #13484
Improved in 3.x

[2021-04-02 14:33] #13484 closed

[2021-04-02 19:15] Ibochkarev commented on #13195
@Mark-H In connection with the agreed Dropping support for SQL Server in 3.0, I suggest closing this issue =)

[2021-04-02 19:30] Mark-H commented on #13195
Agreed!

[2021-04-02 19:30] #13195 closed

[2021-04-03 19:04] alroniks commented on #15322
I am closing it as a duplication of https://github.com/modxcms/revolution/issues/12786
Thank you for the screens, and sorry about removing the issue, but the original one has more details in the discussion, which will help with implemetation.

[2021-04-03 19:04] #15322 closed, assigned to nobody

[2021-04-03 19:14] alroniks commented on #14521
A lot of pull requests merged, so seem to be fixed.

[2021-04-03 19:14] #14521 closed, assigned to nobody

[2021-04-03 19:42] alroniks commented on #14758
I tried to find more information and what I found. Seems that it really a bug in PHP. https://bugs.php.net/bug.php?id=75380

Also the similar request in WP https://core.trac.wordpress.org/ticket/45670

I tested it on PHP 7.0, 7.1, and 7.2. It reproducible on the first two but seems to be fixed in PHP 7.2. I don't want to create some kind of workaround just to fix something, that is broken outside

[2021-04-03 19:42] #14758 closed, assigned to nobody

[2021-04-03 20:33] alroniks commented on #15339
Duplicates https://github.com/modxcms/revolution/issues/15319

[2021-04-03 20:33] #15339 closed, assigned to nobody

[2021-04-03 21:00] alroniks commented on #13397
Nope, and I am not sure that we have to do that. If it ExtJS bug, it is still a rare case that happens on a specific date once a year. It is too expensive to spend time in case lack of contributors.

[2021-04-03 21:11] alroniks commented on #15414
One example from Yii https://github.com/yiisoft/yii2/pull/15638/files

[2021-04-03 21:12] alroniks commented on #15414
And it inroduced by these changes https://github.com/modxcms/revolution/pull/13805/files

[2021-04-03 21:42] alroniks commented on #15438
It is not clear to me. Is this bug fixed or not? @sergant210

[2021-04-03 21:49] alroniks commented on #14536
Relevant in 3.x too

[2021-04-03 21:54] alroniks commented on #8876
Not sure that it is a bug, just an issue with proper implementation in extra. And it's pretty old. So, I am closing it.

[2021-04-03 21:54] #8876 closed

[2021-04-03 22:04] alroniks commented on #9477
Seems it resolved in 3.x already https://github.com/modxcms/revolution/blob/3.x/core/src/Revolution/Mail/modMail.php#L20

[2021-04-03 22:04] #9477 closed

[2021-04-03 22:08] alroniks commented on #10335
Not sure that it is still relevant. Please, reopen, if needed.

[2021-04-03 22:08] #10335 closed

[2021-04-03 22:15] alroniks commented on #12310
It would be nice to see a more detailed explanation of the feature request. With the current description, it is unclear what to do, so I am closing it. Reopen if needed.

[2021-04-03 22:15] #12310 closed

[2021-04-03 22:26] alroniks commented on #9150
Seems to be fixed, works in 3.x.

[2021-04-03 22:26] #9150 closed

[2021-04-03 22:30] alroniks commented on #8308
Even if it an idea, I didn't get it. What needs to do? I am closing it, but if somebody finds it useful, please, reopen and provide an explicit description.

[2021-04-03 22:30] #8308 closed

[2021-04-03 22:48] alroniks commented on #9900
Seems no more issue. Closing.

[2021-04-03 22:48] #9900 closed

[2021-04-03 22:51] alroniks commented on #9903
We are going to drop support of MSSQL, so it closed as `wontfix`.

[2021-04-03 22:51] #9903 closed

[2021-04-03 22:56] alroniks commented on #14768
Duplicates #10265 but has a more descriptive body.

[2021-04-03 22:56] alroniks commented on #10265
Closed in favor of #14768

[2021-04-03 22:56] #10265 closed

[2021-04-03 22:58] alroniks commented on #13856
No feedback since the last contact, also dropping MSSQL got full support, so closing.

[2021-04-03 22:58] #13856 closed, assigned to nobody

[2021-04-04 02:58] sergant210 commented on #15438
@alroniks As far as I no it's not fixed.

[2021-04-05 00:31] ant-tar commented on #15465
Oh, got the same issue right now, MODX 3.0.0-alpha2, php 7.3, fresh install on modhost.pro, page refresh fixes lexicon view. Tested for Chrome, Firefox, the same situation for both.

[2021-04-05 00:47] ant-tar opened #15636 "It is possible to create directory with an apostrophe, but you cannot delete or rename it after"
## Bug report
### Summary
I can create a directory with an apostrophe in the name, but it is absolutely useless, it cannot be used - you cannot rename it, delete it or upload files.

### Step to reproduce
Using File browser create such directory, f.e. "Test's", try to call right-click menu for this new directory.

![2021-04-05 03 11 41](https://user-images.githubusercontent.com/2815640/113526124-6

[2021-04-05 15:55] Ibochkarev commented on #15412
Fixed #15613

[2021-04-05 15:55] #15412 closed, assigned to nobody

[2021-04-05 16:02] Ibochkarev commented on #15586
Fixed #15632

[2021-04-05 16:02] #15586 closed, assigned to sergant210

[2021-04-05 16:04] Ibochkarev commented on #15616
Fixed #15621

[2021-04-05 16:04] #15616 closed, assigned to sergant210

[2021-04-05 19:14] alroniks commented on #15431
Solved

[2021-04-05 19:14] #15431 closed, assigned to alroniks

[2021-04-05 20:38] alroniks commented on #13402
While we use ExtJS, we have to use such limitations as I see. I am closing the issue, because in case the new manager, not ExtJS, such a thing won't be existing.

[2021-04-05 20:38] #13402 closed

[2021-04-05 20:41] alroniks commented on #13326
The left region works fine, but the right region still has issues.
![Editing_ Home _ MODX Revolution](https://user-images.githubusercontent.com/303498/113624536-73e3b480-9668-11eb-8604-510d9bf83728.png)

@Ruslan-Aleev Could you have a look, please?

[2021-04-05 20:48] alroniks commented on #13806
The pull request also has an explicit discussion. I would say that is solved. If not, please, reopen.

[2021-04-05 20:48] #13806 closed, assigned to nobody

[2021-04-05 21:00] alroniks commented on #14636
I can not reproduce it. One case only when it possible, if to start creating usual resource and after change type to the weblink, then yes, the content field will be changed by another, but it is expected. In case, when I selected create weblink from context menu, fill the content field and save it, it works as expected.

I am closing it, but feel free to reopen it.

[2021-04-05 21:00] #14636 closed, assigned to nobody

[2021-04-05 21:08] alroniks commented on #14598
I am closing it as a wontfix. As it was discussed and seems it has some kind of conclusion. Please, open new proposal, if you want continues the discussion.

[2021-04-06 07:37] Ruslan-Aleev commented on #13326
@alroniks Yes, I tried to edit the width of the TV (image, file), make it in %, but the question is not clear.
1) Global styles cannot be set, because they will be overridden by the styles of the TV component.
At the same time, the styles inside the component feel like they don't work, you can change them, but there will be no effect, I'm talking about:
https://github.com/modxcms/revolution/blob/1

[2021-04-07 05:37] sergant210 opened #15639 "Missing "file_folder_rename" lexicon key"
## Bug report
### Summary
Missing "file_folder_rename" lexicon key for non english language.

### Step to reproduce
Open the file tree tab and right click on any folder.

### Observed behavior
![folder_rename](https://user-images.githubusercontent.com/4679725/113815686-4720c180-977c-11eb-89cc-8d595bb93062.jpg)

### Environment
MODX 3.0.0-aplha3.

[2021-04-07 06:54] Ibochkarev commented on #15639
@sergant210 https://github.com/modxcms/revolution/pull/15420/files#diff-504b9db47edaa07ce0652980a302dacb243685a90efbf80d858fe51f71272154R74 - It was added in this PR

[2021-04-07 06:59] sergant210 commented on #15639
@Ibochkarev Only for English lexicon. So for other languages we got only the untranslated lexicon key.

[2021-04-07 07:06] Ibochkarev commented on #15639
@opengeek I checked in Crowdin - this key is not available for translation. This is a sync error.

[2021-04-07 09:44] Ibochkarev commented on #15639
This fixed in https://github.com/modxcms/revolution/pull/15615

[2021-04-07 09:44] #15639 closed, assigned to nobody

[2021-04-07 13:57] Ibochkarev commented on #14583
Fixed #15638

[2021-04-07 13:57] #14583 closed, assigned to nobody

[2021-04-08 05:16] sergant210 opened #15648 "PHP notices on the dashboard page"
## Bug report
### Summary
There are many PHP notices on the dashboard page.
[code]

### Step to reproduce
1. Change the log_level system setting to 2.
2. Open the dashboard page in the manager.
3. Open the error log.

### Expected behavior
I prefer the empty error log.

### Environment
MODX 3.0.0-alpha3.

[2021-04-08 06:14] sergant210 opened #15649 "Missing "updates_type" lexicon key"
## Bug report
### Summary
Missing "updates_type" lexicon key in the[ dashboard lexicons ](https://github.com/modxcms/revolution/blob/8b80072f03c4efc539edea1d906e82ff60266480/core/lexicon/en/dashboard.inc.php#L27)for other languages.

### Step to reproduce
Open the dashboard.
![dashboard](https://user-images.githubusercontent.com/4679725/113976879-5ec67b80-984a-11eb-8a0a-73f8e297bc2e.jpg)

### Expe

[2021-04-08 06:25] Ibochkarev commented on #15649
![изображение](https://user-images.githubusercontent.com/2138260/113979786-8841d000-9867-11eb-82fc-88865d54fd81.png)

Translated 10 days ago. But PR from Crowdin not.

[2021-04-08 11:28] Semdevmaster opened #15653 "Bug with getting information about the context"
## Bug report
### Summary
In templates or snippets
`$modx->context->key;//works fine`
`$modx->context->rank;//works fine`
`$modx->context->name;//does not work (always empty string)`
`$modx->context->description;//does not work (always empty string)`
### Step to reproduce
create a snippet that returns data from the current context

### Observed behavior
in all templates and snippets when requestin

[2021-04-08 20:16] SnowCreative opened #15657 "MODX3 — OnResourceSort doesn't work"
## Bug report
### Summary
OnResourceSort doesn't seem to fire.

### Step to reproduce
Create a plugin that does anything as a result of OnResourceSort firing.

### Observed behavior
Nothing happens.

### Environment
MODX 3 Alpha 3 2021-04-06

[2021-04-08 20:17] rthrash commented on #15657
This issue has been mentioned on **MODX Community**. There might be relevant details there:

https://community.modx.com/t/modx-3-coding-question-onresourcesort-not-working/3879/5

[2021-04-08 20:47] Mark-H commented on #15657
Had a brief look at the code, but did not see a reason for that to not run unless it fails to actually change the sort. I'm assuming you do see sorting changes still applied after a refresh?

[2021-04-08 21:09] alroniks opened #15658 "Missed run of upgrade script for updating base_help_url system setting"
## Bug report
### Summary
The upgrade script `3.0.0-update-sys-setting_base_help_url.php` is missed in the DB engine-specific script, which means that it is never used during updating.

### Step to reproduce
Build core package and try to update instance.

### Observed behavior
System setting `base_help_url` has old value.

### Expected behavior
System setting `base_help_url` should be updated.

##

[2021-04-08 21:25] SnowCreative commented on #15657
Yes, I manually sort in the tree and confirm the menuindex change in the database.

As a test, I made a plugin with this code:

$modx->log(modX::LOG_LEVEL_ERROR, 'Testing the log');

and select OnResourceSort for the system event. Works in 2.8.1, doesn't work in 3.0 alpha.

[2021-04-08 21:30] SnowCreative commented on #15657
On the other hand, OnResourceBeforeSort DOES trigger the code.

[2021-04-08 21:36] alroniks commented on #15658
I found the issue. I've got an intermediate state between updates, so script does not update the value because condition works fine. It is wontfix, as a too rare case but it would be nice to prevent such cases in the future.

[2021-04-08 21:36] #15658 closed, assigned to nobody

[2021-04-08 21:38] alroniks commented on #15587
As said Mark, it allows to define own page for showing under this button, so I am closing it as wontfix. Feel free to reopen if needed.

[2021-04-08 21:38] #15587 closed, assigned to nobody

[2021-04-08 21:40] alroniks commented on #13312
Seems not reproducible.

[2021-04-08 21:40] #13312 closed

[2021-04-08 21:44] SnowCreative commented on #15587
Yes, it allows for a custom help page, but there is no way to disable the button altogether. That's what I'm asking for (which it seems would need a new system setting). Guess I'll have to resort to installing custom CSS to hide the button.

[2021-04-08 22:04] alroniks commented on #13451
Yep, closing. With all respect to people who took part in such a long discussion and investigation, but we don't want to break backward compatibility in the parser, even in 3.x. I hope in the future it will be something like Twig, but not today.

[2021-04-08 22:04] #13451 closed

[2021-04-08 22:07] alroniks commented on #13476
Seems it works fine on 3.x and even on the latest 2.x. Please, feel free to reopen if it is still actual.

[2021-04-08 22:07] #13476 closed

[2021-04-08 22:10] alroniks commented on #13606
Closed as a wontfix.

[2021-04-08 22:10] #13606 closed

[2021-04-08 22:50] alroniks commented on #13642
I tend to close as not fully clear. Reopen if needed.

[2021-04-08 22:50] #13642 closed

[2021-04-08 22:56] alroniks commented on #13730
Seems solved by #13835 which is merged.

[2021-04-08 22:56] #13730 closed

[2021-04-08 23:07] alroniks commented on #13831
Valid for 3.x as well

[2021-04-08 23:13] alroniks commented on #13891
Works fine for me as well. So, closing.

[2021-04-08 23:13] #13891 closed, assigned to nobody

[2021-04-08 23:25] alroniks commented on #15329
It is should be implemented here https://github.com/modxcms/revolution/pull/13853 but I don't know why it does not work

[2021-04-08 23:35] alroniks commented on #9166
We still on ExtJS 3 and can't change it, unfortunately. So, I am closing it as unrealistic.

[2021-04-08 23:35] #9166 closed

[2021-04-09 05:57] pelargo opened #15659 "Media Sources and folder name with accent"
After the update from 2.7.3 to 2.8.1, the folders whose name has an accent in assets/ are no longer accessible by Media Sources (cannot display the files or right-click on the folder)

[2021-04-09 06:22] alroniks commented on #15225
Merged

[2021-04-09 06:22] #15225 closed, assigned to Ruslan-Aleev

[2021-04-09 06:22] alroniks commented on #8226
Merged

[2021-04-09 06:22] #8226 closed

[2021-04-09 06:24] Jako commented on #15564
Yes, that part ("View Details") is currently not changed and has to be changed.

[2021-04-09 06:26] alroniks commented on #12793
Fixed

[2021-04-09 06:26] #12793 closed

[2021-04-09 06:30] Ibochkarev commented on #15617
Fixed #15642

[2021-04-09 06:30] #15617 closed, assigned to nobody

[2021-04-09 06:31] alroniks commented on #15302
I am not sure that we have to fix it. In 3.x it works as expected.

[2021-04-09 06:59] alroniks commented on #15253
I disagree with the approach when we lowering the error level just to ignore some issues. It is very important to recognize a potential issue during setup. It may be worse when the site is already run on production. So I prefer to leave the current implementation and solve the issues themselves, like curly braces which were deprecated in the last PHP versions (already fixes).

I tend to close it,

[2021-04-09 06:59] #15253 closed, assigned to nobody

[2021-04-09 07:14] alroniks commented on #15133
Is it still possible to create a Template name with such tags? I tried on 2.8.1 and failed, it prevents my attempts.
@Mark-H Could you clarify it a bit?

[2021-04-09 07:30] Ruslan-Aleev commented on #6092
Almost all lexicons are not used in MODX 3, and some have been fixed in https://github.com/modxcms/revolution/pull/15537

[2021-04-09 07:30] #6092 closed

[2021-04-09 07:46] Ruslan-Aleev commented on #15302
Yes, there is no such problem for 3.x. Both URL and ID display the decoded path, for example: `images%2Fproducts%2Ffile.txt`.
Although some time ago there was.

[2021-04-09 10:56] Mark-H commented on #15133
When stumbling across it, I was using the same code from https://github.com/modxcms/revolution/issues/15132 in the template name. Save that, then edit a TV and check the template access tab where it was executing.

Haven't tried since so it's certainly possible it's been fixed.

[2021-04-09 13:32] realrork opened #15661 "Bug in sending internal message"
## Bug report
### Summary
When I send a message to an internal user and select the 'Send email' option, the delivered message shows 'emailsubject' instead of the subject entered in the 'Subject' field. Subject of the message is correctly displayed inside MODX Manager. I checked it in English and Polish version.

### Step to reproduce
Sending a message to an internal user with the 'Send email' opti

[2021-04-10 20:38] alroniks commented on #14988
Sorry, but I tend to close it dues to the age of the issue, as well because of lack of steps to reproduce and detailed description, also no feedback for a long time. Feel free to reopen, if needed.

[2021-04-10 20:38] #14988 closed, assigned to nobody

[2021-04-10 20:52] alroniks commented on #12476
Based on the discussion I am closing it as wontfix.

[2021-04-10 20:52] #12476 closed

[2021-04-10 20:58] alroniks commented on #12771
Yep, I am going to convert it to format Proposal, which can be targeted later to a specific version.

[2021-04-10 21:16] alroniks commented on #15565
I am against following every logo update and change the theme based on it. The new logo is just a marketing thing, which does not have to influence the user interface. Such changes make user guides with screenshots almost irrelevant.

I agree with @Ibochkarev and I would ask to create a new Proposal or feature about improvements with contrast and close it after.

[2021-04-10 21:31] alroniks commented on #11269
I respect all work that was done but based on the fact, that it is a very complex cases, suggested PR was rejected for reasons and modx parser still very limited by functions, I suggest closing it. Please, reopen, or better create a new Proposal how it can be improved.

[2021-04-10 21:31] #11269 closed

[2021-04-10 21:43] alroniks commented on #12430
The issue in 3.x as well.

[2021-04-10 21:52] alroniks commented on #14391
Agree with @sergant210, but also with @Mark-H. In 3.x it is fixed globally, so I am closing it as wontfix.

[2021-04-10 21:52] #14391 closed, assigned to nobody

[2021-04-10 22:10] alroniks commented on #15592
What if you have unsaved changes in the current documents, but a copy is really needed? You may lose them. The current implementation seems to be more convenient. It is not about consistency, it about useful UX based on the context of usage.

I am closing it as wontfix, but you always free to restart the discussion by reopening issues.

[2021-04-10 22:10] #15592 closed, assigned to nobody

[2021-04-10 23:13] alroniks commented on #15247
Seems it solved by merged PRs, but @Ruslan-Aleev please check. If something left, please, create a new issue.

[2021-04-10 23:13] #15247 closed, assigned to nobody

[2021-04-10 23:42] alroniks commented on #15319
Fixed

[2021-04-10 23:42] #15319 closed, assigned to nobody

[2021-04-11 00:29] alroniks commented on #15661
I can not reproduce it on the latest git version of MODX 3. I am closing the issue. But could you please check, that the latest code works for you?

[2021-04-11 00:29] #15661 closed, assigned to nobody

[2021-04-11 00:31] alroniks commented on #15500
Fixed

[2021-04-11 00:31] #15500 closed, assigned to sergant210

[2021-04-11 00:37] alroniks opened #15662 "Dropdown menu is broken when creating internal message"
## Bug report
### Summary
When you try to create an internal message and try to select a user group or role as a recipient, the dropdown with these entities is broken (see screenshot).

![Messages _ MODX Revolution](https://user-images.githubusercontent.com/303498/114288317-54d59000-9a77-11eb-83b8-9e97f5230889.png)

### Step to reproduce
Try to send messages to the user group or role.

### Observe

[2021-04-11 01:39] alroniks commented on #15648
Fixed

[2021-04-11 01:39] #15648 closed, assigned to sergant210

[2021-04-11 03:48] sergant210 opened #15663 "Permission names"
## Feature request
### Summary
We have a complete mess of permission names.
- about - The about page.
- components - To view the Extras menu.
- menu_user - Show the top menu item "User".
- counties - To view a list of countries.
- create - Generic"create" access on new objects.
- directory_create - To create a physical directory.
- new_chunk - To create a new Chunk.
- edit_role - To edit any Role.

[2021-04-12 09:14] sergant210 commented on #15662
I can't reproduce it.

[2021-04-12 13:31] rthrash commented on #15301
This issue has been mentioned on **MODX Community**. There might be relevant details there:

https://community.modx.com/t/modx-session-cookie-with-samesite/3927/2

[2021-04-12 15:35] Ruslan-Aleev commented on #15663
I would name it exactly `{object}_{action}`, because otherwise `create_chunk` and `delete_chunk` will not be next to each other in the list of permissions. Ideally, we also need grouping of permissions (such as general, chunk, template, etc.).

[2021-04-12 16:33] jcdm commented on #15301
We have a solution to the version check and correct settings here with a solution that also includes a system setting:
https://community.modx.com/t/modx-session-cookie-with-samesite/3927/5

What this doesn't have is a solution for sub 7.3 so that it works there. One option would be to dig up the header required and send that from the right place in the code base. The other option would be to mark

[2021-04-13 13:57] rthrash commented on #14273
I'd personally be OK with the new default permission suggestions. I know I've been caught on more than one occasion wondering where the heck the content went (to go back and remember to, you know, actually publish it…).

[2021-04-13 22:34] #14313 closed, assigned to nobody

[2021-04-14 16:20] #15301 closed, assigned to nobody

[2021-04-15 16:25] #15415 closed, assigned to nobody

[2021-04-16 07:43] ant-tar commented on #14273
Please add label "needs-docs" - I'll update doc settings, default values

[2021-04-16 12:22] Ruslan-Aleev commented on #15663
Related with https://github.com/modxcms/revolution/issues/14506 (Permission naming) and https://github.com/modxcms/revolution/discussions/15672

[2021-04-16 13:10] opengeek commented on #14273
We shouldn't be changing documentation based on issues. Only based on actual changes made in PRs once they are accepted/merged.

[2021-04-16 13:12] ant-tar commented on #14273
Sure @opengeek I will be happy with this label after accepting the changes :)

[2021-04-16 13:13] opengeek commented on #14273
I'm saying the label should go on the PR where the changes are actually made.

[2021-04-16 19:18] #14309 closed, assigned to nobody

[2021-04-20 22:16] BobRay opened #15681 "No longer possible to create new Menu items in Manager Top Menu"
## Bug report
### Summary
New menu items with the parent "Top Navigation" no longer appear. Top menu items created previously no longer appear in the menu.

### Step to reproduce
Go to System -> Menus.
Click on "Create Menu"
Create a new menu item called MyFiles with the parent "Top Navigation" with or without namespace or permission and save it.

### Observed behavior

In the menu tree, the item

[2021-04-21 05:23] ghost commented on #15681
It looks like it needs an action and a namespace. Without either of those two, no menu. With them, even if they are invalid, the menu item shows. All menu items without children look like that in the menu tree, they always have.

<img width="400" alt="Screen Shot 2021-04-21 at 8 24 33" src="https://user-images.githubusercontent.com/1073780/115501365-c386ca80-a27b-11eb-93c6-9c2172f8435f.png">

[2021-04-21 09:27] Ruslan-Aleev commented on #15659
This is also actual for MODX 3, for example, you can create a folder named `őőő`, although if you name the folder `site-őőő`, then there are no more bug (although maybe I didn't quite understand the issue).

[2021-04-21 09:47] Ruslan-Aleev opened #15682 "Russian characters are not displayed in the media source"
## Bug report
### Summary
Russian characters are not displayed in the media source, neither in folder names, nor in files.

![browser_ru](https://user-images.githubusercontent.com/12523676/115532674-b0d1bd00-a29e-11eb-9eac-7d2f9fb28ab4.gif)

And they are cut when uploading files to the server (the file in the GIF was called `фон_123.png`).

![browser_ru_2](https://user-images.githubusercontent.com

[2021-04-21 19:20] BobRay commented on #15681
Good catch. Action used to be a drop-down with (none) as an option.  I see that typing (none) still works and the menu item shows if you put (none) for the action and add a namespace.

If both an action and a namespace are required, the menu shouldn't save without them.

[2021-04-23 09:28] Jasper-TM opened #15684 "Missing Lexicon [Bug]"
## Bug report
### Summary
Lexicon is not available or missing. Couldn't find or locate the string in the Lexicons.
Searched in manager and crowdin.

### Observed behavior
![Missing lexicon2](https://user-images.githubusercontent.com/82947152/115593108-61a67f00-a2d4-11eb-9146-3fc53283d1d5.jpg)

### Expected behavior
Should be translatable to other languages

### Environment
MODX 2.8.2-dev, MODX 2.x

[2021-04-23 09:34] Ruslan-Aleev commented on #15684
This is the media source name, can be configured in `/manager/?a=source` section.

![ms](https://user-images.githubusercontent.com/12523676/115851922-2ae57b80-a430-11eb-8b07-65634a36bf39.png)

[2021-04-24 22:41] alroniks commented on #15684
It is the name of the resource (in this case media source) which means that it can not and shouldn't be translated. Closing as wontfix.

[2021-04-24 22:41] #15684 closed, assigned to nobody

[2021-04-24 22:43] alroniks commented on #6016
It is a pretty old issue and seems it can not be reproduced in the latest versions, which may mean that it is fixed already. Feel free to reopen if needed.

[2021-04-24 22:43] #6016 closed

[2021-04-24 22:49] alroniks commented on #7049
It is not a bug in my opinion. It returns the proper value, but type converted during usage. Need to understand it. I am closing as wontfix. Please, reopen if needed.

[2021-04-24 22:49] #7049 closed

[2021-04-24 22:54] alroniks commented on #6976
Seems it fixed by #12462

[2021-04-24 22:54] #6976 closed

[2021-04-24 23:07] #10617 closed

[2021-04-24 23:10] #10101 closed

[2021-04-24 23:14] alroniks commented on #15564
Closing as discussed. Issue related to View Details formatting still is open.

[2021-04-24 23:14] #15564 closed, assigned to nobody

[2021-04-25 18:02] smg6511 opened #15687 "XPDO sortby: Default Sort Direction Breaks Some Queries"
## Bug report
### Summary
When supplying a SQL function/clause [ e.g., _->sortby('RAND()')_ ] instead of the typical _->sortby('column', 'direction')_, some queries are broken. Currently the RAND function is forgiving of the 'ASC' added to the resulting ORDER BY clause although it is not technically correct to do so. I imagine the same goes for the FIELD function. However, the use of a CASE/WHEN c

[2021-04-25 18:22] opengeek commented on #15687
This should be on the xPDO repository, not Revolution.

[2021-04-25 19:21] smg6511 commented on #15687
OK, didn't realize that. Will re-post to that repo.

[2021-04-25 20:09] alroniks commented on #15687
@smg6511 Please, link issues after posting it on the xPDO repo and close this one. Thank you in advance.

[2021-04-25 20:31] smg6511 commented on #15687
Reposted to XPDO repo, [Issue #202](https://github.com/modxcms/xpdo/issues/202)

[2021-04-25 20:31] #15687 closed, assigned to nobody

[2021-04-27 13:18] Ruslan-Aleev opened #15688 "A bug occurs in the media browser when sequentially renaming files"
## Bug report
### Summary
If you rename one file and then rename the file after it (in the media browser), then an error occurs in the console.
And although the file changes its name, you need to update the folder in the media browser to see it.

![browser_rename](https://user-images.githubusercontent.com/12523676/116248041-242e6f80-a774-11eb-96b9-b42affc3a6df.gif)

Error text:
[code]

### Environ

[2021-04-29 12:13] jmacdonald-spectacle opened #15691 "Media browser thumbnails missing in MODX 2.8.2/PHP8"
## Bug report
### Summary
Media browser thumbnails missing in MODX 2.8.2/PHP8.

### Step to reproduce
Update to MODX 2.8.2 and switch to PHP8.

### Observed behavior
Thumbnails are visible in PHP 7.4

### Expected behavior
Thumbnails should be visible visible

### Related issue(s)/PR(s)
Let us know if this is related to any issue/pull request.

### Environment
MODX 2.8.2  / PHP 8.03
```FastCGI sen

[2021-04-29 18:10] shonnarenae opened #15694 "Can no longer drag files to other folders in the Files tree in 2.8.2"
## Bug report
### Summary
Can no longer drag files to other folders in the Files tree.

### Step to reproduce
Upload a file. Attempt to drag it into another folder.

### Observed behavior
The tree collapses and refreshes and the file does not appear in the desired folder, it remains where it was.

### Expected behavior
The file should be moved to the folder it was dragged to.

### Environment
Obse

[2021-04-29 18:36] opengeek commented on #15694
I can confirm this behavior in 2.8.2 on PHP 8, as well.

[2021-04-29 19:42] jmacdonald-spectacle opened #15695 "table_prefix no longer working in @SELECT"
## Bug report
### Summary
I used to be able to use [[++table_prefix]] in a @SELECT chunk used in a TV

### Step to reproduce
tv: wine_select_id; type: listbox; input options: @CHUNK wine_select_id
chunk: wine_select_id; code:
@SELECT '---' as pagetitle, '' as id UNION ALL SELECT pagetitle, id FROM [[++table_prefix]]site_content
WHERE parent IN(301) AND class_key='modDocument' AND deleted=FALSE AND

[2021-04-30 07:42] muzzwood opened #15696 "Static resources not working correctly in 2.8.2"
## Bug report
### Summary
When viewing a static resource (web context) in 2.8.2, only the content field renders. The rest of the template is ignored.
I noticed the issue when upgrading a site from 2.8.1 that relies on static resources.
As a quick fix, I have copied over `modstaticresource.class.php` from 2.8.1 and that works as expected.

### Step to reproduce
Create an HTML file, create a static

[2021-04-30 07:45] alroniks commented on #15696
@Mark-H Could you please check?

[2021-04-30 08:38] muzzwood commented on #15696
It looks to be an issue here:
https://github.com/modxcms/revolution/blob/2.x/core/model/modx/modstaticresource.class.php#L199-L205

If the content is returned then so is the template, fixing the issue:
[code]

I'm not sure if that's the best way to handle it (pretty sure it's not since it's still considered streamable) but happy to do a PR if so.

[2021-04-30 09:04] tillilab commented on #15696
Hi @muzzwood , I tested your solution and it seems working, thanks,
I didn't check eventually problems with the rest of the new code

[2021-04-30 11:13] Mark-H commented on #15696
Welp, I didn't know that was a way static resources could be used so that's a meatball i must've thrown out of the bowl of spaghetti this code was. 😂

[2021-04-30 11:29] rthrash commented on #15696
This issue has been mentioned on **MODX Community**. There might be relevant details there:

https://community.modx.com/t/modx-2-8-2-tag-not-rendered-in-static-resources/3985/4

[2021-04-30 15:19] wfoojjaec commented on #15691
Messed with branches.
The updated PR with all changes is here.
https://github.com/modxcms/revolution/pull/15699

[2021-04-30 18:08] #15691 closed, assigned to nobody

[2021-05-02 09:57] sergant210 commented on #15695
In 2.8.2 some sensitive settings [were removed](https://github.com/modxcms/revolution/pull/15677) from system placeholders for security reasons. Use the way from the [documentation](https://docs.modx.com/current/ru/building-sites/elements/template-variables/bindings/select-binding).

[2021-05-02 13:13] jmacdonald-spectacle commented on #15695
Excellent. Thank you!

[2021-05-03 09:21] travisbotello opened #15700 "[[++core_path]] is empty in MODX 2.8.2"
## Bug report
### Summary
`[[++core_path]]` is empty in MODX 2.8.2

### Step to reproduce
Insert `[[++core_path]]` in a template or chunk. View this template/chunk in frontend.

### Observed behavior
Placeholder returns empty.

### Expected behavior
Core path of MODX installation should be returned.

### Environment
MODX 2.8.2
NGINX
PHP 7.4

[2021-05-03 11:17] travisbotello commented on #15700
https://github.com/modxcms/revolution/pull/15677

[2021-05-03 11:17] #15700 closed, assigned to nobody

[2021-05-03 13:16] opengeek commented on #15695
I would argue this is disruptive and that many people were using this placeholder in this way. I think this should be fixed.

[2021-05-03 13:25] jmacdonald-spectacle commented on #15695
At the least, the change log could have been more specific. If I had known it would be a problem, I wouldn't have updated until I addressed it.

[2021-05-03 14:50] Mark-H commented on #15695
Setting placeholders being removed from TVs was not an intentional change, hence not in the changelog. ;)

[2021-05-03 18:00] jmacdonald-spectacle opened #15701 "Can't unzip file in Files tree"
## Bug report
### Summary
Right-clicking to unzip a file no longer works

### Step to reproduce
In the Files tree, right-click a zipped file and choose 'Unzip file.'

### Observed behavior
First, the Warning alert has the wrong text, encoding the slash in the file path. Example: Unzip File vendor%2Fmodernizr.zip.

Next an error is shown with the same path error: Invalid path for the unzipped file.

[2021-05-04 10:57] deJaya opened #15703 "MODX 2.8.2 PHP8 issue with phpthumb.class.php after applying #15699"
## Bug report
### Summary
After applying #15699 - a further step was required to fix the issue of thumbnails not showing in the Media Browser.

### Step to reproduce
Apply #15699 - thumbnails still missing.

### Observed behavior
Thumbnails still missing. Following PHP error:

[03-May-2021 21:42:35 UTC] PHP Fatal error:  Uncaught TypeError: round(): Argument #1 ($num) must be of type int|float, st

[2021-05-05 10:27] wfoojjaec commented on #15703
Another potential fix is here:
https://github.com/JamesHeinrich/phpThumb/issues/169

[2021-05-05 12:26] wfoojjaec commented on #15694
Related to https://github.com/modxcms/revolution/pull/15505
Id's in filesystem tree look like "assets%2F" instead of "assets/". This prevents any actions on them.

[2021-05-05 17:02] sergant210 commented on #15695
@Mark-H I believe that this placeholder should be hidden. There is [another way](https://docs.modx.com/current/ru/building-sites/elements/template-variables/bindings/select-binding) to use the table prefix in TVs.

[2021-05-05 17:20] opengeek commented on #15695
I don't understand why this additional PREFIX placeholder was created. 🤦🏻

[2021-05-05 17:24] #15703 closed, assigned to nobody

[2021-05-05 17:28] jmacdonald-spectacle commented on #15695
And when? And why such a generic name?

[2021-05-05 18:07] sergant210 commented on #15695
![table_prefix](https://user-images.githubusercontent.com/4679725/117188579-e1107400-ade5-11eb-9786-87666cc3591a.jpg)

[2021-05-05 19:22] opengeek commented on #15695
Aaaaaand that's what I get for opening my mouth. 🤐 😂

[2021-05-05 19:24] opengeek commented on #15695
But, regardless of blame, I still do not understand the need for these extra placeholders when the regular placeholders could be used. And how are these any less of a security risk than the regular placeholders for those options?

[2021-05-05 19:52] Mark-H commented on #15695
As it's only in select bindings from the looks of it that would greatly limit the exposure if those variables. Perhaps we can add the table_prefix there too as a way to keep BC without making it available globally in frontend variables too?

[2021-05-05 21:18] opengeek commented on #15695
Would it? Don't more lower-level editors have access to Template Variables than Templates, Chunks, etc.? Perhaps I'm not thinking of the same exposure?

[2021-05-05 21:25] Mark-H commented on #15695
I was thinking of content editors placing it in resources more so than elements.

[2021-05-05 21:52] opengeek commented on #15695
Exactly… if an editor can access a Resource, can't they edit the TVs on it?

[2021-05-05 22:17] Mark-H commented on #15695
Oh like that. I thought only the people editign the actual TV could affect the `@SELECT` and tweak that to read the actual value, but may be wrong.

[2021-05-06 15:16] BigBlockStudios opened #15707 "Update to 2.8.2 issue with migx & media sources - not creating directories using migxObjectMediaPath"
I have a migx config that creates directories in 2 specific media sources for a project manager tool within the modx manager.
The directories are no longer automatically created after the update to 2.8.2

The tools process is:

- create and save a new project
- the code will then create the directories for that project in the media sources (not working)
- the media sources basepath and baseurl are

[2021-05-07 05:18] Bruno17 commented on #15707
could you try downgrading to 2.8.1 or try the same setup on a 2.8.1 installation, to confirm, that it is related to the MODX upgrade

[2021-05-07 14:16] BigBlockStudios commented on #15707
It's been in daily use for several years now, I don't see how it is not related.  I will spin up a backup on a test site though to confirm.

Seems to be cache related?  how/when does modx refresh the media source cache? (I'm thinking of manually clear the media source cache before the project is saved?)

[2021-05-07 14:31] Bruno17 commented on #15707
And I currently don't see, how it can be related. I want to be sure, that the same setup is working on 2.8.1 but not working on 2.8.2 before taking the time to dive into it. And I can't say, if it has anything todo with caching before diving.

[2021-05-07 14:32] BigBlockStudios commented on #15707
Fair enough! :)     I'll spin up the backup sometime later today & let you know.

[2021-05-07 15:13] Mark-H opened #15708 "Static element with [[++core_path]] no longer finds path in 2.8.2"
## Bug report
### Summary

Static snippet with media source set to (empty) and path like this:

[code]

no longer appears to resolve, leaving the snippet empty and functionality broken.

### Step to reproduce

Add a static snippet with a path like above, save, refresh and note it stays empty.

Change it to the full path, save, refresh, and note it does render.

### Observed behavior

Stays empty,

[2021-05-07 15:39] BigBlockStudios commented on #15707
OK - did some testing on the old version of modx:

- the error is not related to the update modx 2.8.1 -> 2.8.2
- the error manifests when migx is updated from 2.12 -> 2.13

still the same behaviour though, I get a directory does not exist error unles I just open the media source page - then the dynamic directories get created.

[2021-05-07 16:39] BigBlockStudios commented on #15707
Solved.    The issue is in the migxObjectMediaPath snippet

$createpath can never be set TRUE unless the $objectid is empty

this fixes,  looking at the original app I had to do this years back also.

$createpath = false;
$createpath = $createfolder; <- works.

[2021-05-07 16:43] opengeek commented on #15707
Identified as an issue in an extra and not the core.

[2021-05-07 16:43] #15707 closed, assigned to nobody

[2021-05-07 17:27] #15696 closed, assigned to nobody

[2021-05-08 02:38] SnowCreative commented on #15695
Hmm. On that documentation page, shouldn't:

JOIN site_tmplvar_contentvalues as tv_val ON page.id=tv_val.id

instead be:

JOIN site_tmplvar_contentvalues as tv_val ON page.id=tv_val.contentid

?

[2021-05-08 08:43] sergant210 commented on #15708
I stated my thoughts on the forum in the security section.

[2021-05-09 12:22] Semdevmaster opened #15710 "static plugin with OnMediaSourceGetProperties event crashes file sources"
## Bug report
### Summary
Any static plugin with OnMediaSourceGetProperties event crashes file sources

### Step to reproduce
Create any plugin
Setup OnMediaSourceGetProperties event
Make as static
Save plugin
Clear cache
Try to edit this plugin

### Observed behavior
1) Breaks all the work of file sources in the system
2) The plugin itself can no longer be opened for editing - 500 error - Memory

[2021-05-09 12:43] Mark-H commented on #15710
What's the exact error message you get please?

[2021-05-09 12:45] Mark-H commented on #15708
We're no longer dealing with this as a potential security issue so I'm not sure we have to discuss the next step to deal with the unintended side effect in private?

[2021-05-09 12:46] Semdevmaster commented on #15710
"PHP message: PHP Fatal error:  Allowed memory size of 67108864 bytes exhausted"

[2021-05-09 12:54] Mark-H commented on #15710
That's... weird. No idea how it would run out of memory just because it's static. Will need to test...

[2021-05-10 16:21] #15694 closed, assigned to nobody

[2021-05-10 16:21] #15701 closed, assigned to nobody

[2021-05-11 08:16] murashkin commented on #15710
I also can't add any images/files via text editor after upgrading to 2.8.2
I get empty popup "File Source"

[2021-05-11 08:52] Mark-H commented on #15710
@murashkin That's been fixed in https://github.com/modxcms/revolution/pull/15692 and unrelated to this issue. There's a 2.8.3-dev nightly available for download at https://modx.com/download/nightlies or you can manually apply the fix.

[2021-05-11 21:39] wfoojjaec commented on #15302
This might be related https://github.com/modxcms/revolution/pull/15505
Both sides (back and front) need to have id encoded and decoded, or left unchanged.

After applying https://github.com/modxcms/revolution/pull/15709 this issue is resolved, **but only for** files inside website root directory. It remains broken for other files in tree, in nested directories.

[2021-05-11 21:44] wfoojjaec commented on #15357
This was the reason https://github.com/modxcms/revolution/commit/a366c93cff32aa7bbd75b00df973487dcd40892a

[2021-05-12 08:42] Jako opened #15711 "Form customization can't hide just the content field"
## Bug report
### Summary
When modx-resource-content is disabled the whole section goes away. So it is not possible to hide just the content field and move template variables to modx-resource-content.

### Step to reproduce
Disable modx-resource-content in form customization and move template variables into modx-resource-content. The section is invisible.

### Expected behavior
There should be a w

[2021-05-12 13:03] opengeek opened #15712 "MODX News Feed and Security Feed Not Loading in PHP 8"
## Bug report
### Summary
When loading the manager dashboard, the MODX Security Feed and MODX News Feed are not loading in PHP 8.

### Step to reproduce
Load the manager dashboard in a PHP 8 environment.

### Observed behavior
Neither feed is loading.

### Expected behavior
The feeds should be loading.

### Related issue(s)/PR(s)
n/a

### Environment
MODX 2.8.3-dev-20210511, nginx 1.19.10, mariadb

[2021-05-12 17:39] jmacdonald-spectacle commented on #15695
I'm not following the logic for where and why this change was made, but I just tested adding [[++table_prefix]] in the content field as a content-only user. 2.8.1 shows the setting, when the resource is viewed while 2.8.2 does not. This seems to be at least part of the reason for the change, so I guess that's good.

On the other hand, regarding the 'replacement' placeholder: [[+PREFIX]] seems a li

[2021-05-12 18:46] Mark-H commented on #15695
Correct, the reason for it is also described here: #15677

`[[+PREFIX]]` is set specifically only for the TV processing so shouldn't be available in other cases.

[2021-05-13 20:26] opengeek commented on #15708
For now, would it be sufficient to add the setting to disable this filtering as an actual system setting and bring significant attention to it in the release announcement for 2.8.3?

[2021-05-14 08:30] geesmo opened #15713 "MIGX 2.13.0-rc3 renderer:this.renderChunk error"
## Bug report
### Summary
After updating to MIGX 2.13.0-rc3 all MIGX TVs that had in the Grid Columns "renderer":"this.renderChunk" crached.
They show all the MIGX TV value as JSON on the grid column and when editing they do not show the values and save does not work.

### Step to reproduce
create a MIGX TV with a listbox-multiple TV type field and put some resources on the inputOptionValues:

[
{

[2021-05-14 13:03] opengeek commented on #15713
I believe this needs to be directed to the MIGX project, not the MODX Revolution core.

[2021-05-14 15:13] geesmo commented on #15713
Issue moved to https://github.com/Bruno17/MIGX/issues/371

[2021-05-14 15:13] #15713 closed, assigned to nobody

[2021-05-14 18:11] wfoojjaec commented on #15712
[MagpieRSS](https://sourceforge.net/projects/magpierss/files/) was last updated on 2005-11-05. Probably, this is a good time to switch.

[2021-05-17 15:12] #15695 closed, assigned to nobody

[2021-05-17 15:12] #15708 closed, assigned to nobody

[2021-05-18 21:28] dsuppiger opened #15717 "HTTP_MODAUTH missing for modx.config.js.php in browser/index.tpl"
## Bug report
### Summary
Some requests to modx.config.js.php with `action=browser` and `wctx=web` are missing the `HTTP_MODAUTH` parameter and thus return an access denied error (code 401).

### Step to reproduce
1. Log into the manager
2. Do something that will open the media browser/picker dialog (i.e. try to insert an image with an RTE editor).

### Observed behavior
A blank dialog  is opened

[2021-05-18 21:37] opengeek commented on #15717
Thanks for the report. This was already fixed in #15692. You can test it out in the latest nightly releases of 2.8.3-dev available at https://modx.com/download/nightlies.

[2021-05-18 21:37] #15717 closed, assigned to nobody

[2021-05-18 21:37] alroniks commented on #15717
@opengeek you was faster me on 5 seconds :)

[2021-05-18 21:59] dsuppiger commented on #15717
Sorry, I forgot to check the closed issues. I applied the fix and it works. Amazing!

[2021-05-21 11:39] Jorgenh opened #15723 "Media Browser blank"
Modx 2.8.2 / tinyMCE 4.3.4 / tinyMCE RTE 2.0.1
Media browser shows up empty when inserting image in content.
<img width="1269" alt="afbeelding" src="https://user-images.githubusercontent.com/2128284/119131399-b9521a80-ba39-11eb-818a-c536d1dac744.png">

[2021-05-21 11:47] Ibochkarev commented on #15723
@Jorgenh This fixed in https://github.com/modxcms/revolution/pull/15692

Please update MODX to 2.8.3 https://modx.s3.amazonaws.com/releases/nightlies/2.8.x/modx-2.8.3-dev-20210519.zip or change code https://github.com/modxcms/revolution/pull/15692/files

[2021-05-21 11:47] #15723 closed, assigned to nobody

[2021-05-22 15:24] #15712 closed, assigned to nobody

[2021-05-24 09:12] touol opened #15724 "Error with decimal field in query with IN"
## Bug report
### Summary
When you make an IN query with a 'decimal' field, the fractional values are converted to integers.

`
$modx->addPackage("gtsbalance",MODX_CORE_PATH."components/gtsbalance/model/");
$q = $modx->newQuery("gtsBTranslation");
$q->where([
    'sum:IN'=>['3848597.60'],
    ]);
$q->prepare();
echo $q->toSQL();
if($Translation = $modx->getObject("gtsBTranslation",$q)){
    echo "

[2021-05-24 12:54] opengeek commented on #15724
There is no decimal PHP type in xPDO. You need to declare the field as a float PHP type in the model. Also, this is an issue for the xPDO library, not the Revolution CMS application.

[2021-05-24 12:54] #15724 closed, assigned to nobody

[2021-05-24 15:51] matdave opened #15725 "flySystem permission issues"
## Bug report
### Summary
The flySystem is clearing out file permissions if the file's original permissions aren't the "expected" permissions.

### Step to reproduce
Here is how I am able to recreate it on my system.

[code]

Make a change to that file in MODX.

[code]
But with "correct" permissions:

[code]
Make a change to that file in MODX.

[code]

### Observed behavior
It seems the flySystem

[2021-05-24 15:57] opengeek commented on #15725
Unfortunately, I believe this would need to be dealt with at the FlySystem project, and I don't believe v1 which is in use here is even being maintained any longer.

[2021-05-29 08:43] GaneshKandu opened #15727 "syntax error, unexpected '::' (T_PAAMAYIM_NEKUDOTAYIM), expecting ']'"
## Bug report

### Summary

Hi,

i am getting this issue in v2.8.3-pl when i visit Manage -> reports->system info

Parse error: syntax error, unexpected '::' (T_PAAMAYIM_NEKUDOTAYIM), expecting ']' in manager/controllers/default/system/info.class.php on line 48

### Step to reproduce
Install v2.8.3-pl and visit ```Manage -> reports->system info```

### Observed behavior
Parse error: syntax error,

[2021-05-29 10:11] Mark-H commented on #15727
I'd definitely encourage upgrading to a newer version of PHP. While 5.6 is formally supported in 2.8, using it in production really is a very bad idea. For MODX3, the minimum is already increased to at least 7.1.

[This sure caught me by surprise though](https://3v4l.org/4Vj1N), the problem is trying to access a static constant on a class member which PHP5 doesn't understand.

Rather than using a

[2021-05-29 10:27] GaneshKandu commented on #15727
Thanks !

[2021-05-29 10:27] #15727 closed, assigned to nobody

[2021-06-03 10:51] Ruslan-Aleev opened #15733 "[Proposal] Remove "manager_direction" setting from manager panel"
## Bug report
### Summary
Many people don't guess, but in MODX you can change the direction of the text, through the `manager_direction` setting (`ltr` by default). However, changing the setting to `rtl` makes the manager area almost unusable.

**I think it's easier to remove it completely. It is unlikely that anyone often uses it, and it is unlikely that anyone will fix it.**

![manager_direction

[2021-06-03 11:28] Mark-H commented on #15733
I disagree with the proposal to remove it and would rather see the biggest issues with it fixed. Just briefly checked 2.x and that seems to work better than 3, although that also has some issues mostly with the tree and action buttons overlapping titles.

Unfortunately usage of ltr/rtl is not a metric that's tracked in SiteDash so I don't have any data, but I think this is too important for some r

[2021-06-03 13:30] Ruslan-Aleev commented on #15733
I agree with you, but I don’t think this is **too important**. Otherwise, it would be relevant for other CMS, but we do not see it.

[2021-06-03 18:35] jolichter commented on #13397
Yes, that's weird and it only happens once a year... maybe this is solved in modx3?

[2021-06-08 02:23] SnowCreative commented on #15711
Yes, please!!

[2021-06-08 09:40] MacroMan opened #15735 "Session check should be bypassed for cli-install"
## Bug report
### Summary
Session checks on cli-install causes a PHP Warning: session_start(): Session cannot be started after headers have already been sent in /vagrant/setup/provisioner/bootstrap.php on line 67

### Step to reproduce
Create a new project using composer: `composer create-project modx/revolution modx-test 3.x-dev`
Run `setup/cli-install.php` from terminal

### Observed behavior
Th

[2021-06-09 13:55] theuros commented on #15299
Error still present in 2.8.3 / Button is not working => Uncaught TypeError: b.isDirty is not a function

[2021-06-09 14:01] Ruslan-Aleev commented on #15299
@theuros I don't have a bug on 2.8.3, reset the browser cache.

[2021-06-14 08:16] alroniks commented on #13397
In MODX 3 still old ExtJS, so the issue seems will be left there as well.

[2021-06-14 08:25] alroniks commented on #15733
I don't agree about removing RTL functionality, but I would remove it from the system settings and make it rely on language. List of RTL languages is known and limited, so it can be used for determining which text direction to use.

[2021-06-17 10:18] catsmeatman opened #15739 "[Proposal] Change permission in system logs"
### Summary
System logs /manager/?a=system/logs is very useful thing. Now we have one permission 'logs' for two different action 'clear logs' and 'show logs'.

### Why is it needed?
To have more powerfull and flexible permission roles.

Example.
There are 5 editor in online store. 4 editor - is simple editor who can't show logs and 1 chief-editor who can show logs, but not truncate it.

### Sugges

[2021-06-17 12:27] patrickatwsrn opened #15740 "Use strong random number/string generators inside generatePassword()"
## Feature request
### Summary

Looking for a  native solution to create random strings, I stumbled upon the generate Password function today.

I've noticed that the "randomness" of the generated Password relies on mt_rand(), a "Pseudo-Random Number Generator". I guess this is a pice of code that has been active from the old php5 days. PRNG are considered to be a "weak" nowadays.

Basing a random

[2021-06-17 12:47] Mark-H commented on #15740
Unfortunately for MODX 2.x we're still in the old php5 days, but this certainly could and should be improved in 3.x.

I wouldn't go as far as saying this particular code is vulnerable because it's not cryptographically secure random but a good improvement nonetheless.

[2021-06-17 17:13] patrickatwsrn opened #15741 "Some ids in the database have inconsistent length values - int(x)."
## Bug report
### Summary

I just noticed some inconsistencies in the database.

Most primary key ids use int(10), but some have int(9) or int(11).  Some string-based keys also don't have consistant length values (100 or 191) even though they interact with each other.

### Observed behavior
* modx_active_users -  internalKey - int(9)

* modx_media_sources_contexts  - int(11) BUT  modx_media_source

[2021-06-17 17:48] opengeek commented on #15741
All integer fields representing primary and foreign keys should be unsigned INT fields, which would effectively be int(11), regardless of the specified "width." The consistency definitely should be addressed with regards to the unsigned attribute and width. But it is effectively not a problem in real-world usage. Keep this open, and let's address it.

[2021-06-23 08:17] Ruslan-Aleev opened #15745 "Inconsistency in title when copying an item in grids"
## Bug report
### Summary
When copying elements in a grid, the names of copies of elements in different grids are set differently:
- With or without the translated word "copy".
- With a different position of the word "copy" at the beginning / end of the title.

Media Sources
![sources](https://user-images.githubusercontent.com/12523676/123061691-ec167680-d41c-11eb-9a03-ad186e23b8f0.png)

Users
![u

[2021-06-23 13:06] 4rch1m3d35 opened #15748 "site_url placeholder coming back with wrong URL"
The [[++site_url]] placeholder is returning with other URLs from our server.

After I cleared the cache the URL goes back to the current site.

But after an indeterminant amount of time, it will return to a different subdomain of the same URL from the other account on our server.

We have tried isolating the account like on a shared server but the issue keeps happening.

MODx version 2.8.3-pl

[2021-06-23 13:13] garryn commented on #15748
You can call the placeholder uncached to avoid that (notice the `!`):

```[[!++site_url]]```

[2021-06-23 13:13] #15748 closed, assigned to nobody

[2021-06-23 13:37] Mark-H commented on #15748
What Garry said, but you'll probably also want to adjust your server configuration so it only accepts your defined host. Simplest way for that is a redirect in your .htaccess or nginx web rules that forces the expected domain.

[2021-06-23 15:44] Mark-H commented on #15733
WordPress has it built in based on installed language (plus standardised support for front-end themes), and a very quick google shows Kirby,  Plone, Craft, Joomla, OctoberCMS and others also offer it either out of the box or with a plugin. Seems harder to find examples that don't offer any type of support for it ;)

This proposal I would also support, especially now that language switching is done

[2021-06-23 15:58] Ruslan-Aleev commented on #15733
I was wrong. I was looking for exactly switching the direction of the text, but as it turned out, the direction of the text is connected with the selected language.

[2021-06-23 19:04] 4rch1m3d35 commented on #15748
@Mark-H could you refer me to the general syntax I would need to accomplish this in a .htaccess file?

[2021-06-23 19:41] rthrash commented on #15748
@4rch1m3d35 there should be an example `ht.access` file with your installation. Rename it to `.htaccess` and adjust its contents accordingly.

[2021-07-01 10:04] black-meridian commented on #15659
an example, we can list files from the folder "communication GT7" :
![Capture d’écran 2021-07-01 à 12 02 47](https://user-images.githubusercontent.com/36260542/124106154-3d011d00-da64-11eb-8380-ec0b7a9a51eb.png)

but, there is a bug with the folder just under, "entreprise adaptées", because of the accent, on click, nothing appears

[2021-07-02 00:10] Ibochkarev commented on #15745
Fixed in #15755

[2021-07-02 00:10] #15745 closed, assigned to nobody

[2021-07-06 21:56] matdave commented on #13467
This seems to be resolved in pr #15641

[2021-07-06 22:01] matdave opened #15762 "S3 File and Folder Visibility"
## Bug report
### Summary
The S3 file and folder visibility is showing as "private", which is preventing thumbnails in the media browser. When I try to change individual files to public I receive an unsuccessful response from the `Browser/Visibility` processor.

### Step to reproduce
Add an S3 media source with the default visibility as public. Load that media source in the file browser. Inspect t

[2021-07-06 22:29] Mark-H commented on #15762
Related #15725 and #15757 (not sure if the latter fixes this already)

[2021-07-07 22:31] SnowCreative opened #15763 "Extras won't update if case of package title has been changed"
## Bug report
### Summary
Trying to update and extra that has had the capitalization of the extra title changed doesn't work; the new version doesn't show up in the Extras Installer in the manager.

### Step to reproduce
Try to update a package that has had its title changed. For example "GoodNews" was changed to "goodnews" in version 1.6.0-pl.

### Observed behavior
The new version shows up on th

[2021-07-09 10:23] BenceSzalai opened #15767 "Using custom `locale` setting breaks file editor"
## Bug report
### Summary
If the `locale` system setting is configured to a locale, that results in accented characters in the names of months, the file editor fails to load.

### Step to reproduce
1. Set the `locale` system setting to `hu_HU`.
2. Try to open a file in the editor under Files / Filesystem

### Observed behavior
The editor stays blank.

### Expected behavior
The editor should load.

[2021-07-09 10:50] rthrash commented on #13269
This issue has been mentioned on **MODX Community**. There might be relevant details there:

https://community.modx.com/t/why-my-source-files-get-http-instead-of-https/4208/3

[2021-07-09 13:09] Jako commented on #15767
I am quite sure, that this can be solved by using a UTF8 capable locale, like `hu_HU.utf8`. The name of that locale depends a bit on your hosting system.

[2021-07-09 13:52] BenceSzalai commented on #15767
I've just tried as suggested, and it is working fine! Thank you! At least the issue would help others looking at the same problem! Consider the case closed.

[2021-07-09 14:17] #15767 closed, assigned to nobody

[2021-07-09 14:50] JoshuaLuckers commented on #15763
When I look at the [listing page for GoodNews](https://modx.com/extras/package/?id=goodnews) The supported versions for the most recent release is set to `2.3 – 2.7`. I believe that's the reason why the update isn't showing up for you, unless you're running MODX 2.7.x.

[2021-07-09 14:55] SnowCreative commented on #15763
Oh, I hadn't thought of that! But, I have had this problem with other plugins, and the common factor seems to have been the change in capitalization, even for ones that did work with my current version of MODX. Sorry, but I can't remember what those plugins were.

[2021-07-10 11:42] JoshuaLuckers commented on #15733
Since you're making the MODX manager work better in RTL mode I'm going to close this issue.

[2021-07-10 11:42] #15733 closed, assigned to nobody

[2021-07-14 15:20] jmacdonald-spectacle opened #15770 "Disable a Template Variable"
## Feature request
### Summary
Add the ability to disable a Template Variable

### Why is it needed?
Sometimes a TV isn't currently necessary: either for testing or there is a problem with processing. In a complex site, disabling the TV for each template is time-consuming and, if the templates must be re-enabled, error-prone. Disabling through Manager Customization is time-consuming for the same r

[2021-07-15 17:45] Ibochkarev commented on #15735
Fixed in #15769

[2021-07-15 17:45] #15735 closed, assigned to nobody

[2021-07-16 10:54] Ruslan-Aleev commented on #15770
TV has a template tab where you can turn off TV for templates, there is a filter, sorting, etc.
In my opinion, turning off the TV with new checkbox is unnecessary behavior.
Because confusion will arise, for example: TV is configured, specified for the template, but does not work, but it turns out that TV needs to be turned on (if someone turned it off before).
And if I turned off TV through a new

[2021-07-16 11:11] jmacdonald-spectacle commented on #15770
As I said, complex sites can make turning templates on and off difficult.

The TV would be enabled by default, so I don't see the confusion. Existing functionality would remain. This is a 'master switch.'

[2021-07-20 19:41] Ibochkarev commented on #15540
Done #15761

[2021-07-20 20:11] alroniks commented on #15540
Not all points from https://github.com/modxcms/revolution/issues/15540#issuecomment-804594402 resolved. Please, don't close until it will be done.

[2021-07-21 14:30] Ruslan-Aleev commented on #14598
The same designation of the number of elements within a category and category id in the form of brackets `()` is a bad decision for UX.
I would make in this form (`[]`), the difference is simple and noticeable (although the question is not important):
![cat](https://user-images.githubusercontent.com/12523676/58942643-345b9100-878f-11e9-86f5-82d108552adf.png)

[2021-07-22 09:11] JoshuaLuckers commented on #14598
Can't we just add a text? E.g `(2 sub-categories, 2 templates etc)` and `(ID: 1)`.

[2021-07-22 09:14] JoshuaLuckers commented on #14598
I find it very useful to have the amount of items visible, it makes it easier to compare between 2 environments (e.g to spot any missing items faster).

When debugging the element ID's are also useful, the ID is being is part of the cached element's filename.

[2021-07-22 09:31] Ruslan-Aleev commented on #14598
If we add text, then there will be too long category titles and lines for translations will be added (I tried to make a tooltip, see https://github.com/modxcms/revolution/pull/14605).
In general, I would just change the brackets, in my opinion the question is not important (MODX works with this behavior and there were no problems), and the brackets give a visual indication that this is not an id.

[2021-07-23 10:09] Ruslan-Aleev opened #15772 "Error while editing a resource if the resource has image/file TV"
## Bug report
### Summary
Error while editing a resource if the resource has image/file TV.

What it looks like:
![tv_bug](https://user-images.githubusercontent.com/12523676/126767669-52fb15ed-b281-421a-8218-abc7d15b27bc.png)

Error code:
[code]

### Step to reproduce
1) Create a TV with type image/file and set it for the template.
2) Try editing the resource with this template.

### Environment
M

[2021-07-23 11:00] muzzwood commented on #15772
Hmmm I can't replicate that...
Do you have v2 of Flysystem in the vendor dir?

[2021-07-23 11:13] Ruslan-Aleev commented on #15772
Yes, thanks, I just updated the branch via fetch / pull, but forgot about the changes in composer.json.
Everything works when installed from scratch.

[2021-07-23 11:13] #15772 closed, assigned to nobody

[2021-07-23 11:50] muzzwood commented on #15772
Fantastic! :)

[2021-07-23 14:09] JoshuaLuckers commented on #15770
I like this feature request and the proposed solution.

If a plugin is marked as `inactive` you are still able to select the system events it should listen to. For Template Variables the behavior would be equal.

[2021-07-23 14:29] jmacdonald-spectacle commented on #15770
Yes, I propose a checkbox on the General Information tab. Easy to see.

TVs would still be available to select in Template elements as well as Form Customization, they would just be ignored by chunks and snippets.

[2021-07-23 14:35] jmacdonald-spectacle commented on #15770
Another use case: I start new projects with a master copy of a website. Being able to disable TVs for certain clients would be helpful.

[2021-07-26 04:49] Jako commented on #15770
Some extras like getResources, pdoResources etc. have to be modified after adding this option.

[2021-07-26 12:55] jmacdonald-spectacle commented on #15770
@Jako I suppose that's true.

I'm mainly interested in hiding a tv in the Manager. Maybe a label of 'Hidden' or 'Hidden in all templates' would work. This would have the same effect as Manager customization without all the customizing.

[2021-07-27 09:09] JoshuaLuckers commented on #15540
If we add something like this in 2.x it means people need to update to a 2.x version where this is included first before updating to 3.x. Wouldn't it be better to have an extra that checks if you can upgrade your current 2.x install to 3.x? Or do both?

What if they can't switch database engines? If you're in the process of upgrading MODX there is, unless you have a backup, no return because you c

[2021-07-29 17:43] SnowCreative opened #15778 "Enable writeSchema to work with a specific list of tables"
## Feature request
### Summary
xPDOGenerator.writeSchema currently takes four values: file name, package name, base class, and prefix. Adding two more would extend the capabilities: restrict to prefix (boolean), and table list (comma-separated list of table names).

### Why is it needed?
When developing custom tables, it would nice to be able to use a script to auto-generate the schema for just th

[2021-07-30 15:41] matdave commented on #15762
I tested this is the June 1 nightly build, and it is still present. Not sure if those were pushed into that or not.

[2021-07-30 15:47] opengeek commented on #15762
That would be impossible since the Flysystem v2 PR (#15757) was merged at the end of June.

[2021-07-30 15:49] Mark-H commented on #15762
There is a July 28th build available to try. ;)

[2021-08-03 05:54] niepro commented on #15659
Same problem here with umlaute (äöü) in MODX 2.8.1 on MODX Cloud.

[2021-08-04 21:59] matdave commented on #15659
Found the issue. It is fixed in 3, and should be fixed in 2.x with the above referenced PR.

[2021-08-06 09:24] Ruslan-Aleev opened #15788 "Add the ability to quickly find a resource/element in the tree"
## Feature request
### Summary
It happens that a resource is nested in several parents and it can be difficult to quickly find it in a tree.
A resource can be opened by id (if you know it or through a search), but finding all its parents, or neighboring resources and understanding the nesting structure is already difficult.

### Suggested solution(s)
It would be convenient if in the resource editi

[2021-08-06 09:47] ghost commented on #15788
Check out ModDevTools https://docs.modx.pro/en/components/moddevtools

[2021-08-06 10:52] Ruslan-Aleev commented on #15788
Yes, I know about this ModDevTools.
MODX 3 already has breadcrumbs, and (next/prev/up) buttons may appear (https://github.com/modxcms/revolution/pull/15464), but quickly displaying/finding a resource/element in the tree seems useful to me.
You have to work a lot with a tree, and often time is wasted on frequent expanding.

[2021-08-10 19:30] smg6511 opened #15790 "Fine-Tune PHPCS Config So PRs Without Errors Pass Code Quality Test"
## Feature request
### Summary
PHPCS is problematic in its current configuration, failing entire PRs with as little as one warning. A more defined configuration should be created.

### Why is it needed?
Maintainers are going to get a bad impression of or, at worst, ignore non-passing PRs when the "issues" the linter raises may be trivial.

### Suggested solution(s)
- At the very least, the config

[2021-08-12 13:33] deJaya opened #15792 "File TV PHP warnings from Smarty templates, PHP 8.0"
## Bug report
### Summary
Under PHP 8.0 a fresh MODX install with no extras will outputs warnings into the Manager Log

https://community.modx.com/t/manager-error-log-lots-of-smarty-errors/4302

### Step to reproduce
Run MODX on PHP8.0 and observe Manager Error Log

### Observed behavior
`[2021-08-12 13:25:21] (ERROR @ /path/core/cache/mgr/smarty/762a9aeb2fd288c8987ceb503f42c3f412fb399e_0.file.tvs

[2021-08-12 13:41] Mark-H commented on #15792
Changing your error_reporting server configuration to not trigger warnings can help hide them, but the root cause should still be addressed.

[2021-08-12 14:34] rthrash commented on #15792
This issue has been mentioned on **MODX Community**. There might be relevant details there:

https://community.modx.com/t/manager-error-log-lots-of-smarty-errors/4302/10

[2021-08-14 05:23] smg6511 commented on #15711
There's actually not a bug here, but the way the content fields are grouped in the Manager/Form Customization panel is misleading; _modx-resource-content_ is not an actual region, but rather a grouping of fields that are part of the _modx-resource-main-left_ region (which is where the fields [content, symlink, weblink] should be listed to avoid confusion). So, simply hide your content field and as

[2021-08-14 14:19] SnowCreative commented on #15711
That doesn't do the trick. That will put the TVs in the left column in the top panel. What we are asking for is the ability to use the full-width panel the Content field sits in for TVs, without having the Content field there. "modx-resource-content" *is* a region; you can put TVs there, and they will then show up full-width under the Content field.

[2021-08-14 15:35] smg6511 commented on #15711
OK, for 2.x I stand corrected, at least to a point. In 3.x, where I was looking more closely, the structure is a bit different and the solution above does what you'd want it to. I'd have to take a closer look at the 2.x code, but arguably modx-resource-content may not have been meant to be functionally a region, as is implied by it not showing in the Regions tab's listing in the Manager/Form Custo

[2021-08-14 20:14] smg6511 commented on #15681
In both 2.8.x and 3.0.0-alpha only the Action is necessary to make the menu item show in the interface. However, to make the menu item work both a valid Namespace and Action are needed. I think both fields should be changed to be required and the validation message can spell out that only placeholder values are needed for these fields initially.

[2021-08-15 00:14] SnowCreative commented on #15711
Yes, in the case where the TVs are rich text fields that may have a lot of content in them. I've created sites that need quite a few rich-text TVs, and they would be much harder to edit when confined to a smaller column.

As for MODX3, there is an issue filed because the manager customization doesn't work properly (you can't put fields underneath the Content field any more). I suspect the system w

[2021-08-16 09:43] black-meridian commented on #15659
I did a test with the new file, and everything is fine. thanks!

[2021-08-17 16:17] patrickatwsrn commented on #14595
I have found more examples that seem to be related to this problem.

1. load (only)
This permission claims I have 2 out of 5 permissions...
<img width="1126" alt="grafik" src="https://user-images.githubusercontent.com/68318893/129754774-a00ee86e-56cf-4f58-9d82-a1ff33249fa3.png">

but only one out of 5 is active
<img width="1128" alt="grafik" src="https://user-images.githubusercontent.com/68318893/

[2021-08-17 16:32] patrickatwsrn commented on #14595
BTW: Why is it even possible to add custom permissions to a default policy?

Wouldn't it be better to force a user to create a custom policy (template) and add permissions to this new set?

Modmore does it and I believe this to be a much more transparent and consistent way to handle permissions.

[2021-08-18 11:16] sdrenth opened #15794 "Classes not loading correctly using setPackage"
## Bug report
### Summary
We've ran into a very specific issue when including MODX with custom objects in Laravel jobs, on other environments we can't reproduce this issue (not even in a Laravel command). In MODX itself it is working correctly. But after debugging for quite a while we're unable to figure out how this behaviour could occur and if there's a (neat) way around this.

What happens is t

[2021-08-18 12:25] Mark-H commented on #15794
So you're loading MODX externally in a Laravel application, but addPackage doesn't register your model? Have you checked the return value to see if it finds it (bool), checked for messages in the MODX log? Doing anything Laravel specific with the model classes, or have it in an autoloader perhaps?

[2021-08-18 13:11] sdrenth commented on #15794
@Mark-H To be honest, I'm not a hundred procent sure where it is going wrong. But it looks like it has something todo with caching/memory. Because it's going wrong when the class exists:
[code]

If `$included` is false, the objects are properly loaded but in the second job in Laravel the classes are already loaded, so $included returns true and the class is returned and because of this it never re

[2021-08-18 13:19] sdrenth commented on #15794
Seems we just found the solution, because the class was loaded multiple times. We'll provide with an update if we have more info on this.

[2021-08-18 13:36] sdrenth commented on #15794
Allright, the issue was the modx class was instantiated multiple times which was causing this specific issue.

For anyone who might read this in the future, we now added this in the AppServiceProvider:
[code]

And in our job using this singleton:
```$modx = app('modx');```

[2021-08-18 13:36] #15794 closed, assigned to nobody

[2021-08-18 14:23] Mark-H commented on #15794
Glad you figured it out :)

[2021-08-19 17:09] Ibochkarev commented on #15573
Fixed #15629

[2021-08-19 17:09] #15573 closed, assigned to nobody

[2021-08-24 13:17] frischnetz commented on #15328
I don't think, this is resolved in 2.8.3, yet. I still have the same issues with umlauts in file/folder names.

In https://community.modx.com/t/filemanager-cant-load-folders-with-umlauts-in-2-8/3698/1 it was suggested to remove line 65 from `core/model/modx/processors/browser/directory/getlist.class.php`:

`$item['id'] = htmlentities($item['id'], ENT_QUOTES, 'UTF-8');`

When I try this for testing

[2021-08-24 16:34] Mark-H opened #15796 "Avoid invalid UTF-8 characters breaking connector responses (3.x+)"
## Bug report
### Summary

If there's some invalid UTF-8 sequences in a table that you're listing through a connector/processor, that may crap out with an error like this:

Now that MODX 3 requires at least 7.2, we can adjust how we encode JSON to make it more forgiving by adjusting the flags passed to json_encode in the base Processor class (outputArray() method), from:

        $output = json_en

[2021-08-24 22:00] Jako commented on #15796
There exist two unicode flavours with diacritical charcters (äöü etc.): [precomposed and decomposed](https://en.wikipedia.org/wiki/Precomposed_character). Both use different byte sequences for the same character. And only one is valid in JSON, if I remember right.

There are some solutions out there: https://stackoverflow.com/questions/1089966/utf8-filenames-in-php-and-different-unicode-encodings

[2021-08-25 17:55] #14675 closed, assigned to nobody

[2021-08-27 04:25] Ibochkarev commented on #15507
Fixed #15791

[2021-08-27 04:25] #15507 closed, assigned to nobody

[2021-08-27 13:13] JoshuaLuckers commented on #15657
I can confirm this issue.
[code]

$value is an array with `modDocument` objects. Calling `serialize` on this object throws an `Serialization of 'Closure' is not allowed` exception.

[2021-08-28 08:04] JoshuaLuckers commented on #15763
I'm calling a helpline. Ping @Mark-H

[2021-08-28 08:08] JoshuaLuckers commented on #15649
@sergant210 @Ibochkarev is the lexicon still missing?

[2021-08-28 08:16] #15469 closed, assigned to JoshuaLuckers

[2021-08-28 08:28] JoshuaLuckers commented on #15657
Related issue: #15172

[2021-08-28 11:31] Ibochkarev commented on #15649
![изображение](https://user-images.githubusercontent.com/2138260/131216530-ac61d887-285a-41d2-bb9e-66940ca51ab1.png)

latest build

[2021-08-28 11:31] #15649 closed, assigned to nobody

[2021-08-28 15:57] smg6511 commented on #15790
Another consideration for the codeowners/maintainers: As I've tackled some issues and new features since the implementation of this linter I've noticed that, because there are a litany of changes necessary to pass (or at least attempt to pass) the code quality tests, spotting the actual _content_ changes to PR files can be quite the chore. Would it be better to drop enforcement of PSR-12 now and d

[2021-08-28 19:01] opengeek commented on #15790
I agree. We need to disable it until it can be tackled at once as a final step before preparing for beta release. I want to see the changes being made and do not care about the formatting at this point.

[2021-08-31 07:26] JoshuaLuckers commented on #15172
@opengeek is this still on your radar?

[2021-08-31 12:59] opengeek commented on #15172
I'm not sure why this was assigned to me. The summer of 2020 was a rough time. But to answer your question, no, it's not on my radar.

[2021-08-31 13:06] raffy99 commented on #15172
This is related, isn't it? https://github.com/modxcms/revolution/pull/15166#issuecomment-664666031

[2021-09-01 07:07] JoshuaLuckers commented on #15172
You assigned it to yourself, most likely because the issue is caused by changes you made in PR #14689.
It's trying to serialize an array, however when this array has elements that can't be serialized it throws an Exception.

[code]

We could fix it by using a try/catch block. If we catch an exception we don't serialize `$value`.

[2021-09-01 13:02] opengeek commented on #15172
There's another PR that addressed/addresses this. I thought it was already merged, but I guess not. And though technically I am on the blame for that change, it was from another contributor. I just assigned it to myself because no one else was around that summer. 😂

[2021-09-01 13:19] opengeek commented on #15172
#15467

[2021-09-01 16:41] opengeek commented on #15653
The name and description of the context have never been part of the data stored in the context cache which is used to load a context when initialized. This may seem like a bug as you might expect that data to be available in the templates/snippets, but it is a feature request.

[2021-09-03 16:21] smg6511 opened #15806 "3.x - Form Customization - Moving TV to Collapsed Region Causes Error"
## Bug report
### Summary
When moving tvs to a collapsed region, an error occurs and the tv is not moved. Note that this only applies to the _modx-resource-main_ regions, as they were made collapsible beginning in MODX 3.x.

### Steps to reproduce

1. Create at least one TV and use Form Customization to move it to any of the _modx-resource-main-[x]_ regions
2. In the target resource, collapse the

[2021-09-04 18:57] BenceSzalai commented on #13726
I am having the same issue on ModX v2.8.3. I've just added a dummy autoincrement column as primary key to the `modx_session` table. It has only been a day, but it looks like the issue is gone ever since. Before slow queries were logged every few hours.

An interesting fact that the table only had <1000 rows, still inserts sometimes took 20s. It is okay ever since the addition of the autoincrement

[2021-09-04 19:44] BobRay opened #15807 "MODX 3: $modx->initialize() doesn't initialize error handler outside of MODX"
## Bug report
### Summary
When initializing MODX 3 outside of MODX, after `$modx->initialize()`, `$modx->error` is null.

### Step to reproduce
[code]

### Observed behavior
The code above will die with "Error class is null" when initializing either 'web' or 'mgr',

Uncommenting the `getService()` call solves the problem, but `getService()` is deprecated.

The long require line that includes the E

[2021-09-05 07:32] Ibochkarev commented on #15510
This error is not reproducible on the last git build.

[2021-09-05 07:32] #15510 closed, assigned to nobody

[2021-09-05 07:53] Ibochkarev commented on #15501
https://user-images.githubusercontent.com/2138260/132119658-ce4746c2-3247-4eaf-97cb-dd0e18b73799.mp4

[2021-09-05 09:45] BenceSzalai commented on #13726
Maybe I don't understand the complexity involved, but what I did was this:

- add new `dummy_id` column
- create a new index for the existing `id` column
- ensure the new `dummy_id` column has valid value for all existing rows, which can be done by numbering all existing rows from 1 to N, or deleting all existing session rows. I've chose the later as it was easier and we had no need to persist exi

[2021-09-05 12:50] JoshuaLuckers commented on #15172
@opengeek I made a new PR with some improvements over #15467

[2021-09-06 09:42] Jako commented on #15807
Can you try this without any properties for $path and $params when you call getService? I am not sure, if the empty path is causing the issue.

[code]

Anyway: $modx->getService will be deprecated in MODX 3.1. So you better use something like this:

[code]

Something similar is used in $modx->runProcessor: https://github.com/modxcms/revolution/blob/3.x/core/src/Revolution/modX.php#L1746-L1751

[2021-09-06 14:52] JoshuaLuckers commented on #15807
To get the error **handler**: `$modx->services->get('errorHandler');`.

Note: modError ($modx->error) and modErrorHandler ($modx->errorHandler) are two different things.

[2021-09-06 23:08] BobRay commented on #15807
Thanks, are these this correct then?

1. When using MODX outside of MODX in **MODX 2**, it's important to make the getService() call, otherwise the error handler will not be initialized and $modx->error->addError() will crash things.

2. In **MODX 3**  `$modx->initialize()` initializes the error handler, but the error object itself needs to be initialized as in Jako's example, otherwise if MODX ca

[2021-09-07 06:58] JoshuaLuckers commented on #15807
There's [modError](https://github.com/modxcms/revolution/blob/803ebb4303af0a925c8cdde53a25340f53904dc8/core/src/Revolution/Error/modError.php) and [modErrorHandler](https://github.com/modxcms/revolution/blob/55013b9258fb649d2139086409f37b9ea753a9bd/core/src/Revolution/Error/modErrorHandler.php).
- `modError` is used for error handling and validation for requests.
- `modErrorHandler` is used for PH

[2021-09-07 09:26] JoshuaLuckers commented on #15653
If I'm not mistake the `rank` property isn't part of the data that's stored in the cache either. In the reporters example `$modx->context->rank` returns `0` because it's the default value for the property.

[2021-09-07 11:53] JoshuaLuckers commented on #15445
Even if the extensions and plugins are not loading during setup, and setup is completed successfully, won't this break the manager afterwards?

[2021-09-07 12:07] JoshuaLuckers commented on #7330
This seems to work fine in 3.x.

[2021-09-07 14:49] r3l0c opened #15811 "Add quality arg to imagewebp call in phpthumb.class.php"
## Feature request

### Why is it needed?
imagewebp useless without quality arg

### Suggested solution(s)
imagewebp($this->gdimg_output,null, $this->thumbnailQuality);

[2021-09-07 15:30] Ibochkarev commented on #15811
@r3l0c This solution needs to be added to the repository https://github.com/JamesHeinrich/phpThumb as we use it as a library.

[2021-09-07 17:43] r3l0c commented on #15811
https://github.com/JamesHeinrich/phpThumb/issues/180#issuecomment-914488930

[2021-09-07 18:22] BobRay commented on #15807
Thanks.

Actually I don't want to use either handler. I'm writing an article on using MODX outside of MODX and want to know the minimum code for doing so without potential problems.

I wasn't aware that they are two separate error handlers (or why we have both). Is there some reason why `$modx->initialize` doesn't also initialize `$modx->error` in addition to the `modErrorHandler` object?

In MODX

[2021-09-07 19:56] opengeek commented on #15807
In MODX Revolution 3.x, you should not need to manually add the `modError` instance. It is used by various processors and `runProcessor()` now takes care of initializing it and adding it to the modX instance as `$modx->error`. This object is meant to contain error messages that need to be available from a response returned by a processor.

[2021-09-07 20:03] BobRay commented on #15807
Perfect, thanks!  It sounds like that also means there's no need to initialize it in `$modx->initialize(`), so I'm closing this.

[2021-09-10 15:06] JoshuaLuckers commented on #15811
Thanks for taking time to open a new issue. It would be really great if you could provide more details about your issue.

[2021-09-11 15:27] BobRay commented on #15807
I'm probably missing something, but I thought I'd reopen this just in case.

The processors do use the $modx->error object and `runProcessor()` does initialize that if necessary, but what if a processor is called directly by an AJAX call? In that case, wouldn't `$modx->error->addError()` cause a fatal PHP error?

[2021-09-11 16:11] Mark-H commented on #15807
How would that be called, if not through runProcessor?

I'm not against making initialize load it automatically so it's consistently available, but it is pretty processor-specific.

[2021-09-11 18:18] BobRay commented on #15807
I was thinking of custom processors that are called by extras with their own connector, though they're probably often called through runProcessor() or (as in the case of UpgradeMODX and Login) have their own $error member variable and their own addError(), hasError(), etc. methods.

It just seems wrong from a design standpoint to call $modx->error->addError() in a processor and blindly assume that

[2021-09-11 18:21] BobRay commented on #15807
FWIW, I have run into crashes where $modx->error was not initialized, but can't remember the details. I think one case involved unit tests of modx processors where I had to use debug and step through the code to find out what was wrong.

[2021-09-12 01:12] smg6511 commented on #13977
I know this is pretty old but wanted to chime in with the reason this and other field control issues are so difficult to remedy. In many places, MODX's forms are built in a bit of a non-ideal way—taking field components out of the Ext ecosystem and rendering them to the DOM. This is one of those areas. Had resource TV fields been added to the panel(s) by creating their respective Ext components in

[2021-09-14 14:20] Morlas805 opened #15814 "Can't create images with phpthumb.class.php from PDF file"
## Bug report
### Summary
It's impossible to use extensions like pthumb to create images from a pdf

### Step to reproduce
install pthumb and call the snippet like this exemple : [[pthumb? &input=`[[+pdf-file]]` &debug=`1` ]]

### Observed behavior
The snippet work with image but with a PDF return the original path of the PDF.

After replacing the folder /core/model/phpthumb with same from an old

[2021-09-14 14:34] Ibochkarev commented on #15814
@Morlas805 Please attach an example pdf file

[2021-09-14 14:40] Morlas805 commented on #15814
It's not with a specific file but with every PDF files

[2021-09-14 15:08] Mark-H commented on #15814
From what version?

Do you have imagick installed on the server?

[2021-09-14 15:30] Morlas805 commented on #15814
I have imagick working on the server, I took the folder from a random release : 2.6.5

I tried everything on the server before replacing the folder.

Here is the logs I get in my core/cache/logs/error.log, I think the problem is here : getimagesize(path/to/my/file.pdf)

[2021-09-14 15:35] Mark-H commented on #15814
This stands out to be in that log:

 [28] => ImageCreateFromStringReplacement() failed: unknown fileformat signature " 0x25 0x50 0x44" in file "phpthumb.class.php" on line 4396

Suggests it doesn't recognise the PDF after reading it directly... tried with a PDF from a different source?

[2021-09-14 16:08] Morlas805 commented on #15814
We have many PDF from different sources.

Found the code in phpthumb.class.php:4396

		switch (substr($RawImageData, 0, 3)) {
			case 'GIF':
				$ICFSreplacementFunctionName = 'imagecreatefromgif';
				break;
			case "\xFF\xD8\xFF":
				$ICFSreplacementFunctionName = 'imagecreatefromjpeg';
				break;
			case "\x89".'PN':
				$ICFSreplacementFunctionName = 'imagecreatefrompng';
				break;
			defaul

[2021-09-15 08:05] Jako commented on #15814
PDF is supported by phpThumb. But the method ImageCreateFromStringReplacement code looks like that it is used only with GD installations. So I think the ImageMagick detection of phpThumb seems not to work in your installation or there is a degression in the current code of phpThumb.class.php (https://github.com/JamesHeinrich/phpThumb/commits/5f84ff92fe675d5418caa1f669d0c6d8e3e2ace0/phpthumb.class.

[2021-09-22 08:23] verstratenbram commented on #15036
I solved this by editing the `ImageCreateFromFilename()` function in `core/model/phpthumb/phpthumb.class.php`:
[code]
[code]