[2019-01-25 09:59] Mark-H commented on #14308
Makes sense. ContentBlocks adds it's own content area that FC wont know about.

[2019-01-25 10:01] #13940 closed, assigned to nobody

[2019-01-25 10:02] sutrah commented on #14308
To be accurate contentblocks is installed, but not activated on the page
i'm trying to hide content.
I'm trying to hide the regular content with redactor. I can provide access
if needed.

Le ven. 25 janv. 2019 à 10:59, Mark Hamstra <notifications@github.com> a
écrit :

--
*Sylvain Le Bihan*
06 23 33 77 10
17, boulevard Jean Moulin
29200 Brest

[2019-01-25 10:34] sebastian-marinescu commented on #14302
Very annoying, as my initial automated setup (with Gitify package-installation) now "fails" (still usable, but red and not green with a big ok anymore).

[2019-01-25 10:41] sebastian-marinescu opened #14309 "Error caching lexicon topic"
## Bug report
### Summary
Occasionally, seldom and still regularly, I get the error `Error caching lexicon topic` in the logs.

I'd really like to know what is causing this. **Why** is this happening?

### Step to reproduce
Use MODX, best with some Extras active.

### Observed behavior
Sometimes nothing, but the log-message. Sometimes really no translated lexicon-tags in the front-end, which go aw

[2019-01-25 11:11] #14048 closed, assigned to nobody

[2019-01-25 11:13] #14212 closed, assigned to nobody

[2019-01-25 12:30] #14286 closed, assigned to nobody

[2019-01-25 12:34] alroniks commented on #11751
It seems issue solved by just merged pr.

[2019-01-25 12:34] #11751 closed

[2019-01-26 13:59] Jako opened #14311 "Enable autoformat code (before commit)"
## Feature request
### Summary
The repository code should run through some code formatter like https://prettier.io/

### Why is it needed?
- No need to discuss style in code review

### Suggested solution(s)
Add `prettier` at least to the template build process to make the files in that part formatted. The other part (format the php code) needs some integration in an IDE or in the commit process.

[2019-01-26 14:14] Ibochkarev commented on #14311
For example https://github.com/csscomb/grunt-csscomb

[2019-01-26 17:59] Jako commented on #14309
~~One source of this issue would be a lexicon file that does not create a $_lang array.~~

~~Put `return false;` in one lexicon file or create a lexicon file without any content. After clearing the cache, that error message should be triggered. Maybe you have a file like this somewhere in the tree. But the name of the file should be logged.~~

Sorry this creates a different error message:
[2019-02

[2019-01-26 18:04] sebastian-marinescu commented on #14309
Thank you very much @Jako for this information.
I'll test/check this soon and will report back.

[2019-01-27 18:06] Ruslan-Aleev opened #14313 "Create a standard for naming keys of settings, lexicons, etc"
## Feature request
### Summary
### Lexicons
There is confusion in the keys, for example, there are **duplicate lines with different keys (for example, new_tv | tv_new | add_tv)**, there is also excessive terminology.

I propose to mark the standard of the name of the keys, and bring the current keys to the new standard (many duplicates will be deleted for lexicons).

For example:
[code]

It also m

[2019-01-28 08:05] muzzwood opened #14314 "$modx->runProcessor('security/user/create') only works once."
## Bug report
### Summary
Attempting to create multiple users with ```$modx->runProcessor('security/user/create', $fields);```
only works the first time. Subsequent attempts return an empty array when calling: ```$response->getObject();```

### Step to reproduce
I originally tried it within a standard `for` loop. Like this:
[code]
A loop is not necessary however, it is the same result even if just

[2019-01-28 10:48] Ruslan-Aleev commented on #6016
I tried to test, created a user with the "Content Editor" policy and non-Administrators User Group, turned off resource editing, dragging and deleting it in the policy template.
But I can still move resources in the tree, changing the parent, bug for me works completely the opposite.

It requires a clear description of the configuration of access policy to test this issue.

[2019-01-28 11:02] Ruslan-Aleev commented on #6518
Here we need a specific description of the steps to test this issue.
I cant go to the "restricted action", I have an error outside the manager, i don’t have a "logout" link.

![error_test](https://user-images.githubusercontent.com/12523676/51832206-7b330900-230d-11e9-8a0e-8112b6c6a290.png)

[2019-01-28 11:09] Ruslan-Aleev commented on #11818
In the russian version there is a translation of the description of the options (see the picture below), the options themselves should not be translated.
However, the implementation of the drop-down list is a more global task, now in the system settings there are only drop-down lists with "Yes / No".

**It would be nice to make a separate issue about the drop-down lists.**
So there is not a bug, b

[2019-01-28 11:22] OptimusCrime commented on #14311
Should have been done a long time ago. The only problem is all the merge conflicts it is going to cause.

[2019-01-28 20:35] JoshuaLuckers commented on #14314
Thanks for taking time to report this issue and help us make MODX better.

This issue is a duplicate of issue #11951, therefore I'm closing this issue.

[2019-01-28 20:35] #14314 closed, assigned to nobody

[2019-01-28 23:39] muzzwood commented on #14314
Sorry, I missed that one. Thanks!

[2019-01-29 05:20] muzzwood commented on #11951
I'm also facing this problem - as you can see in the above closed (duplicate) issue.
I attempted the work-around by @Alroniks running `$modx->error->reset();` but it still did not work for me unfortunately.

[2019-01-29 07:27] JoshuaLuckers commented on #14314
No worries, thanks for reporting it 🥇

[2019-01-29 07:27] JoshuaLuckers commented on #11951
Thanks for testing @digitalpenguin.

[2019-01-29 10:22] sebastian-marinescu commented on #14309
So in the last 3 days these logs accumulated:

[2019-01-27 18:14:31] (ERROR @ /somepath/www/core/model/modx/modcachemanager.class.php : 349) Error caching lexicon topic [lexicon/en/babel/default](https://pastebin.com/xpDYPtnE)
[2019-01-28 20:00:04] (ERROR @ /somepath/www/core/model/modx/modcachemanager.class.php : 349) Error caching lexicon topic [lexicon/de/mxcalendars/default](https://pastebin.c

[2019-01-29 10:33] Ruslan-Aleev commented on #14176
@Jako Can you help with advice or information?
If in the `/manager/assets/modext/widgets/core/modx.grid.settings.js` (script to build system settings) file can specify css at column "Value":
...
[code]
...
But I did not understand how to add a class or tooltip.
Is it even possible in the current version of the script?

Here's how to look with css:

![settings_grid](https://user-images.githubuserco

[2019-01-29 12:31] jonleverrier commented on #14309
Not saying it's related, but out of interest, what server stack are you using @sebastian-marinescu ?

[2019-01-29 12:52] alroniks commented on #13958
Issue solved via https://github.com/modxcms/revolution/pull/14306. Thank you!

[2019-01-29 12:52] #13958 closed, assigned to nobody

[2019-01-29 13:31] Jako commented on #14176
The tooltip (or any other change of the column) could be created in the renderer property. The method in there has to return the display value. If I remember right, the method could return html tags, too.

[2019-01-29 13:58] Mark-H commented on #13954
Fixed in #14271 - though we have seemed to regress and the manager no longer works properly on mobile.

[2019-01-29 13:58] #13954 closed, assigned to nobody

[2019-01-29 14:01] Mark-H commented on #1188
Addressed in #14312

[2019-01-29 14:01] #1188 closed

[2019-01-29 14:04] Mark-H commented on #11888
Fixed in #14304

[2019-01-29 14:04] #11888 closed

[2019-01-29 14:12] Mark-H commented on #14067
Moved tabs in #14250

[2019-01-29 14:12] #14067 closed, assigned to nobody

[2019-01-30 08:51] #11854 closed

[2019-01-30 09:26] Ruslan-Aleev commented on #10596
Related with https://github.com/modxcms/revolution/issues/14313

[2019-01-30 09:32] Ruslan-Aleev commented on #10479
It also makes sense to place related fields side by side, for example, $dbase and $database_user, since the fields often have the same values and it will be easier to edit them visually.
Logically connected with https://github.com/modxcms/revolution/issues/14238

[2019-01-30 09:33] #14153 closed, assigned to nobody

[2019-01-30 10:11] Ruslan-Aleev commented on #13554
In the "Package Management" section, each package has the "Uninstall" and "Remove" buttons. But their names and actions are not entirely correct.
"Uninstall" sometimes means deleting, although in MODX it works like a downgrade to the previous version, it is better to call it "**Downgrade**".
"Remove" does not remove the package from the files unless the "Force Package Removal" checkbox is checked,

[2019-01-30 12:13] Ruslan-Aleev commented on #5799
Perhaps the adding additional parameters in the url will allow to clearly define the elements, and not to overload unnecessary. Related to - https://github.com/modxcms/revolution/issues/14086

[2019-01-30 12:46] sebastian-marinescu opened #14316 "Better log for: "Encountered empty IN condition with key id""
## Feature request
### Summary
Sometimes I get this error in the logs:

Looking at this line:
https://github.com/modxcms/revolution/blob/2.x/core/xpdo/om/xpdoquery.class.php#L764
it doesn't even seem to be something grave - but I'd still like to find the origin of it.

That's why I would like more information on this log.

### Why is it needed?
Better debugging and fixing of possible errors.

###

[2019-01-30 14:05] iWatchYouFromAfar commented on #8371
This problem is very relevant so far. Almost on all sites that i create, i have to make image renaming plugins to avoid duplicate names. At the same time, silent renaming does not work if you rename a file already uploaded to the server.

I reproduced on the current dev branch MODX 3.x. Any ideas for fixing this problem?
![file-browser](https://user-images.githubusercontent.com/16403917/51986356-1

[2019-01-30 16:12] Mark-H commented on #14316
Isn't $val or $conditions just going to contain an empty condition? Not sure if that's going to help figure out what's causing it just yet.

Also, this is an xpdo issue: https://github.com/modxcms/xpdo

[2019-01-31 09:50] OptimusCrime commented on #5799
@Ruslan-Aleev This is not related to browsers putting tabs in sleep. This is what happens when you save a resource or click on a resource in the menu.

However, what the original poster here did not seem to understand, is that the MODX manager is not a single page app, and clicking any links that switches views, will result in a complete page load. This means, that the menu, the topbar, and the ma

[2019-01-31 10:17] sebastian-marinescu commented on #14316
Yes, you're right - in both cases :)

Logging `$conditions` didn't help much:
[code]

I added this issue to the xpdo-repo:
https://github.com/modxcms/xpdo/issues/155

[2019-01-31 10:17] #14316 closed, assigned to nobody

[2019-01-31 10:17] Ruslan-Aleev commented on #5799
@OptimusCrime I'm not talking about browser sleep, but about the fact that if you pass an extra parameter to the url, you can track active elements, and only update it through the script, it seems to me...
But, apparently, I do not quite understand the specifics of single-page applications.

[2019-01-31 10:40] Ibochkarev commented on #14114
I agree with the colleague about the protection of the following folders:
- assets/
- connectors/
- core/

But the **manager** folder should be protected only from deletion. Many rename this folder to protect against hacking.

[2019-01-31 10:44] Ruslan-Aleev commented on #14114
@Ibochkarev The rest of the folders are also renamed often, so the comment to all folders is appropriate :)

[2019-01-31 10:48] pepebe commented on #14114
They might be renamed, but who does that from within the manager?

I guess it would be possible to look up the correct paths for these folders from within config.inc.php and then protect them from being deleted.

[2019-01-31 16:12] Ruslan-Aleev commented on #14158
At the Russian-speaking forum there was a discussion about the new format of deleting resources: _if there are a lot of them, then all the resources cannot be deleted at once, the pagination in the deleted resources manager interferes_.
Perhaps in addition to the setting "Hiding remote resources from the tree," **we can also make the setting "Use delete manager or not", which will enable the manag

[2019-02-01 03:37] Ibochkarev commented on #5843
Tested in 2.7.0 and 3.x.

While creating:
- Resource - requires to fill the title
- Template - requires to fill in the Name
- TV - requires you to fill in the Name
- Chunk - requires you to fill in the Name
- Categories - requires to fill in the Name
- Plugin - requires to fill in the Name
- Snippet - requires you to fill in the Name

And these fields are marked * as required.

I think this reques

[2019-02-01 06:51] #5843 closed

[2019-02-01 07:33] JoshuaLuckers commented on #5799
Thanks all for taking time to report this issue and make MODX better.
Sadly the screencast is gone, therefore I'm closing this issue.

[2019-02-01 07:33] #5799 closed

[2019-02-01 11:08] morelmm commented on #14087
exactly like @jonleverrier said, new resource is saved, but updating doesn't work. Any ideas what might be the cause?

[2019-02-01 11:24] sebastian-marinescu opened #14320 "File with two dots in name can be uploaded, but not deleted"
## Bug report
### Summary
The MODX media-manager allows uploading of files with two dots ("**..**") in the filename,
but deleting it is impossible.

### Step to reproduce
Create a txt-file with the name `datei-mit_zwei..punkten.txt`.
Upload it via media-manager. Try to delete it afterwards.

### Observed behavior
Trying to delete it throws an error:
![image](https://user-images.githubusercontent.c

[2019-02-01 14:32] sebastian-marinescu commented on #8371
Silently overwriting doesn't seem good. A confirmation of overwriting the file would be the best UX here.

[2019-02-02 04:07] Ibochkarev commented on #12945
@prapdm Is the € symbol exactly indicated in the value?
And please add a full description and name of the setting. I will make corrections

[2019-02-02 10:12] Ruslan-Aleev commented on #14291
**Possible structure of the main menu in MODX3, from left to right in MODX 2.x (in MODX3 from top to bottom).**

I was here trying to collect menu items based on logical connections, maybe in the future something will be added or removed. We need a discussion.

1) **Content:**
- Clear Cache / Refresh URIs (item now in "Manage->Clear Cache / Refresh URIs")
- Remove Locks (item now in "Manage->Remov

[2019-02-02 10:23] ghost commented on #14291
As long as the menu is still manageable, it doesn't matter so much how it's structured, since everyone will want a different structure. What is intuitive to one person can be totally confusing to someone else. While there can be some consensus for the organization, the main feature needs to remain the ability to adjust and customize it to suit any needs.

[2019-02-02 10:25] ghost commented on #14291
And yes, I have used Messages along with a simple Dashboard widget to report on the active user's messages.

https://gist.github.com/sottwell/bca3dc4d2de4b15a5261

[2019-02-02 10:30] Ruslan-Aleev commented on #14291
@sottwell It is not in the intuition of the case, but the essence of the elements. In the current version, for example, user elements are located at different points, see the picture above.
Although everyone has their own vision, so we need a discussion :)
As for the customization of the menu, I completely agree.

[2019-02-02 11:32] JoshuaLuckers commented on #14311
How can we move forward with this? I would really like to see a more standardised code base.

[2019-02-02 11:33] JoshuaLuckers commented on #14309
Sometimes I experience the same issue. It's totally random..

[2019-02-02 11:37] Ibochkarev commented on #14311
Use https://prettier.io/ for our IDE with a common config.

[2019-02-02 12:18] JoshuaLuckers opened #14321 "Improve the file preview in the media manager"
## Feature request
### Summary
Improve the file preview in the media manager by improving the quality of the "No Preview Available" image and make it translatable and/or use actual images matching the file type.

### Why is it needed?
For non-images the media browser shows a "No Preview Available" image. As mentioned by @Ruslan-Aleev in issue #14307 this image is of poor quality.

The image is als

[2019-02-02 14:10] rthrash commented on #14291
Great discussion; thanks for starting it. :)

“Preview Site” should just be “View Site” or “View Front-end”, which is more accurate.

I’m on the fence about a “Manager” menu, but understand the logic behind it. I’d rather see it as a submenu of a “System” or “Settings” menu.

Part of the reason for the current structure was to have fewer top-level menus for different screen sizes, and this would r

[2019-02-02 14:44] Ruslan-Aleev commented on #14291
Yes, we also thought about this variant.

Perhaps some elements will disappear from the core. For example, for the entire practice, I have never used "Property Sets".

[2019-02-02 14:51] JoshuaLuckers commented on #14291
The top-level menu `Content` is focussed around  "resource" objects.  It would be more logical to rename it to `Resources`.

I agree that "Preview Site" should be named differently. Maybe it's better to name it "View Website" because "Website" is the name of the default context and is also used in the tree as root node.

In a multi context environment used to run different versions of a site (mult

[2019-02-02 14:57] rthrash commented on #14291
There are people, @opengeek and @sepiariver included, that would go to war against removing them.

[2019-02-02 14:59] Ibochkarev commented on #14291
I also do not use `Property Sets`

[2019-02-02 15:01] Ruslan-Aleev commented on #14291
Dangerous changes :)

[2019-02-02 15:11] opengeek commented on #14291
https://media.giphy.com/media/WXtccLGTLB1NS/giphy.gif

[2019-02-02 15:12] rthrash commented on #14291
I’d lobby for “pages” vs “resources”. It would be very nice to have a more intuitive platform that requires less education.

Yes, I get it that resource is the correct term, and a page does not technically connote all that a resource can do. But I’d much rather see people with fewer opportunities to be intimidated or frustrated  by having to understand and explain compsci terms to colleagues.

Dev

[2019-02-02 15:25] JoshuaLuckers commented on #14313
Lexicon keys should be easy to group, sort, filter and describe their purpose.

A lexicon named `setting_site_page_error` can be open for interpretation because it does not clearly describe its purpose. For example is this key used in a situation where an error occurs if I edit a setting related to `setting site page` or does it used for something else?

[2019-02-02 15:37] JoshuaLuckers commented on #14291
To be honest I never use them either. I recently became aware of them and now I do see how useful this feature is. People should be made more aware of this powerful functionality.

[2019-02-02 16:05] Ruslan-Aleev commented on #14313
About the sorting of the settings was also a thought - https://github.com/modxcms/revolution/issues/14254
In this case, I gave an example with keys so that they are next to the list, perhaps more intelligently name, for example:
[code]

[2019-02-02 16:07] JoshuaLuckers commented on #14291
Maybe it should be named `Website` and contain entries that are related to managing the content of a website.
1) **Website (renamed from Content):**
- Create new page (renamed from New Resource)
- Show publication schedule (renamed from Site Schedule)
- Show page groups (renamed from Resource Groups)
- Open website (renamed from Preview Site)

The menu items:
- Content Types
- Import Static Resour

[2019-02-02 16:22] JoshuaLuckers commented on #14313
To describe a key's purpose I think it would be better to name them like this:
- setting_name_site_index_id
- setting_description_site_index_id

Without context it's more clear for a translator that values for those keys should describe the name/description for something referring to an "site index identifier" setting.

[2019-02-02 16:23] Ruslan-Aleev commented on #14291
I would not change the "Content" section, from the entire menu it is the most understandable now :)

[2019-02-02 16:38] Ruslan-Aleev commented on #14313
The problem is not so much in the writing of keys, but in the fact that there are too many variants for keys, for example, the section "Back-end Manager" in the "System Settings":
[code]

[2019-02-02 17:54] sepiariver commented on #14291
Property sets are one of the most powerful and differentiating features of MODX. The ability to create, and recall by name, a set of configuration options for any Element—honestly cannot fathom how anyone would _not_ find it useful.

Resource (“page”, whatever you want to call it) Properties are similarly critical. Different in implementation—but upon consideration of the usefulness of Resource Pr

[2019-02-02 18:20] Ruslan-Aleev commented on #14291
Guys, I did not advise removing the "Property Sets", I just gave an example that there are functions that are not used by users (for me, this is a "Property Set", apparently I do not use this functionality in vain).
This is just an example, no need to delete it :)

[2019-02-02 19:57] guyinpv commented on #14291
I am a HUGE fan of not having to open a submenu just to click the link to open the front-end.
This little button needs to be visible at all times throughout the Manager and open the front end in a new tab.

I would not call it "preview" as this suggests you're not seeing the real live site, but just a preview of it, which is confusing.

I understand this could be tricky if multiple domains are hos

[2019-02-02 20:26] Ruslan-Aleev commented on #14291
@guyinpv Link already added to the site name in MODX3 - https://github.com/modxcms/revolution/issues/14218

[2019-02-02 21:55] Ruslan-Aleev commented on #14321
@JoshuaLuckers Why did you refuse the option with the icon? In my opinion, this is the simplest and most universal solution.

![file_icon](https://user-images.githubusercontent.com/12523676/51675547-6a248800-1fed-11e9-85dc-653cf27d07e8.png)

If the Media Browser will open different files in the preview window, then yes, it would be helpful to see the icon with the file type (php, jpg, txt, etc.),

[2019-02-03 08:10] JoshuaLuckers commented on #14321
My mistake, the icon you suggest is also a possible solution I would like to suggest (did you make the icon?)

[2019-02-03 09:17] Ruslan-Aleev commented on #14321
The icon is already in Font Awesome, just need replace the image tag with an icon tag, for example:
`<i class="far fa-eye-slash"></i>` - the best choice in my opinion
or
`<i class = "far fa-window-close"></i>`

Or another suitable icon - https://fontawesome.com/icons?d=gallery&m=free

[2019-02-05 12:59] Ibochkarev commented on #14262
Fixed. In Increased error message incorrect #14276 . Can be closed.

[2019-02-05 13:04] #14262 closed, assigned to nobody

[2019-02-05 14:39] #14177 closed, assigned to nobody

[2019-02-05 14:41] #14240 closed, assigned to nobody

[2019-02-05 14:44] alroniks commented on #14207
Related PR was merged. So I am closing it, but feel free to reopen if needed.

[2019-02-05 14:44] #14207 closed, assigned to nobody

[2019-02-05 15:27] JoshuaLuckers commented on #13948
This issue seems to be solved by PR #14310, therefore I'm closing this issue.

[2019-02-05 15:27] #13948 closed, assigned to nobody

[2019-02-05 15:36] neoneddy commented on #14207
Thanks everyone

[2019-02-05 15:59] iWatchYouFromAfar opened #14331 "Trash cart not available, console errors"
## Bug report
### Summary
The bug when deleting resources and the inability to go to the trash basket

### Step to reproduce & Observed behavior
1. Delete the resource, visually it will be displayed only after the page has been updated.
2. Click on the trash icon and get an error in the console

![trash_error](https://user-images.githubusercontent.com/16403917/52285723-ef0d8b00-2977-11e9-8b66-c412

[2019-02-05 16:02] Ibochkarev commented on #14331
I confirm this bug.

[2019-02-05 22:59] Ibochkarev opened #14333 "Incorrectly working list of editable resources by the user."
## Bug report
### Summary
Incorrectly working list of editable resources by the user.

### Step to reproduce
It is necessary to click on the User main menu, then Edit user, go to the Recent Resources tab.

### Observed behavior
A list is displayed, but there is no name and ID is not displayed correctly. The screenshot shows the ID of the resources in the list.

![2019-02-06_04-48-06](https://user-

[2019-02-06 04:39] Ibochkarev opened #14334 "Information is not displayed in the Recently Edited Resources panel."
## Bug report
### Summary
Information is not displayed in the Recently Edited Resources panel.

### Observed behavior
Here is the next bug:
- the resource id is not displayed correctly (if it is a resource)
- resource title is not displayed
- the date of resource editing is not displayed

![2019-02-06_10-33-23](https://user-images.githubusercontent.com/2138260/52320784-69332380-29fb-11e9-9be2-a334

[2019-02-06 06:57] Ibochkarev commented on #6016
@moniarde I ask you to check this issue for relevance. Thank!

[2019-02-06 08:17] alroniks commented on #14333
Please, hold it before 2.x will be merged into 3.x because the similar problem already was solved in 2.7.1 - https://github.com/modxcms/revolution/pull/14234. So it may raise conflicts.

[2019-02-06 08:45] alroniks commented on #14333
Related to https://github.com/modxcms/revolution/issues/14334

[2019-02-06 08:45] alroniks commented on #14334
Related to https://github.com/modxcms/revolution/issues/14333

[2019-02-06 09:38] Ruslan-Aleev commented on #14143
By the way, in the form of quickly creating / editing a resource, the template selection list works by clicking the full width of the list.

[2019-02-06 10:54] Mark-H commented on #14331
It would be very useful to also post the error that gets logged into the console.

[2019-02-06 11:04] iWatchYouFromAfar commented on #14331
As you wish, master. :-)

[code]

[2019-02-06 12:48] #14102 closed, assigned to nobody

[2019-02-06 12:48] #14103 closed, assigned to nobody

[2019-02-06 12:48] #14104 closed, assigned to nobody

[2019-02-06 12:48] #14105 closed, assigned to nobody

[2019-02-06 12:50] Mark-H commented on #14331
Thanks :)

[2019-02-06 12:51] #14094 closed, assigned to nobody

[2019-02-06 15:11] travisbotello opened #14337 "Trash manager context menu only working for sudo user"
## Bug report
### Summary
Context menu to "Purge" or "Restore" single resource inside trash manager is not working when user doesn't have the sudo flag.

### Step to reproduce
- Create a new user group
- Assign Administrator Policy access policy with all permissions enabled
- Assign new user but make sure to uncheck sudo flag
- Delete resource
- Switch to trash manager
- Try right click on a delet

[2019-02-06 15:25] travisbotello opened #14338 "Trash manager grid resource title not correctly escaped"
## Bug report
### Summary
Using script tag inside content field of a deleted resource causing resource's title in trash manager grid being messed up.

### Step to reproduce
- Create a resource with `pagetitle` *test* and content like this:
[code]
- Delete this resource
- Switch to trash manager

### Observed behavior
In grid you will see the resource's title being rendered `">Test` and tooltip con

[2019-02-06 17:09] AgelxNash commented on #14102
CVE-2018-20755

[2019-02-06 17:10] AgelxNash commented on #14105
CVE-2018-20756

[2019-02-06 17:10] AgelxNash commented on #14104
CVE-2018-20757

[2019-02-06 17:10] AgelxNash commented on #14103
CVE-2018-20758

[2019-02-06 19:01] travisbotello opened #14339 "Trash manager purging of resources assigned to resource group only working for sudo user"
## Bug report
### Summary
Trash manager purging of resources assigned to resource group only working for sudo user.

### Step to reproduce
- Create a new user **without** sudo flag
- Add this user to Administrator group and assign Super User role
- Create a new resource group and grant access to Administrator group
- Login with this new user
- Create a new document and assign it to new resource gr

[2019-02-07 10:10] Ruslan-Aleev opened #14340 "[bug] Confirmation window changes width"
## Bug report
### Summary
In the Deleted Resources Manager, **possibly in other sections**, the confirmation window changes its width.

### Step to reproduce
1) In the Deleted Resources Manager, mark the resources and click "Purge All"
2) On the confirmation window, click "No"
3) Press "Purge All" again - the window has reduced its width.

![trash](https://user-images.githubusercontent.com/1252367

[2019-02-07 10:12] Ibochkarev commented on #14340
I can reproduce this bug. MODX 2.7.0

[2019-02-07 10:19] Ibochkarev opened #14341 "Stored XSS: Media Source"
## Bug report
### Summary
Stored XSS: Media Source

### Step to reproduce
Go to the Media menu, then media sources. Create or edit an existing media source and insert `<img src=# onerror=alert(1); />`

![screencast 2019-02-07 16-13-07](https://user-images.githubusercontent.com/2138260/52404785-0b363700-2af4-11e9-844a-fe6cf8507591.gif)

### Observed behavior
The application processes the html tags

[2019-02-07 10:30] Ibochkarev opened #14342 "Stored XSS: Context"
## Bug report
### Summary
Stored XSS: Context

### Step to reproduce
Go to the Settings menu, then Contexts. Create or edit an existing context and insert `<img src=# onerror=alert(1); />`
![russian inn - revista rusa en espana russian inn - 2019-02-07 16-29-12](https://user-images.githubusercontent.com/2138260/52405533-b2679e00-2af5-11e9-9d96-c088c3bbce17.jpg)
![web111 russian inn - revista rusa

[2019-02-07 11:09] sdrenth opened #14343 "Integrate laravel migrations in MODX"
## Feature request
### Summary
I would like to know what people think of the idea of possibly integrating Laravel Migrations into the core of MODX.

### Why is it needed?
Laravel migrations is a nice, simple and clean way for creating/altering the database and also makes it possible to revert database changes.

I think it would also come in handy for developers when working with MODX they can easi

[2019-02-07 11:14] Mark-H commented on #14343
"Should we integrate {$framework}" is putting the cart before the horse. We have APIs (xPDOManager) for database migrations that are used by core and extras. Apparently, those are not sufficient for your needs. Let's talk about the problem before jumping to a specific implementation to fix them.

[2019-02-07 11:15] Mark-H commented on #14341
I think this is a duplicate of #14094 that was fixed in #14336 just 22 hours ago? Can you still reproduce in the latest 2.x?

[2019-02-07 11:22] sdrenth commented on #14343
@Mark-H You're right about that, we might as well use the same approach as Laravel Migration but using MODX APIs for it.

I think the general approach of laravel migrations would be very useful when developing in multiple environments (local/staging/production) and could be used for installing MODX core and making it also useful for developers when developing with MODX.

The migrations table comes

[2019-02-07 11:28] Ibochkarev commented on #14341
@Mark-H
**Still found**:
In Content types - /manager/?a=system/contenttype
In Profile - /manager/?a=security/forms
In the panels - /manager/?a=system/dashboards
In access policy - /manager/?a=security/permission
In the parameter sets - /manager/?a=element/propertyset
In lexicons - /manager/?a=workspaces/lexicon
In namespaces - /manager/?a=workspaces/namespace

I will try to test the latest version

[2019-02-07 12:17] Mark-H commented on #14341
I've created PR #14344 that applies XSS protection for all grid columns by default. There are still places where object names are inserted into a header dynamically, without running them through htmlEncode, so those will still need manual fixing.

[2019-02-07 12:18] Mark-H commented on #14094
I've created PR #14344 to apply htmlEncode to all grid columns by default, targetting 3.0.

[2019-02-07 12:34] Ibochkarev commented on #14341
@Mark-H It is excellent!

[2019-02-07 20:06] feamsr00 opened #14345 "Malformed url after install when manager is on different url"
## Bug report
### Summary
I've just update a an install to 2.7.0. The install doesn't redirectr correctly if I've placed the manager on a different host.

### Step to reproduce

1. Have existing install of MODx with manager on different host eg man.site.com
2. Configure 'MODX_MANAGER_URL' with url https://man.site.com
3. Run install\upgrade

### Observed behavior
Bad redirect to `https://site.comh

[2019-02-07 20:57] OptimusCrime commented on #14342
Does it also print the alert, or is that stripped out?

[2019-02-08 00:50] Ibochkarev commented on #14342
@OptimusCrime An example of execution can be seen here: #14341  Runs the same.

[2019-02-08 08:01] JoshuaLuckers commented on #14343
I prefer [Phinx](https://phinx.org) fro migrations. Maybe it's better to keep the freedom of choice and come up with ideas and solutions to make it possible to use whatever tool a developer prefers for migrations.

[2019-02-08 09:44] Jako commented on #14345
Please check if it works with a trailing slash after the manager url.

[2019-02-08 15:58] MrRoco commented on #13951
Maybe a little shortcut... remove "to" from te error.

[2019-02-08 21:03] Jako opened #14349 "Delete checkbox does not change deletedby/deletedon"
## Bug report
### Summary
Delete checkbox does not change deletedby/deletedon.

### Step to reproduce/Observed behavior
Delete a resource with the deleted checkbox in the resource. The column deletedby and deletedon in the trash manager do not change. The opposite could only seen directly in the database. Deleting a resource with the context menu changes both fields.

### Expected behavior
The col

[2019-02-09 10:08] JoshuaLuckers commented on #13876
The `manager_time_format` is now using the 24-hour clock format after merging PR #14325

[2019-02-09 10:19] JoshuaLuckers commented on #13903
This is fixed by merging PR #13904

[2019-02-09 10:19] #13903 closed, assigned to nobody

[2019-02-09 10:46] JoshuaLuckers commented on #14342
~Fixed in 3.x by merging PR #14344~

[2019-02-09 10:48] JoshuaLuckers commented on #14342
Sorry, PR #14344 didn't solve this particular case.

[2019-02-09 11:50] achterbahn opened #14352 "Form Customization: Menu Title / Form Title"
## Bug report
### Summary
Actually the menu entry for FC is "Manager Customization". But the title of the form is "Form Customization".

### Step to reproduce
Click manager menu "Manager Customization" and watch the title in the form opened.
![image](https://user-images.githubusercontent.com/1411919/52520360-3f7f3400-2c69-11e9-8e15-1ab635dbe4ec.png)

### Observed behavior
--

### Expected behavior

[2019-02-09 13:12] Jako commented on #13876
`fe_editor_lang` is deprecated according to https://docs.modx.com/revolution/2.x/administering-your-site/settings/system-settings/fe_editor_lang

[2019-02-09 13:36] muzzwood commented on #14088
In this case, perhaps we can downgrade the error to a warning.

[2019-02-09 15:52] Ruslan-Aleev commented on #14349
Yes, I can reproduce the bug.

[2019-02-09 18:32] iWatchYouFromAfar opened #14355 "Webp format and MODX is not friend yet."
## Bug report
### Summary
As you probably know, the format of webp images is becoming more and more relevant. If you do not know, then here's an article on Wikipedia - https://en.wikipedia.org/wiki/WebP.

In MODX there are several problems that I discovered while trying to work with this format. What I want to tell below.

### Step to reproduce & Observed behavior
**Problem 1.**
Go to the settings

[2019-02-09 19:07] JoshuaLuckers commented on #14355
WebP is not supported by one of the major browsers. And if I’m not mistaken phpthumb doesn’t support WebP either.

[2019-02-09 20:50] Ibochkarev commented on #14355
At the moment, phpthumb does not support the format of the webp as this issue says
https://github.com/JamesHeinrich/phpThumb/issues/107.

I added a PR that changes the setting and registers this format in the list of allowed downloads.

[2019-02-09 22:08] Ibochkarev commented on #14291
@Mark-H , I want to know your opinion on this topic https://github.com/modxcms/revolution/issues/14291#issuecomment-459953084.

[2019-02-09 22:54] tolanych commented on #14349
I'm looking at the present implementation. I have got options.
1) Should just update fields deletedby/deletedon...
2) Should duplicate all delete logic in update processor...
3) or just call delete/undelete resource processor inside method update processor? (possibly trouble with addLock, but can run delete processor in cleanup method after removeLock())

[2019-02-10 03:39] Ibochkarev commented on #14244
@Jako @JoshuaLuckers  @sottwell @guyinpv Colleagues, let's take as a basis, take the best solution at the moment - https://github.com/h5bp/html5-boilerplate/blob/master/dist/.htaccess

This file contains the best solutions! Please give feedback - I will create the PR.

[2019-02-10 04:01] JonikUl commented on #14244
That's a good idea, I think. What about adding the following sections?
[code]

[2019-02-10 04:09] Ibochkarev commented on #13896
This bug has been fixed earlier. Packages are installed correctly.
Tested on the latest version installed from the composer.

I vote for closing this request.

[2019-02-10 04:10] Ibochkarev commented on #13862
@nuykon Please give feedback. Is it relevant?

[2019-02-10 08:02] #13896 closed, assigned to nobody

[2019-02-10 08:24] muzzwood commented on #13876
This is taking it even further but I would love MODX 3 to provide different installation and configuration options so it doesn't have to just be a blank canvas. (This is daunting for newbies.)

Options such as:
- Multilingual Site: Could be done similarly to an extra I released recently called MultiLangSetup.
- Configure a Blog
- News Site
- Event Listings

Of course one size doesn't fit all but t

[2019-02-10 08:41] Ibochkarev commented on #13876
@digitalpenguin I had the same thoughts on this account. Need a discussion with the community on this issue.

[2019-02-10 08:44] ghost commented on #13876
Composer and dependencies would make it much easier, there wouldn't need to be several different distributions, nor would there need to be unused packages.

[2019-02-10 09:07] Ruslan-Aleev commented on #13876
@digitalpenguin There are a few comments on this idea:
1) If you give the user 4 categories to choose from, the user will in the future think only of these categories and not be aware of all the flexibility of MODX. Although maybe for beginners it will be more useful.
2) The idea with the choice of packages is interesting, there was a similar discussion earlier. But what if, for example, a vulnera

[2019-02-10 09:26] ghost commented on #13876
I would presume that the dependencies would be downloaded on demand, not built in to the whole MODX package. So any vulnerabilities would get fixed, and the latest version would be fetched.

[2019-02-10 09:28] Ibochkarev commented on #13876
@digitalpenguin I propose to make a separate issue.

[2019-02-10 10:16] JoshuaLuckers opened #14358 "MODX Tree shows "HTML" elements"
## Bug report
### Summary
After the recent security patches (PR #14335) the MODX Tree applies html encoding to the node text.
For resources the text for nodes contains a span element surrounding the resource ID. This span element tells browsers that it should use the text direction "left-to-right". Because the text is encoded it shows the element as "regular" text.

### Step to reproduce
Fetch the

[2019-02-10 10:17] Ibochkarev commented on #14358
I can reproduce this bug.
The problem was found, here is - https://github.com/modxcms/revolution/pull/14335/files#diff-5f9a4ceb2f6f68d22416f98adcc4fdb5R250

[2019-02-10 10:25] JoshuaLuckers commented on #14358
I'm not sure what's the best way to solve this issue. A quick and dirty workaround would be to use a find and replace for this particular element after the string is encoded.

Using a quick and dirty workaround is not something I prefer and it should be used as a last resort if it this issue prevents a 2.7.1 release.

[2019-02-10 11:05] Mark-H commented on #14358
If we can't run `htmlEncode` on `n.text`, then `n.text` has to be sanitised _before_ it gets to the client-side. That's probably in the getNodes processor. A find and replace would be very dirty ;)

[2019-02-10 11:28] Ruslan-Aleev commented on #14358
And here exactly need htmlEncode? For a resource heading, for example, htmlEncode is applied again - https://github.com/modxcms/revolution/pull/14335/files#diff-b7fb669b456b21ec201094399cdc918bR496

[2019-02-10 14:40] Mark-H commented on #14358
So that turned out to be more complicated than I expected, but #14361 should resolve this. Would appreciate help with testing that.

[2019-02-10 16:12] GulomovCreative opened #14362 "Detailed file description area always shows the first file of several selected"
### Summary
Detailed file description area shows the first file of several selected

### Step to reproduce
Select multiple files in Media Source Browser

### Observed behavior
Description of the first file will be displayed. It isn't correct. (Note the order of the selected files)

_Do not pay attention to the "undefined"_ label

![screenshot-revolution-2019 02 10-22-55-19](https://user-images.git

[2019-02-10 16:21] GulomovCreative opened #14363 "Missing file size translitions in Media Source Browser"
## Bug report
### Summary
File size, or more precisely, "bytes" and "KB" don't have lexicon entries

### Step to reproduce
Select the file in Media Source Browser

![screenshot-revolution-2019 02 10-23-10-56](https://user-images.githubusercontent.com/20814058/52536249-8749ac80-2d8a-11e9-94dc-7a3366d3acd6.png)

### Observed behavior
The words "bytes" and "KB" are displayed without translation

###

[2019-02-10 18:05] Ibochkarev commented on #11847
I can reproduce this. At the moment this is not fixed and relevant.

[2019-02-10 19:32] #14358 closed, assigned to Mark-H

[2019-02-11 01:48] muzzwood commented on #13876
@Ruslan-Aleev Yes I agree, the 4 options I gave were just arbitrary examples. Exactly what options are included would need to be decided upon.
In my mind the dependencies would be downloaded on demand, like what @sottwell mentioned so it would be important to select Extras that are actively maintained.
@Ibochkarev Sure, I'll create a separate issue for it now. Thanks!

[2019-02-11 02:45] muzzwood opened #14364 "MODX 3 - Include auto-configuration options in the installer: multilingual site, blog etc."
## Feature request
Creating a new issue for this feature request that began while discussing issue #13876

### Summary
It would be great if MODX 3 could include configuration options in the installer. These options would provide a richer starting point for developing a project with MODX. For example, if selected, a multi-lingual site could be configured automatically while MODX is installed. A sim

[2019-02-11 03:45] muzzwood commented on #14355
It looks like there's a PR adding this to phpthumb as of 4 hours ago.
https://github.com/JamesHeinrich/phpThumb/commit/884abbdb1b045c16b58b9b3f0969d93e043a7b26

[2019-02-11 03:56] Ibochkarev opened #14365 "To update the version of phpThumb to support WebP"
## Feature request
### Summary
To update the version of phpThumb to support WebP

### Why is it needed?
Have an up-to-date version of phpThumb with support for progressive webp image format.

### Suggested solution(s)
https://github.com/JamesHeinrich/phpThumb/commit/884abbdb1b045c16b58b9b3f0969d93e043a7b26

### Related issue(s)/PR(s)
#14355 #14356

[2019-02-11 05:22] Semdevmaster commented on #14364
A very unambiguous topic, for newbies it may be relevant, but MODX as a whole is not for beginners.
For example, I do installation scripts on the MODX API for different tasks, one click and everything on a clean system is everything that is needed and configured as needed. If you make such a functional, then each preset must be carried out in the form of an interactive sequence of steps, as during

[2019-02-11 05:33] muzzwood commented on #14364
@arsentver I think that's a bit more ambitious than what I was initially envisioning. Not to say I'm not open to the idea of an interactive questionnaire though..

My original thought was just to have basic presets that can be used or not. If you wanted to alter the configuration, you could do that post installation or just not not use the options at all.

[2019-02-11 05:39] Semdevmaster commented on #14364
The idea of presets is good.
Just a vision of how, for example, a typical blog should be, all different. Therefore, step-by-step installation would be useful here. This will help to navigate the system settings and understand what components are recommended for the blog.

[2019-02-11 05:50] iWatchYouFromAfar commented on #14364
I make websites on MODX with the help of some developments that I managed to adapt in a short time to my needs for this CMS. At the same time, I like the fact that initially the MODX are install completely naked, without settings and sub-settings. Pure CMS. And I don’t really want the MODX to be transformed from a small and pleasant for the development CMS into big and huge transformer.

On the ot

[2019-02-11 05:55] JonikUl commented on #14364
We have too many options, for example, a multilingual site can be made with:

- Babel
- LangRouter
- Localizator
- Multilangsetup
- etc

Which option we must choose?

[2019-02-11 05:59] muzzwood commented on #14364
@iWatchYouFromAfar The presets would be completely opt-in during the install. If you don't select the option, MODX will install the same as now.

@JonikUI That's right, so we would make a decision on what the presets use.
For a multilingual site I would vote for Babel and LangRouter. Just the same as I did in MultiLangSetup: https://github.com/digitalpenguin/MultiLangSetup

[2019-02-11 06:04] Ibochkarev commented on #14364
I suggest we hear @Mark-H @opengeek @rthrash opinion on this request.
Next, determine the types of sites. and then determine what will go to all types of sites and individual types of sites from add-ons.
Well, to hear more opinions from our colleagues.

[2019-02-11 06:07] JonikUl commented on #14364
Сonsole is always required for installation))

[2019-02-11 06:09] iWatchYouFromAfar commented on #14364
Well, let's say. We make the installation itself harder on the one hand and simpler on the other. Components that will implement the functionality should be supported and developed "officially." Like for example Fred. Otherwise, this is not a serious approach.

More over, these components should be more friendly for not developers but for simple users. With good documentation and etc.

There are a

[2019-02-11 06:17] muzzwood commented on #14364
I don't think they need to be special official extras. There can be a note during installation saying that if this preset is selected that 3rd party extras will be used. Agree or go back kind of thing.

In terms of making the extras themselves more user friendly for end users, sure I agree. But that could be done on a case by case basis and doesn't really need to be related to this feature itself.

[2019-02-11 09:19] ruvizuri commented on #14364
Maybe, it`s better to show a list of extras from official repositories, and combine extras into task groups.
For example:
1. Blog (and below is a list of possible extras: pdotools, image+, migx...)
2. Landing page (.....)
3. Online Store (.....)

And give the user a choice: set the whole group or only part of the selected extras.

.+ pure CMS
.+ self-support extras
.+ flexible settings

[2019-02-11 12:20] Mark-H commented on #14364
I've worked on this before, adding a step to the setup that allows you to install packages/starter sites: #13472

The reason that never made it into core is the critical question of what to propose people install. There simply is no blueprint that everyone can agree on how to build a site in MODX, and we need that before the setup can install them out of the box.

[2019-02-11 12:58] Ruslan-Aleev commented on #14364
Maybe worth display a list of standard categories (menus, forms, galleries, etc.) with several components that you can mark and install (as now at https://modx.com/extras/)? Also add a search.
And collect the list of components from the rating https://modx.com/extras/
But yes, the question is not obvious.

[2019-02-11 17:16] OptimusCrime commented on #13862
Close this?

[2019-02-11 17:29] Jako commented on #13862
Closing this due to lack of feedback. Please reopen the issue, if it is still relevant.

[2019-02-11 17:29] #13862 closed, assigned to nobody

[2019-02-12 01:33] muzzwood commented on #14364
@Mark-H That's fantastic!
I for one don't mind which Extras are used, as long as it works efficiently.
If it really was a problem e.g. pdoTools vs getResources/Wayfinder, then a selection can be provided with a simple explanation for new users.
For example:
This preset is built using extras from the community.
Please choose one:
getResources / getPage / Wayfinder - original official extras built b

[2019-02-12 03:50] muzzwood commented on #14309
I get these all the time too and yes it's seemingly random. I'd also love to find out what's causing it.

[2019-02-12 04:46] muzzwood commented on #14088
It appears the error is only logged when attempting to generate a preview within the file tree. (on mouseover)
@jonleverrier I assume you were testing in the media browser rather than the file tree?

[2019-02-12 05:49] Ibochkarev commented on #14307
@digitalpenguin I ask you to Express your point of view on how to better organize and set up a new media source. What more opinions.

[2019-02-12 05:57] muzzwood commented on #14307
Considering that MODX is installed with a single admin/sudo user, I would suggest setting up an assets media source like @Ruslan-Aleev mentioned but make it the default media source rather than the filesystem root.
At the moment IIRC new user groups automatically have access to the file system root unless manually configured otherwise. Perhaps by default new user groups could have access to the As

[2019-02-12 06:34] Jako commented on #14309
Could that be caused by file locking?

[2019-02-12 07:18] Jako opened #14368 "Restore a deleted parent, when a deleted child is restored."
## Feature request
### Summary
Restore a deleted parent, when a deleted child is restored.

### Why is it needed?
Not deleted children of a deleted parent would be purged too, when the resource trash is purged. After #14350 they are shown in the trash, but that is not an obvious behavior.

### Suggested solution(s)
Automatically restore all parents of a restored (undeleted) resource (maybe with a

[2019-02-12 08:40] Ibochkarev commented on #12284
@pepebe what are your suggestions for change?

[2019-02-12 09:09] Jako commented on #14349
I would run run the processor to delete the childs too, but make sure to handle $modx->error right. That part is a bit annoying when running a processor without using $this->success/$this->failure (or wherever the reset of $modx->error happens).

[2019-02-12 09:58] Ibochkarev commented on #12991
@digitalpenguin is this request relevant?

[2019-02-12 10:00] petyagrill commented on #8198
this bug is not reproduced in 2.7.0

![res](https://user-images.githubusercontent.com/20860485/52628626-bd894800-2ec0-11e9-884b-4c0187a98f27.gif)

[2019-02-12 10:14] muzzwood commented on #12991
Not so much anymore.
It might be relevant in the future again if a browser changes the way fields are rendered since we haven't added normalizing css yet. But I'll close it for now, perhaps we'll never need to worry about it again. Cheers! ;)

[2019-02-12 10:20] Ibochkarev commented on #12991
I'll try adding normalize.css. Thanks

[2019-02-12 10:38] JoshuaLuckers commented on #8198
Thanks @petyagrill. I'm closing this issue since it seems to be solved. Please feel free to create a new issue if needed.

[2019-02-12 10:38] #8198 closed

[2019-02-12 10:46] Ibochkarev commented on #14311
https://www.npmjs.com/package/grunt-prettier

There is a package milking Grunt. You can use it and write a config to format your code.

[2019-02-12 16:23] matdave opened #14370 "Restore Resource Search to Content Nav"
## Feature request
### Summary
Add the Resource Search back to the Content section in the navigation bar.

### Why is it needed?
The Resource Search (?a=search) was useful for searching references within content and finding pages that met specific criteria.

### Suggested solution(s)
Update the setup to have the search action in the Content navigation.

### Related issue(s)/PR(s)
#4123

[2019-02-12 16:40] Ruslan-Aleev commented on #14370
Related with - https://github.com/modxcms/revolution/issues/14291

[2019-02-12 18:04] Ibochkarev commented on #13873
The error does not reproduce. Fixed earlier.
Tested on MODX 3.0 pl - set through a composer.

I vote for closing.

[2019-02-12 18:16] JoshuaLuckers commented on #13873
I'm closing this since it seems to be fixed. If that's not the case feel free to open a new issue.

[2019-02-12 18:16] #13873 closed, assigned to nobody

[2019-02-12 19:03] Ruslan-Aleev commented on #13323
Related with - https://github.com/modxcms/revolution/issues/11856

[2019-02-12 20:18] Ibochkarev commented on #14365
It can be closed. PR #14366 merged

[2019-02-12 20:18] #14365 closed, assigned to nobody

[2019-02-12 21:36] Ruslan-Aleev commented on #12062
Probably should close this issue.
In the MODX3 menu is located on the left.

[2019-02-12 22:07] Jako commented on #12062
Duplicate of #12887 which was fixed with https://github.com/modxcms/revolution/commit/79ed131f1b163a71270964a3d6ff687d25b3f2bf

[2019-02-12 22:07] #12062 closed

[2019-02-13 11:17] meshkov commented on #14309
I have this problem too:
`[2019-02-13 14:12:48] (ERROR @ /somepath/core/model/modx/modcachemanager.class.php : 349) Error caching lexicon topic lexicon/ru/core/default
[2019-02-13 14:12:48] (ERROR @ /somepath/public_html/core/model/modx/modcachemanager.class.php : 399) Error caching action map mgr/actions`
But I also have `Error caching action map mgr/actions`

[2019-02-13 11:29] Ruslan-Aleev opened #14373 "[enhancement] Remove unnecessary windows when creating new objects"
## Feature request
### Summary
As @sottwell correctly pointed out in media sources (https://github.com/modxcms/revolution/issues/12853), there is an unobvious step in creating the source, **but the problem is more widespread**.

In MODX, when creating object, a quick creation form first pops up (usually with a name, description), for example, for contexts, see the picture below.

![create_1](https

[2019-02-13 12:57] ant-tar commented on #14373
Good catch, as far as I remember it was discussed twice some time ago on forums.modx.com too.
I am absolutely convinced that the quick window here is redundant and can be removed. When you work with a lot of contexts inside one website this becomes noticeable and waste time.

[2019-02-13 15:47] alroniks commented on #13617
The feature already implemented so I am closing the issue.

[2019-02-13 15:47] #13617 closed

[2019-02-13 16:03] alroniks commented on #13280
Closing, as proposed pull request was declined. It means that this task becomes "won't fix".

[2019-02-13 16:03] #13280 closed

[2019-02-13 16:13] Ruslan-Aleev commented on #14313
Related with - https://github.com/modxcms/revolution/issues/12493

[2019-02-13 16:17] Ruslan-Aleev commented on #12510
I think for other elements, for example, TV, similar behavior would be useful.

[2019-02-13 16:18] alroniks commented on #12666
@Jako Did you fixed described issue or some point still actual? If all fixed could close the issue as your confirmation?

[2019-02-13 17:06] iWatchYouFromAfar commented on #7699
If I understand correctly,  you want to add default text for the lexicon field — default? I think this is not correct. I believe that this function created for the developers,  and they must understand for what this is created. Moreover, core areas are listed in the field description. So, i think this issue is odd and excess.

[2019-02-13 17:14] Ibochkarev commented on #7699
Agree. I vote to close this request.

[2019-02-13 17:16] ant-tar commented on #7699
+1

[2019-02-13 17:48] petyagrill commented on #14373
I think that the most optimal way is to redirect to the edit page after creating a media source or context in this window.

[2019-02-13 17:59] Ruslan-Aleev commented on #14373
@petyagrill In my opinion this is not a very good option, because it will not be clear where the extended form came from, and the behavior is not normal and it will take longer.

[2019-02-13 18:13] petyagrill commented on #14373
@Ruslan-Aleev  The method I proposed is simpler to implement, because in the case of a redirect, we will have an id of the entity and the rest of the functionality is already working. But if you click on the button to open an extended form (which you first need to create), then you will still need to redirect the first time you save it. What you offer is very similar to the creation of resources,

[2019-02-13 18:22] Ruslan-Aleev commented on #14373
@petyagrill Unfortunately, I do not know the technical limitations for opening an extended form, perhaps you are right and this is not easy to implement.
The logical behavior of the button (without a quick form) can be seen in the "Users" section - /manager/?a=security/user

[2019-02-13 18:34] Ruslan-Aleev opened #14375 "[bug] MODX3: Scroll overlaps controls in the tree"
## Bug report
### Summary
In the tree, if a scroll appears, it will overlaps the controls and the trash bin in the tree, see gif below.

![scroll_bug](https://user-images.githubusercontent.com/12523676/52734786-7b0a5d00-2fdf-11e9-8271-64478c892927.gif)

### Environment
MODX3

[2019-02-13 20:22] #12666 closed

[2019-02-13 20:22] Jako commented on #12666
It is fixed with that query change.

[2019-02-13 21:00] Ruslan-Aleev commented on #12732
Logically related - https://github.com/modxcms/revolution/issues/3357

[2019-02-13 21:04] Jako commented on #14368
This could be solved different, when the model does not allow undeleted children of deleted resources, but then some other issues have to be solved:

- if a resource is deleted by quickedit or by checkbox in the resource edit, the children are not deleted
- a undeleted resource could be dragged into a deleted parent
- the parent of a undeleted resource could be set with a deleted one

Solving the

[2019-02-13 21:06] Ruslan-Aleev commented on #12771
@Alroniks Is this discussion still relevant?

[2019-02-13 21:25] Ruslan-Aleev commented on #14368
You can also create a resource and then change its parent to the deleted one in the settings (perhaps this is also the same as dragging to the deleted parent).

[2019-02-14 11:42] Jako commented on #7699
@iWatchYouFromAfar He meant the area of a new created lexicon entry. The dropdown there is set to 'default', which seems to be right. Closing this as solved

[2019-02-14 11:42] #7699 closed

[2019-02-14 14:32] alroniks commented on #4841
So, an interesting question now. We can add icons to content types, but it means that we should predefine some of the icons for these content types but the current version of font awesome does not have enough icons.

For example, we have these content types:
- HTML - not file html icon, only html5, that looks not nice - https://fontawesome.com/icons/html5?style=brands
- XML - not any icon
- text -

[2019-02-14 14:34] Jako commented on #4841
SVG Sprites, could be an option for this.

[2019-02-14 14:36] Jako commented on #4841
I.e. https://fileicons.org/?view=square-o but in black and white

[2019-02-14 14:37] alroniks commented on #4841
Probably yes, but custom icons means that people should have able to define own icons. And the content type list is an open list, people can add new types and from which icon list select to?

[2019-02-14 14:49] Jako commented on #4841
The fileicons could be accessed by css classes. So there just has to be a customizable class prefix for file types and the css file in the modx system settings. Everything else could be configurable in the filetypes grid.

[2019-02-14 15:24] Ruslan-Aleev commented on #4841
Missing icons can be made by overlay :after the file extension on the empty file icon.
As soon as a specific icon appears in Font Awesome, we will replace it.

![icon](https://user-images.githubusercontent.com/12523676/52796865-05a99580-308e-11e9-8dc8-baa761b83655.png) ![icon_2](https://user-images.githubusercontent.com/12523676/52796866-05a99580-308e-11e9-8848-578615b5faa0.png)

[2019-02-14 22:39] Ibochkarev opened #14380 "Error loading files to Media Source root"
## Bug report
### Summary
When you try to download the file to the root of the media source, an error appears: `Please specify a valid directory.`

### Step to reproduce
Go to the Files tab, right-click on the Media Source Filesystems, select the Load files item in the context menu.

### Observed behavior
[code]

### Expected behavior
Errors when loading to the root of the Media source should be a

[2019-02-14 22:45] Ruslan-Aleev commented on #13554
Related with - https://github.com/modxcms/revolution/issues/14313

[2019-02-14 22:58] Ruslan-Aleev commented on #13554
It happens that the concepts of "Document" and "Resource" are used as one and the same, but this is not correct.
A "Document" is a resource with an HTML content type, and a "Resource" is a broader concept (link, static resource, etc.). It will be necessary to fix this in the lexicons.

[2019-02-15 05:36] Ibochkarev commented on #14341
Fix to #14344

[2019-02-15 05:36] #14341 closed, assigned to nobody

[2019-02-15 09:29] JonikUl opened #14381 "Bug with copying TVs caption"
## Bug report
### Summary
If you copy a TV variable and leave the caption empty for the new variable, then "Duplicate + the description of the initial variable" will be written to it.

### Step to reproduce
1. Create any TV with any name and caption.
2. Copy this TV.
3. When MODX asks you for the name and caption of the new variable - make the caption empty.
4. Save this TV, look at its caption.

[2019-02-15 10:11] JoshuaLuckers commented on #13554
I believe @rthrash isn't to keen about changing the "Document" and "Resource" terminology.

[2019-02-15 10:26] Ruslan-Aleev commented on #13554
@JoshuaLuckers No, I do not mean that changes are necessary, but about the fact that in the lexicons these concepts are sometimes used incorrectly (text about resources, but the term documents is used).
By the way, the name "Resources" (tab in the tree) has the key "documents" in the lexicons, which also does not bring understanding.

[2019-02-15 12:32] Jako opened #14382 "2.7.0-pl upgrade script is running on installing 2.7.1"
## Bug report
### Summary
The 2.7.0-pl upgrade script is running on installing 2.7.1.

### Step to reproduce
Install MODX 2.7.1 on a modx 2.7.0 installation. The alias_visible column is added again and throws an error, since it already exists.

### Observed behavior
The alias_visible column is added again and throws an error, since it already exists.

### Expected behavior
The alias_visible column

[2019-02-15 12:34] Ibochkarev commented on #14382
I can reproduce this error.

[2019-02-15 12:45] JonikUl commented on #4834
Confirmed for MODX 2.7.0
![duplicate](https://user-images.githubusercontent.com/18344088/52857607-1cf58b00-3141-11e9-910d-04069bc5770a.gif)

[2019-02-15 13:49] sdrenth opened #14384 "Add SCRIPT binding for template var options"
## Feature request
### Summary
Add a SCRIPT binding which can be used to retrieve list options for a Template Variable, for example:

`core_path/script.php
[code]

Also add some handy binding placeholders which can be used (same idea as PREFIX for SELECT binding), such as :
[[++BASEPATH]]
[[++COREPATH]]

So I can declare Input Option Values as:
`@SCRIPT [[++COREPATH]]components/mycomponent/tv/opti

[2019-02-15 15:16] AgelxNash opened #14385 "Unpacking zip file allows uploading arbitrary files"
## Bug report
### Summary
Bypass **upload_files** settings

### Step to reproduce
- Upload zip file containing files not allowed by upload_files setting
- Unpack

[2019-02-15 15:22] AgelxNash opened #14387 "Stored XSS: system settings"
## Bug report
### Summary
Change the value of settings **site_name** or **settings_version**

### Step to reproduce
[code]

[2019-02-15 15:24] AgelxNash opened #14388 "Stored XSS: Dashboards"
## Bug report
### Step to reproduce
Name field:
[code]
### Observed behavior
![image](https://user-images.githubusercontent.com/1748872/52865997-91d7bd80-315f-11e9-9b1f-936c04e46a7b.png)

[2019-02-15 15:30] AgelxNash opened #14389 "XSS: Dangerous table name"
## Bug report
### Summary
No escaping HTML tags

### Step to reproduce
Create table with name
[code]
Open **System Info** -> **Database tables**

### Observed behavior
![image](https://user-images.githubusercontent.com/1748872/52866364-4e318380-3160-11e9-9f4d-cd908ae00a9a.png)

[2019-02-15 15:33] ghost commented on #14385
I must admit this is one of the reasons I wanted the "unpack" feature in the first place. But I suppose it's not really a good idea to be able to do that.

Was anything ever done about the "rename" feature? I also used to simply upload files with a .txt sufix, then rename the file with .php suffix or whatever it was I wanted to upload.

Of course, opening an FTP/SFTP client and uploading necessary

[2019-02-15 15:34] Mark-H commented on #14385
Yes, that was fixed in #13240.

[2019-02-15 17:04] AgelxNash opened #14390 "Unsafe RSS feed"
## Bug report
### Summary
Potential backdoor

### Step to reproduce
Change the value of settings **feed_modx_news** or **feed_modx_security**

### Observed behavior
- XSS
- XXE
- Social engineering

[2019-02-15 17:11] AgelxNash commented on #14390
RSS feed also handles MODX tags. This is another attack vector.

[2019-02-15 17:17] AgelxNash opened #14391 "Stored XSS: Lexicon"
## Bug report
### Summary
All lexicons no escaping HTML tags

### Step to reproduce
[code]

### Observed behavior
Simple example
![image](https://user-images.githubusercontent.com/1748872/52872776-2990d800-316f-11e9-970c-f3ae322417b6.png)

[2019-02-15 18:26] Mark-H commented on #14390
This doesn't really seem like a problem to me, but an administrator level functionality.

The permissions needed to change settings would also allow you to, for example, change the manager theme or undo other protections that have a setting (upload_files, allow_tags_in_post, etc).

[2019-02-15 18:29] Mark-H commented on #14391
The grid XSS should be resolved in 3.x, beyond that I don't think we need to escape lexicons. Many of them contain markup for highlights/links so this would break that.

Editing lexicons is also an administrator level functionality, so it's not something just about anyone could pull off.

[2019-02-15 18:31] AgelxNash commented on #14391
Like other XSS reports

[2019-02-15 19:09] JoshuaLuckers commented on #14389
Thanks for taking time to report this potential security issue. If someone is able to access the database with create privileges this attack vector then this is of least concern, therefore I'm closing this issue.

A personal request from me to you: please consider reporting security issues responsible by using the "[Report a Security Issue](https://develop.modx.com/contribute/security/report/)" fo

[2019-02-15 19:09] #14389 closed, assigned to nobody

[2019-02-15 19:28] AgelxNash commented on #14390
Ok:-) Then the security of **ALL** CMS installations depends on who can create post on https://forums.modx.com/board?board=7 or https://forums.modx.com/board?board=294 :hankey:

[2019-02-15 19:40] alroniks commented on #14384
@sdrenth  Could it help you? http://modx.today/posts/2015/05/better-way-storing-tv-values

[2019-02-15 19:56] Mark-H commented on #14390
Those are both restricted to the MODX team, so I'm okay with putting some trust in that. ;)

Open to ideas though if you think there are worthwhile improvements. Sounds like changing the URLs is not what you're most worried about now?

[2019-02-15 20:03] AgelxNash commented on #14390
I worry that access to the site == author of the rss feed

[2019-02-15 20:09] Mark-H commented on #14390
If you have genuine security worries about these feeds, I would like to understand them. It's better to not discuss security concerns in a public place like this though, if you have a POC (or just a theory), could you please send it to me and the rest of the security team via the security mailing list (security@modx.com)?

[2019-02-15 21:50] pyrographics commented on #8371
Rather than failing to upload or overwriting a file it should add _1, _2, _3 or similar to the filename of the duplicates.  This is what most browser downloads do.

[2019-02-15 22:24] AgelxNash opened #14393 "CSFR"
## Feature request
### Summary
security reason

### Why is it needed?
https://github.com/modxcms/revolution/issues/14094#issuecomment-425766305

[2019-02-15 22:26] AgelxNash commented on #14390
PoC submitted
Related #14393

[2019-02-16 09:54] Ibochkarev commented on #14204
@JoshuaLuckers Can you make it happen?

[2019-02-16 10:09] Jako opened #14394 "Generate an install script page that requests system setting changes"
## Feature request
### Summary
During the install a page should be shown, that that requests system setting changes (if they don't contain the default values).

### Why is it needed?
Most of the system settings are not updated during a MODX update, which is good in most circumstances. But sometimes a change of a setting would be nice, but a change would create some BC. Here the user should be requ

[2019-02-16 12:57] ant-tar opened #14395 "Wrong icon for descending sort order"
## Bug report
### Summary
Wrong icon for descending sort order

### Step to reproduce
Open resource page, Resource Groups tab and try descending sorting
### Observed behavior
The icon was broken probably
![editing_ home _ modx revolution - google chrome 2019-02-16 15 50 06](https://user-images.githubusercontent.com/2815640/52900129-63abb980-3203-11e9-9b8b-71ba4c5c51f6.png)

### Expected behavior
P

[2019-02-16 13:33] GulomovCreative commented on #14395
This is the legacy of the old Ext Js

[2019-02-17 00:57] SnowCreative opened #14400 "Media manager sometimes uploads files to the wrong folder"
## Bug report
### Summary
The media manager doesn't always upload files to the expected folder.

### Step to reproduce
1. Set up a TV (file or image) and link it to a specic media source. In that media source, create folders (like "images/newsletter/" for example).
2. In a resource that uses that TV, link the TV to a file INSIDE a subfolder. Save the resource.
3. Edit a different resource, then go

[2019-02-17 07:35] Ibochkarev commented on #12401
I vote to close this issue.

[2019-02-17 07:39] Ibochkarev commented on #12177
@Jako Can you fix it now?

[2019-02-17 09:17] Ibochkarev commented on #12372
@davidpede Could you figure it out?

[2019-02-17 09:40] Ibochkarev commented on #12625
This has been fixed earlier. You can close.
MODX 2.7.1

![2019-02-17_15-38-22](https://user-images.githubusercontent.com/2138260/52911154-3b3ac280-32ca-11e9-9f70-ea52c75f3097.png)

[2019-02-17 09:42] #12625 closed

[2019-02-17 09:48] Jako commented on #12177
No, the issue is still there.

[2019-02-17 11:42] alroniks commented on #12401
I use MySQL 5.7 for testing 2.x and 3.x I have not met any issues since that time. So yes, it can be closed.
Feel free to reopen or even better create a new issue with the specific case.

[2019-02-17 11:42] #12401 closed

[2019-02-17 13:04] wshawn commented on #12372
You can create a "pseudo hook" (autonomous snippet) placed on the landing page that on logout looks for the service=logout in the $_POST and destroys the cookie and the session after the Login package "completes" its process.

[2019-02-17 19:51] Ibochkarev commented on #14311
I studied the information on this topic. I have found:
- prettifer has Pre-commit Hook https://prettier.io/docs/en/precommit.html - this is exactly what we need
- the configuration file is extensive http://json.schemastore.org/prettierrc

We need to take the first step and begin to embody this innovation.

I suggest:
- discuss the set of rules for the .prettierrc configuration file.
- add the give

[2019-02-17 20:11] Ibochkarev commented on #7806
I vote to close this  issue.

[2019-02-18 04:30] Ibochkarev commented on #14049
#14394

[2019-02-18 07:25] sdrenth commented on #14384
@Alroniks Thank you for the link! That's also a nice way for managing input options. Still think this would be a handy addition to the core though.

[2019-02-18 07:32] alroniks commented on #14384
I don't like an idea about custom script because it's may give a lack of security. But as `@EVAL` was removed in 3.x maybe it makes sense implement binding `@SNIPPET`. I think such binding also will solve your task, isn't it?

[2019-02-18 07:40] alroniks commented on #7806
Seems to really old issue that probably was fixed in current releases. Feel free to open a new one if question still actual.

[2019-02-18 07:40] #7806 closed

[2019-02-18 08:03] sdrenth commented on #14384
That would solve the issue as well, although I'd like the SCRIPT binding too, so I can do everything filebased and don't need a reference to a snippet, also I think the security risks are similar?

[2019-02-18 15:55] AlexandreInsua opened #14404 "MODX 2.7.0 is modifying urls"
## MODX modifies the URLs
### Summary
The system modifies the URLs. Adds a resource name to all URLs.

### The behavior observed
I have a simple application that consists of an index, a login and a private panel.
The problem appeared when I upgraded to version 2.7.0. The application modifies the url when I'm connected to the private panel.
For example, if the url to an avatar is "_myapp.local/asse

[2019-02-18 16:00] Mark-H commented on #14404
Are these URLs stored with /controlpanel/ in the database or only rendered as such in the brower? Are you using relative urls? Base href? Adding these URLs in a rich text editor?

[2019-02-18 16:10] Ruslan-Aleev opened #14405 "[bug] Access Policy: Property Sets"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Property Sets" Group:_
- **property_sets** - Enable / Disable the section with "Gear-> Property Sets", if dis

[2019-02-18 16:30] JoshuaLuckers commented on #14311
Does Prettier provide default rules? Maybe we can use that for a start.

[2019-02-18 22:29] AlexandreInsua commented on #14404
Thanks, @Mark-H, I edit the issue. The URLs are not stored in the database. I'm using relative urls. The base href is http://myapp.local/.  I put the change in rich format in order to be clean.

[2019-02-19 11:49] pepebe commented on #12300
Still an issue in 2.7.0. Region Rank is not saved.

[2019-02-19 15:02] SnowCreative commented on #14291
As for property sets, don't people create these directly in whatever element is actually using the property set? I never noticed that menu item was there because I do all the creating and editing of property sets inside the relevant element.

[2019-02-19 15:08] Ruslan-Aleev opened #14406 "[bug] Access Policy: Users"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Users" Group:_
- **view_user** - Enable / Disable the section "Management-> Users", for a direct link does no

[2019-02-19 15:48] Ruslan-Aleev opened #14407 "[bug] Access Policy: Contexts"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Contexts" Group:_
- **view_context** - Enable / Disable section with "Gear-> Contexts", for a direct link doe

[2019-02-19 17:35] SnowCreative commented on #14368
This issue was pushed over to 3.X, so I'm reposting this suggestion here.

To me the most user-friendly option would be this:
If there is an undeleted resource under a deleted folder (either because someone dragged it there or manually undeleted it after the parent was deleted), when purging the parent, an alert would pop up like the following:
_The resource "[resource name]" is not marked for del

[2019-02-19 17:36] opengeek commented on #14291
No. In fact, I only use Property Sets from the dedicated interface because a single set is intended to be used across multiple elements. If you only access them from a specific element, you do not get the full benefit of using Property Sets.

[2019-02-19 18:45] SnowCreative commented on #14291
OK, I see your point, although you can still create a property set in one element and then use it in other ones. For all for my sites, I've never needed to use a global property set. In any case, I don't see any need to drop the Property Sets link from the menus. Since people all have different work habits and preferences, it's nice that MODX provides several different ways to edit various things.

[2019-02-19 20:54] alroniks commented on #9383
As mininfier was removed from 3.x this issue becomes as won't fix. So, I am closing it.

Related PRs and issues:  https://github.com/modxcms/revolution/pull/13194 and https://github.com/modxcms/revolution/pull/12778

[2019-02-19 20:54] #9383 closed

[2019-02-19 20:58] alroniks opened #14408 "Remove min folder from the manager as unused"
## Bug report

### Summary
Need to remove `manager/min` folder from sources. It seems it was returned after merging 2.x into 3.x

### Step to reproduce
Check the manager folder for `min` folder.

### Observed behavior
Folder still there.

### Expected behavior
The folder does not exist for new installations.

### Environment
Any

Related #13194 and #12778

[2019-02-19 22:00] Ibochkarev commented on #3786
@Alroniks No need to come up with new solutions when there are working. Simply to improve used

[2019-02-19 22:18] Ibochkarev opened #14409 "Title input field is deactivated when copying child resources"
## Bug report
### Summary
Title input field is deactivated when copying child resources

### Step to reproduce
When duplicating a resource, if it has child resources when switching the checkbox (Copy child resources), the field for entering the title for the duplicate is deactivated.

### Observed behavior
![](https://file.modx.pro/files/5/3/b/53b5b76b638899662dc38f202a05a032.jpeg)

### Expected b

[2019-02-19 22:19] theuros opened #14410 "Moving categories in elements tab triggers an error."
## Bug report

### Summary
Draging a category into another category in elements tab triggers multiple errors:

`
[2019-02-19 23:03:42] (ERROR @ /paas/c0022/www/core/xpdo/xpdo.class.php : 1655) Could not load class modC!
[2019-02-19 23:03:42] (ERROR @ /paas/c0022/www/core/xpdo/xpdo.class.php : 644) Could not load class: modC from mysql.modc.
[2019-02-19 23:03:42] (ERROR @ /paas/c0022/www/core/xpdo/

[2019-02-20 04:21] Ibochkarev commented on #6092
@JoshuaLuckers Tell me what you need to do on this task. A little did not understand.

The following settings are already in the lexicons.

We need to reschedule the lexicons in `core/lexicon/en/mail.inc.php`
- emailsubject
- forgot_login_email
- signupemail_message
- webpwdreminder_message
- websignupemail_message

What else?

[2019-02-20 06:53] alroniks commented on #8038
Closing due to inactivity for a long time. Feel free to reopen.

[2019-02-20 06:53] #8038 closed

[2019-02-20 06:58] alroniks commented on #7696
Closing because it can not be reproduced and also it's a very old issue where described versions of software that almost unused anymore. No need to spend time on it.

[2019-02-20 06:58] #7696 closed

[2019-02-20 07:23] alroniks commented on #7492
Due to the lack of screenshots and detailed explanations about specific places where bulk menu used and also because it's a very old issue and a lot of screens were changed and going to be changed, I am closing this issue.
Feel free to reopen. But I would prefer a new issue with more details.

[2019-02-20 07:23] #7492 closed

[2019-02-20 07:47] alroniks commented on #9515
Would be good to see CLI script with a way of loading MODX but I tried to make CLI script by the instruction from Mark (second example) and it works. So I am closing issue, but if it is still a problem, let's reopen and discuss in details.

[2019-02-20 08:15] alroniks commented on #12284
@Ibochkarev He suggested changing default content type for settings that should contain any ID (resource id or element id or another id) to number field instead of text field to avoid issues when code expects valid number but gets a string with a text.

[2019-02-20 08:34] alroniks commented on #12608
I guess it was solved by adding new trash manager. So, closing it.

[2019-02-20 08:34] #12608 closed

[2019-02-20 08:44] theuros commented on #14410
After moving site to a new cloud error doesn't trigger first few times (like when creating a new user). Maybe some cache / session problem.

[2019-02-20 08:54] alroniks commented on #12793
It was improved and the list of languages can be listened by voice over but the list of languages contains languages in the native sounds that may confuse listeners. Probably need to add some attributes with value for reading on the system language.

[2019-02-20 08:56] alroniks commented on #12464
As it was discussed in other issues (I don't remember exactly which one) it requires to normalize CSS to fix default browsers behavior but also issue not reproducible for most of the people who tried to check it. So I am closing this one. Feel free to reopen if it still should be discussed/investigated.

[2019-02-20 08:56] #12464 closed

[2019-02-20 09:05] raffy99 commented on #14410
i can reproduce the error on 2.7.0.
Function handleCategoryDrop in modElementSortProcessor seems to use wrong indexes to build classnames.

[2019-02-20 09:13] Jako commented on #14368
@rainbowtiger At the moment I would prefer to don't accept a deleted resource as a drop target in the tree (if that's possible). The same for the parent dropdown. An undelete for children of deleted parents should not be possible too.

[2019-02-20 09:20] alroniks commented on #13485
Also actual for 3.x, the main menu should be enhanced to fit accessibility.

[2019-02-20 09:25] alroniks commented on #13201
Here https://support.google.com/webmasters/answer/79812?hl=en said

So, adding `<meta name="google" content="notranslate" />` to the manager pages should solve the issue.

[2019-02-20 11:51] ant-tar commented on #14395
I got sick ((
Could you please guys replace it at /manager/templates/default/images/modx-theme/grid/sort_desc.gif ?
Here is actual icon attached:
![sort_desc](https://user-images.githubusercontent.com/2815640/53089632-29e9f400-351e-11e9-9b44-84d9a9d1eeab.gif)
Many thanks.

[2019-02-20 13:46] Ruslan-Aleev commented on #13666
Yes, the problem is relevant, also when dragging the context in the "preview" (next to the cursor) all context icons with controls are drawn in "preview".

![context_dragging](https://user-images.githubusercontent.com/12523676/53095905-5b22ee00-3537-11e9-9d91-1391c80d199b.gif)

[2019-02-20 19:01] JoshuaLuckers commented on #14409
Isn't that the default behaviour for form inputs?

[2019-02-20 19:21] JoshuaLuckers commented on #6092
The values for these settings are hardcoded HTML. For example the value of the system setting `signupemail_message` is:
[code]

It would be nice if the value itself was translatable.

[2019-02-20 19:44] Jako commented on #6092
That string could be replaced with an lexicon tag and the placeholder as properties:

[code]

[2019-02-20 19:45] JoshuaLuckers commented on #12284
When I have time I will fix this 😄

[2019-02-20 20:12] JoshuaLuckers commented on #14404
Is the private panel something you made yourself or are you referring to the manager?

[2019-02-20 20:19] BobRay commented on #9515
The problem is not that you can't load MODX in a CLI script. The problem is that you have to remember to load the error service when you do, and if you forget to do that, things will run fine until there's an error or you check for an error.

Wouldn't putting  this in the modProcessor class constructor solve it?

[code]

[2019-02-21 14:09] Ruslan-Aleev opened #14417 "Delete unused images in manager/templates/default/images/"
## Feature request
### Summary
As in the case of https://github.com/modxcms/revolution/issues/14408, need to delete pictures in `manager/templates/default/images/`, and in `setup/` folder, mostly images and icons for older versions.

**It is necessary to look carefully, but many images are not used at all.**

We can save from 1 to 2Mb.

[2019-02-21 15:48] Ruslan-Aleev opened #14418 "[bug] Access Policy: Categories"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Categories" Group:_
- **view_category** - Prevent displaying categories in the tree, case in MODX 2, that if

[2019-02-21 16:06] Ruslan-Aleev opened #14419 "[bug] Access Policy: Plugins"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Plugins" Group:_
- **view_plugin** - Prevent displaying plugins in the tree, but they are all visible in cate

[2019-02-21 22:13] ant-tar commented on #10270
This issue isn't actual for 2.7.1 and can be closed - when changing directories via file browser for each new folder all images processed using phpThumb only once when you firstly click on folder, any further clicks on the same folder won't initialize reboot of all images via phpthumb connector.

[2019-02-21 22:39] ant-tar commented on #10155
What we have now for 2.7.1:
1) xpdocachemanager.class.php

[code]
2. setup/controllers/options.php
[code]
3. setup/includes/runner/modinstallrunner.class.php

[code]
As you can see all files were updated with non-executable flags since this issue was created.

[2019-02-22 00:56] GulomovCreative commented on #14409
@JoshuaLuckers Checkbox should choose whether child resources are copied and nothing else, but now if you uncheck the box and put it back, the title field becomes unavailable

[2019-02-22 04:09] muzzwood opened #14422 "MODX 3 Feature Request: Grouped Contexts"
## Feature request
### Summary
We need a way to visually group contexts. This doesn't need to be nesting per se, but at least a "Context Group" that a context could belong to.

### Why is it needed?
Nearly every site we build these days is multi-lingual and when more than one site is in the same manager, things get messy fast. Multiple sites with multiple languages means a long list of contexts wi

[2019-02-22 04:47] Ibochkarev commented on #14417
@Mark-H It is possible to identify what pictures are left from previous versions? To reduce the processing time and identification of unused images.

[2019-02-22 07:36] #10270 closed

[2019-02-22 07:37] #10155 closed

[2019-02-22 08:18] Ruslan-Aleev commented on #13650
This is true for the Apache+Nginx server, tried to upload a picture for the user, but I get error path, see the image below.

The avatar is displayed in different ways:
1) the image is displayed without the path of the file source:
`<img src="Avatar.jpg">`

2) the image is displayed with the path of the file source (assets/ folder), but the path is generated relative to the server folder:
`<img sr

[2019-02-22 10:15] Ruslan-Aleev opened #14424 "[bug] Input Option Values for TV: bugs with a field and description"
## Bug report
### Summary
Recently, an unnecessary Input Option Values for TV was hidden (https://github.com/modxcms/revolution/pull/14040), however there are a couple of bugs:
1) The input field still displayed for TV with types **"Auto-tag", "Hidden", "RichText" and "URL"**, but it is not needed in these TVs.

2) The input field description-label is **always shown**, even if the field itself is

[2019-02-22 13:22] AlexandreInsua commented on #14404
@JoshuaLuckers the private panel is made by me, it's not the manager.

[2019-02-22 15:49] JoshuaLuckers commented on #14409
Thanks for clarifying @GulomovCreative. I was clicking the radio buttons instead of the checkbox.

[2019-02-22 15:50] JoshuaLuckers commented on #14404
How do you generate the URLs?

[2019-02-23 17:32] #4834 closed

[2019-02-23 17:33] #14409 closed, assigned to nobody

[2019-02-24 20:51] Ibochkarev commented on #12510
@pepebe You can send a PR to the branch 3.x with your decision?

[2019-02-25 09:06] OptimusCrime commented on #12793
@Alroniks What language would otherwise make sense? To have the languages in their own language?

[2019-02-25 09:12] alroniks commented on #12793
Yes, I think we can detect user language and add attributes with language name on this language. Something like that when user language is English:
[code]

[2019-02-25 10:12] pepebe commented on #12510
@Ibochkarev Yes, I'll do that this week.

[2019-02-25 10:34] #14321 closed, assigned to nobody

[2019-02-25 10:37] #14408 closed, assigned to nobody

[2019-02-25 10:39] #13201 closed

[2019-02-25 15:27] OptimusCrime commented on #14404
I can not understand how this is caused by 2.7.0 alone.

[2019-02-25 19:11] JoshuaLuckers commented on #14404
I'm closing this issue. Feel free to open a new issue providing more info to re-create this issue.

[2019-02-25 19:11] #14404 closed, assigned to nobody

[2019-02-26 09:35] morelmm commented on #14087
Hm, i've just noticed that there are two 'content' entries in POST data
![image](https://user-images.githubusercontent.com/1436118/53402551-3a80eb00-39b2-11e9-918c-11ffe8305e60.png)

[2019-02-26 09:51] morelmm commented on #14087
So it's caused by field ordering, HiddenContent being put after real content, in Modx 2.7 it was before, now it is after

[2019-02-26 15:02] Ruslan-Aleev opened #14428 "A save animation appears above the logo when editing a resource"
## Bug report
### Summary
If you update the panel **when editing a resource** and drag any resource in the tree, the save animation will appear above the logo once, see the picture below.
After refreshing the page, the bug will be repeated.

![menu_animate_bug](https://user-images.githubusercontent.com/12523676/53422486-041a8e80-39f9-11e9-98ef-ac490c7a6d11.gif)

### Environment
MODX3, Windows 7, G

[2019-02-26 16:29] Ruslan-Aleev opened #14429 "[bug] Access Policy: Snippets"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Snippets" Group:_
- **view_snippet** - Prevent displaying snippets in the tree, but they are all visible in c

[2019-02-26 16:32] Ruslan-Aleev opened #14430 "[bug] Access Policy: TVs"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"TVs" Group:_
- **view_tv** - Prevent displaying TVs in the tree, but they are all visible in categories and i

[2019-02-26 16:35] Ruslan-Aleev opened #14431 "[bug] Access Policy: Templates"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Templates" Group:_
- **view_template** - Prevent displaying templates in the tree, but they are all visible i

[2019-02-26 16:38] Ruslan-Aleev opened #14432 "[bug] Access Policy: chunks"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Chunks" Group:_
- **view_chunk** - Prevent displaying chunks in the tree, but they are all visible in categor

[2019-02-26 20:47] opengeek commented on #14385
Can this not be avoided by preventing the upload of a zip file via the upload_files setting?

[2019-02-26 21:13] Ruslan-Aleev commented on #14385
@opengeek In the context menu there is a whole item on unpacking the zip-archive, i.e. in addition to the preventing .zip, we need to think about unpack functionality (remove it or something else).

[2019-02-28 10:45] Ruslan-Aleev opened #14434 "[bug] Access Policy: Resource Group"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Resource Group" Group:_
- **resourcegroup_view** - Prevent viewing resource groups in the general list of gro

[2019-02-28 11:02] Ruslan-Aleev opened #14435 "[bug] Access Policy: Media Sources"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Media Sources" Group:_
- **source_view** - Prevent displaying sources. Extremely weird setting. When you clic

[2019-02-28 11:11] Ruslan-Aleev opened #14436 "[bug] Access Policy: Components & Packages"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Components & Packages" Group:_
- **components** - Hide / Show the whole section "Extras". The item "Extras->

[2019-02-28 19:18] Ruslan-Aleev opened #14437 "[bug] In the description of the system settings html tags are not processed"
## Bug report
### Summary
In version 2.7.1, there was a lot of PR on protection from XSS with html-escaping tag output.
Now in the system settings, in the description, the tags are not processed, see the picture below.

![setting_error](https://user-images.githubusercontent.com/12523676/53592149-1d653b80-3baf-11e9-8fb0-f0fc84c1922d.png)

### Environment
MODX 2.7.1

[2019-02-28 21:04] Mark-H commented on #14437
Unless we reintroduce XSS issues, this can't easily be fixed.

[2019-02-28 21:49] Jako commented on #14437
A striptags could fix the current output.

[2019-03-01 06:34] danfox commented on #14192
the permission of those folders are 755.
Which other parameters should I check?

[2019-03-01 07:32] JoshuaLuckers commented on #14192
@danfox this issue is closed and will probably not be noticed by others. Feel free to create a new issue if you experience any issues.

[2019-03-01 07:52] ghost opened #14438 "friendly_alias_realtime setting not working"
## Bug report
### Summary
The friendly_alias_realtime is "on" whether or not the System Setting is set to "No".

### Step to reproduce
Make sure the friendly_alias_realtime System Setting is set to "No". Create a new resource, and type in the title.

### Observed behavior
The Alias field will echo the title as it is being typed.

### Expected behavior
If the System Setting is set to "No", the Alia

[2019-03-01 08:45] #14114 closed, assigned to nobody

[2019-03-01 08:52] alroniks commented on #4841
🎉 Solved!

[2019-03-01 08:52] #4841 closed

[2019-03-01 09:04] #14382 closed, assigned to nobody

[2019-03-01 09:06] #14395 closed, assigned to nobody

[2019-03-01 15:26] JoshuaLuckers commented on #14338
This problem is solved by merging PR #14401

[2019-03-01 15:26] #14338 closed, assigned to alroniks

[2019-03-01 16:36] JonikUl opened #14442 "Revert lexicon entries in all namespaces"
## Feature request
### Summary
At the moment only the core lexicon entries could be reset with the button 'Revert All Core Entries' in the lexicon management. It would be nice to reset other lexicon namespaces too.

### Current behaviour
- Change a value in a lexicon not in the core namespace.
- Use **Revert All Core Entries**  button.
- The same value remains.

### Improved behavior
- The button

[2019-03-01 20:59] Jako commented on #14442
The button works well for the core lexicon workspace on my local 2.7.1 installation. But not in other (selected) namespaces.

This is not a bug because of the text of the button. But the behaviour could be changed by sending the selected namespace to the processor and change the button text.

[2019-03-01 21:09] Jako commented on #14442
I have changed the issue into a feature request. Is this ok?

[2019-03-01 21:42] Ruslan-Aleev commented on #14442
Very strange button :) The button work only for "core", although the first one in the list of namespaces may be not "core", but, for example, "ace".
Today we noticed this bug, the problem is also in translation, for example, in Russian, there is no mention that the button only works for "core". We tested in Russian, and when we recorded gif we didn’t pay attention to the original name in English.

[2019-03-02 12:22] ant-tar opened #14444 "Search results limit isn't enough"
## Feature request
### Summary
Quick summary what's this feature request about.

I need more visible results for search, some better UX solution

### Why is it needed?

![search_results_length](https://user-images.githubusercontent.com/2815640/53681651-a4282e80-3cfd-11e9-8944-67e82f81bc36.gif)
As you can see here I have nine Home pages, but search returns only five positions, when you have tens an

[2019-03-02 14:51] JoshuaLuckers commented on #14087
Thanks for the extra info @morelmm. I found the issue and submitted a PR to get this fixed.

[2019-03-02 19:59] Ibochkarev commented on #6688
I believe that this is not relevant. Fixed earlier. The content is scrolling.
![6688](https://user-images.githubusercontent.com/2138260/53686918-dc5c5b00-3d57-11e9-8a43-d65b1b948ea8.gif)
Tested in MODX 3.x.
I vote closure!

[2019-03-02 21:22] ant-tar opened #14448 "Spaces before or after search word distort the result"
## Bug report
### Summary
If you accidentally (or not) enter an extra space into search field before or after the criteria, you won't find expected results.

### Step to reproduce
Please check next video, I've tried space before and after the word

![trim_spaces](https://user-images.githubusercontent.com/2815640/53687760-7d8fe500-3d49-11e9-9263-a30f93cb7354.gif)

### Observed behavior
If space is

[2019-03-02 23:36] GulomovCreative opened #14450 "modx-tree-usergroup is not defined. Javascript error"
## Bug report
### Summary
There is an error in the browser console. The **modx-tree-usergroup** is not defined

### Step to reproduce
1. Open Access Control Lists page
2. Go to any tab except the first
3. Refresh the page
4. See to browser console

![screenshot-revolution-2019 03 03-06-13-02](https://user-images.githubusercontent.com/20814058/53688960-d87f0780-3d5c-11e9-8ebe-5bc246682425.png)

###

[2019-03-03 09:58] Jako opened #14452 "Mark required fields automatically"
## Feature request
### Summary
Append/prepend an asterix automatically to a field that has `allowBlank: false` set.
This could be done by adding a css class with js or by js itself.

### Why is it needed?
Automatisation. Better handling of RTL languages.

### Suggested solution(s)
Add some javascript that add a css class and maybe some html to a field that has `allowBlank: false` set. I am not sur

[2019-03-03 15:30] pepebe commented on #12510
I'd like to combine this with issue https://github.com/modxcms/revolution/issues/14159. Would that be ok, or should we do one step after the other?

[2019-03-03 16:16] JoshuaLuckers commented on #12510
@pepebe sure, if needed it can always be split in multiple PRs 👍

[2019-03-03 21:05] Ruslan-Aleev opened #14454 "Add a link to the search page in the drop down search"
## Feature request
### Summary
The community has often discussed the need to return the "Search" page to the "Content" section.
I also suggest adding a link to the "Search" page (/manager/?a=search) in the drop-down search (in MODX2 and MODX3).
For example, add the last item:

![search_page](https://user-images.githubusercontent.com/12523676/53701752-79cb9380-3e19-11e9-8202-32e1fc96843e.png)

This

[2019-03-03 22:08] ant-tar opened #14455 "Search bar can be closed not only by clicking on magnifier"
## Feature request
### Summary
Am I the only one who wants to click somewhere outside opened search bar if I just want to close it?

### Why is it needed?
I'm always frustrated when I want to close search bar after use and I need to remember again and again that it will be closed only after click on magnifier icon.

![magnifier_click](https://user-images.githubusercontent.com/2815640/53702519-ea25

[2019-03-04 06:38] alroniks commented on #14444
As I remember here always was a limit to 5 items, but I don't know why.

[2019-03-04 18:25] ant-tar opened #14456 "Lexicon stepwise refinement for search results"
## Bug report
### Summary
I've found interesting behavior of step-by-step refinement of search results for MODX i18n.

### Step to reproduce
1. Please open Lexicon Management at /manager/?a=workspaces/lexicon
2. Leave default Namespace, Topic and Language values  - "core", "default" and "en"
3. Try to enter "Search" word, press "Enter"(for Windows) on keyboard, after (this is important - don't pre

[2019-03-04 19:43] JoshuaLuckers commented on #14456
Good catch! I'm not sure if it's a bug or feature. If it's a bug I think it would be a great feature. If it's a feature then it should be clearer that this is a function.

[2019-03-04 19:59] ghost commented on #14456
The search feature in System Settings, Namespaces, and several other search forms does the same thing, I've always thought it was intentional.

[2019-03-04 20:08] ghost commented on #14456
A little poking around in the ExtJS docs, apparently it's a built-in feature of their search forms.

[2019-03-04 20:28] Jako commented on #14456
Kudos for posting the right combination of search query strings in the right order.

But if you 'refine' the search the other way with 'More' => 'Results' => 'Search', you will extend the search results.

There is no refinement visible in the query, if I look into the requests/responses right.

I prefer to close this as a too early, but very nice april fool try. But maybe I did understand the issu

[2019-03-04 20:50] Jako commented on #14455
On a Mac I could close the window in two steps by pressing escape on the keyboard.

But clicking on the background should close this dropdown (or whatever it is). A click on '#modx-leftbar', '#modx-content', '#modx-footer' should hide '#modx-manager-search', if thats possible to catch.

[2019-03-05 10:10] Ruslan-Aleev opened #14457 "The inconsistency of the names in the menu and in the section"
## Bug report
### Summary
In the main menu item (and description) has one name, and the section is called differently. Moreover, the section may also differ in the section title and title in the browser.

![menu_title](https://user-images.githubusercontent.com/12523676/53797696-20b24b80-3f50-11e9-9289-1ff45da1521c.png)

Partially the problem was discussed in PR - https://github.com/modxcms/revolut

[2019-03-05 14:34] JoshuaLuckers commented on #14095
I submitted a PR to fix this issue. Feel free to test the changes and provide feedback.

[2019-03-06 00:51] Mark-H commented on #14438
Fixed per #14441 in 2.7.2

[2019-03-06 00:51] #14438 closed, assigned to nobody

[2019-03-06 01:30] muzzwood opened #14462 "MODX 3 Feature Request - Allow an alternative to context key 'web' on install."
## Feature request
### Summary
MODX 2 currently relies on initialising the initial context with a key of `web`.
MODX 3 should allow renaming this.
I propose MODX 3 keep `web` as the default (for extras that rely on it) but optionally allow setting it to something else during install.

### Why is it needed?
- Multi-lingual sites would be much easier to manage if the language code matches the contex

[2019-03-06 01:36] Mark-H commented on #14462
How about just changing the name of the context, which is the visible part that's visible to the user? Is there a particular reason that's not sufficient for a multi lingual site?

[2019-03-06 01:51] muzzwood commented on #14462
It's more for the developer than the user.

I used to have a function on my service classes for getting language keys and context keys and then mapping them. Nearly every db query would need me to join a table to a language table and then relate that to a resource on the correct context for that language.

These days I tend to create one context per language and just leave the web context sitting

[2019-03-06 14:29] Ruslan-Aleev opened #14467 "[bug] Access Policy: Tree"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Tree" Group:_
- **resource_tree** - Show / Hide the list of resources in the tree. At the same time, even in

[2019-03-06 14:53] Ruslan-Aleev opened #14468 "[bug] Access Policy: Media"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Media" Group:_
- **file_manager** - For some reason, the entire section of "Media" is hidden, although in fac

[2019-03-06 16:44] Ibochkarev commented on #14468
Colleagues, any idea how we will solve a list related problem.
The guys did a great job.
Thank them for testing and analysis @Ruslan-Aleev @iwatchyoufromafar

[2019-03-06 16:50] iWatchYouFromAfar commented on #14468
I support @Ruslan-Aleev, we need help and feedback on the work of access policies. And not only those described in the list above. Many ACLs have inaccuracies, bugs or inaccurate descriptions.

Among other things, in 3.x they need to be grouped (such as how system settings). We began to work on it, but in the process of testing we faced problems with many ACL.

[2019-03-06 18:08] JoshuaLuckers commented on #14355
MODX and `webp` are now friends! Thanks a lot to all involved.

[2019-03-06 18:08] #14355 closed, assigned to nobody

[2019-03-06 18:08] #14087 closed, assigned to JoshuaLuckers

[2019-03-06 20:09] #14362 closed, assigned to nobody

[2019-03-06 20:09] #14363 closed, assigned to nobody

[2019-03-06 20:20] #14342 closed, assigned to nobody

[2019-03-06 20:21] #14385 closed, assigned to nobody

[2019-03-06 20:26] #13132 closed

[2019-03-06 20:30] #11902 closed

[2019-03-07 07:27] JoshuaLuckers commented on #14468
Thanks a lot for reporting all these issues. I agree, we should start working on this.
All help is welcome!

[2019-03-08 04:42] muzzwood opened #14470 "MODX 3: Lexicon (login.inc.php) "Good night" should be "Good evening" in English."
## Bug report
### Summary
"Good night" isn't used in contemporary English as a greeting. It's typically used as a farewell.

### Step to reproduce
Go to the manager login page.

### Observed behavior
n/a

### Expected behavior
The English lexicon value for `$_lang['login_greeting_night']` should be changed to `<strong>Good evening</strong>, welcome back!`

I would have done a PR for this but I'm n

[2019-03-08 04:52] Ibochkarev commented on #14470
You can send a PR to correct, then the guys will synchronize with Crowdin for translation into other languages

[2019-03-08 04:53] muzzwood commented on #14470
Thanks, will do!

[2019-03-08 07:24] Jako commented on #14470
I would prefer 'Hello Nightowl' ;-)

Serious: In german the meaning of `good night` is similar than in english. So we should better think what could be set as welcome string in the night or completely remove that entry.

[2019-03-08 07:26] ghost commented on #14470
I think a generic greeting would be the better idea. If someone wants a time- or season-specific greeting that is easy enough to create.

[2019-03-08 07:37] muzzwood commented on #14470
Haha night owl works for me!
My line of thinking was that perhaps some languages need differentiation between evening and night whereas English doesn't. So, in that case it'd be best to keep the entry and just double up the values on the English (and German?) side.

[2019-03-08 09:53] rozaverta opened #14473 "modPlugin modified/changed event in process"
## Bug report
### Summary
Event conflict. modPlugin changed event in process and some plugins does not work.

### Step to reproduce
1. Create new plugin 1. Add event "OnFileManagerUpload". Save plugin on FILE.
2. Create new plugin 2. Add event "OnParseDocument". Save plugin
3. Upload new file.

### Observed behavior
Plugin number 1 does not work (if verification was used $modx->event->name == 'OnF

[2019-03-08 16:26] JoshuaLuckers commented on #14473
Thanks for taking time to report this issue. Can you please make sure the environment info is correct?

[2019-03-09 08:47] Ibochkarev opened #14474 "Black bg color when converting an image with transparency"
## Bug report
### Summary
Black background color when converting an image with transparency to a format without alpha support.

### Step to reproduce
`phpThumb.php?src=home.png&w=410&h=410`
![52891153-b64c8d80-3191-11e9-9fa3-732bdeee9c6b](https://user-images.githubusercontent.com/2138260/54068684-a5b3a280-4279-11e9-895b-e7ec912e4056.jpg)
or
![photo_2019-03-09 14 43 18](https://user-images.githubus

[2019-03-09 15:46] JoshuaLuckers commented on #14462
I agree that it would be nice if we could rename the `web` context however I strongly believe it would cause more issues and problems then we can anticipate right now.

I propose to make hiding contexts possible (or less visible).

[2019-03-09 15:58] JoshuaLuckers commented on #6518
By the looks of it this issue is no longer relevant, therefore I'm closing it.

[2019-03-09 15:58] #6518 closed

[2019-03-09 16:08] JoshuaLuckers commented on #7695
We should add fields for the first- and last name but also keep one for the fullname.
This makes it possible to use an alternative full name. First name: John, last name: Doe and full name J. Doe

[2019-03-09 16:19] JoshuaLuckers commented on #12647
I don't think loading the core assets via a CDN will ever be implemented. Feel free to reopen this issue or start a new one if I'm wrong.

[2019-03-09 16:19] #12647 closed

[2019-03-09 16:26] #13729 closed

[2019-03-09 16:39] #14246 closed, assigned to nobody

[2019-03-09 16:45] JoshuaLuckers commented on #13881
Without the relevant information we are unable to solve this issue. Feel free to open a new issue providing the requested information.

[2019-03-09 16:45] #13881 closed, assigned to nobody

[2019-03-09 16:49] JoshuaLuckers commented on #13880
It seems to me that this is not a bug in MODX. Feel free to open a new issue if you feel otherwise. 👍

[2019-03-09 16:49] #13880 closed, assigned to nobody

[2019-03-09 18:22] JoshuaLuckers commented on #12762
Is this issue still relevant?

[2019-03-09 18:25] JoshuaLuckers commented on #13867
Is this issue still relevant?

[2019-03-09 18:27] JoshuaLuckers commented on #13856
Thanks for taking time to report this issue and help us make MODX better.

I'm unable to reproduce this issue. Is it still present in the most recent release of MODX?

[2019-03-09 18:31] Ibochkarev commented on #12762
@JoshuaLuckers After version 5.2.13 there are 27 releases. And at the moment a lot has changed.
I would close this issue.

The current version is currently 6.0.7

[2019-03-09 18:32] JoshuaLuckers commented on #13148
Is this issue still relevant? I'm in favour of closing this issue.

[2019-03-10 09:19] theuros commented on #14462
Not a bad idea, but I solve this issue by simply leave default web context for testing purposes or to hold js and css resources. For all other languages I create a appropriate named context.

[2019-03-10 09:58] theuros commented on #14422
Would be nice if you also could group elements to same context group and have an option to show/hide specific groups.

[2019-03-11 01:19] zaigham commented on #12762
I think this no longer relevant due to this: https://github.com/modxcms/revolution/pull/13886

[2019-03-11 07:11] alroniks commented on #13867
It was fixed by this pr https://github.com/modxcms/revolution/pull/14274

[2019-03-11 07:11] #13867 closed, assigned to nobody

[2019-03-11 07:34] JoshuaLuckers commented on #12762
Is `SMTPAutoTLS` still set to `true` by default?

[2019-03-11 10:08] sofasurfer commented on #13867
Thank you for the Update!

[2019-03-11 11:13] rutkas commented on #12762
I think SMTPAutoTLS is still true by default. and the issue still exists.

Dear Ibochkarev, take a look at this link, the problem is still well known (2018 post):
https://modx.pro/help/16267

People making some hacks to avoid this bug in 2018, but I reported this issue in 2015.

And it is is bad practice to close active issues, only because of a reason like "After version 5.2.13 there are 27 relea

[2019-03-11 11:31] Ibochkarev commented on #12762
@rutkas Excuse me. So this problem should be solved.

Please re-open this problem again.

Thank!

[2019-03-11 11:42] OptimusCrime commented on #12762
This problem is indeed not solved. We had to roll our own wrapper around PHPMailer to get access to this setting.

[2019-03-11 12:09] Jako commented on #12762
@rutkas, @OptimusCrime Do you have a patch available for solving this issue?

[2019-03-11 12:41] JoshuaLuckers commented on #12762
I think we should add a new system setting  with as key `smtp_auto_tls` under "E-mail".
By default it should be set to `true`.

[2019-03-11 12:54] Ibochkarev commented on #12762
@Jako I will prepare PR

[2019-03-11 13:09] rutkas commented on #12762
Yes, smtp_auto_tls option, that just sets $SMTPAutoTLS to true or false before calling PHP Mailer would be fine.

[2019-03-11 14:07] Ruslan-Aleev opened #14479 "[bug] Access Policy: Resources"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Resources" Group:_
- **new_document_in_root** - Prevent creating resource at the root. There are no comments.

[2019-03-11 14:10] ghost commented on #14479
"Why delete and remove, is it not the same thing?"

No, "delete" means flag for deletion, "remove" means to remove the deleted item from the database.

[2019-03-11 14:32] Ruslan-Aleev commented on #14479
Are you sure? If yes, then for snippets what does it mean?
_delete_snippet - To delete or remove Snippet._

[2019-03-11 14:33] ghost commented on #14479
Yeah, for elements it is the same thing - remove from the database. Elements don't have a "delete" flag in the database like resources do.

[2019-03-12 07:40] sebastian-marinescu opened #14481 "[bug] Delete old packages leaves old entries in DB"
## Bug report
### Summary
The newly introduced and great feature "Purge old packages" in the package-management deletes old package-files on the filesystem, but leaves these packages in the DB in the table `modx_transport_packages`.

### Step to reproduce
Make an update of a package.
Trigger "Purge old packages" afterwards.

### Observed behavior
Old package-file/-archive is gone, but entry in DB

[2019-03-12 08:28] Jako commented on #14481
It should delete the DB entry too, if it gets the correspondent entry. That part works the same as if you remove a previous package in the grid.

But you could have found a bug there.

[2019-03-12 10:18] sebastian-marinescu commented on #11694
I just wanted to open a new feature-request about this and then this showed up in the suggestions.

So yeah, this is still very annoying. I find myself very often "searching" for this entry...
Then I go to the menu-management and drag it up. After some updates to extras, I have to search again, because it is again on a completely different position.

I've just tested via phpmyadmin to give the ins

[2019-03-12 10:35] sebastian-marinescu commented on #11694
Okay, I'm doing it. Do you @JoshuaLuckers think a menuindex of "10" should be sufficient?

[2019-03-12 10:40] Ruslan-Aleev commented on #11694
@sebastian-marinescu It seems to me that it is better to reorganize the menu already for MODX3, look, maybe you will have some suggestions yet - https://github.com/modxcms/revolution/issues/14291

[2019-03-12 11:03] sebastian-marinescu commented on #11694
@Ruslan-Aleev Thanks for pointing me to that, I'll check it out.

Until MODX3 there is still an unforeseeable time, and in this time also new users will come to MODX2, and maybe MODX2 will also be longer around than expected - so in my opinion this is still a valid issue until a new major will be released this should and can be "fixed" at least for new MODX2 installations.

[2019-03-12 13:53] Mark-H commented on #11694
Putting it at the bottom is not very great. :(

What I'd suggest we try (I haven't looked at the relevant code yet) is to add some extra code into the menu builder that makes sure the installer is always first.

Something like an `ORDER BY field(modMenu.key, 'installer') ASC` (but in xPDO) before the menuindex sort is applied.

[2019-03-12 13:56] ghost commented on #11694
Or just have the Installer, then add the menu after it. LIke hard-coding an li element into the outerTpl of pdoMenu.

[2019-03-12 15:00] OptimusCrime commented on #12762
@JoshuaLuckers Would it not make more sense to expose the setter/getter via modPHPMailer? Then you can set it conditionally, instead of automatically using the system setting.

[2019-03-12 22:42] Mark-H commented on #14450
Fixed by #14451

[2019-03-12 22:42] #14450 closed, assigned to nobody

[2019-03-13 07:35] JoshuaLuckers commented on #12762
Yes and users should be able to set the behaviour via a system setting as well.

[2019-03-13 10:58] sebastian-marinescu commented on #11694
I agree that it's not ideal, but at least better than always searching inside the list for it.

Both of your suggestions sound apparently better, if this can be accomplished.

[2019-03-13 14:51] robliberty commented on #13933
I am having this same issue, across all MODX 2.7.0+ builds. On a regular basis the top half of the screen is unusable do to the transparent covering iframe. A hard refresh clears it temporarily. A browser cache dump doesn't appear to solve it.

Edit: I'd also like to note that it happen throughout the admin, not just Package Management.

Chrome on macOS Mojave

[2019-03-13 15:15] Mark-H commented on #13933
That does seem to be part of an ExtJS utility `Ext.ux.Lightbox` but I've not seen that before in my life. It's initialized to listen to `a.lightbox` clicks in the package manager with  `Ext.ux.Lightbox.register('a.lightbox')`, presumably to show larger screenshots or package information in the browser.

That's also the only place I can find it being used in the core.

I can find the ux-lightbox-sh

[2019-03-13 15:22] robliberty commented on #13933
![Screen Shot 2019-03-13 at 11 21 38 AM](https://user-images.githubusercontent.com/18542159/54290957-35ab6200-4582-11e9-9941-9b3186a0867e.png)

Here is my screenshot, just happened again. I may have been mistaken before about other locations, that could have been something else...

[2019-03-13 15:39] Mark-H commented on #13933
Does it go away if you disable your custom manager theme? (or is there a way to change the logo in the top right without a custom theme)

[2019-03-13 18:41] #13148 closed

[2019-03-13 18:48] #14470 closed, assigned to nobody

[2019-03-13 19:12] Jako commented on #13933
Do you have the text `<a … class="lightbox" … >` somewhere in the (rendered) manager html code?

It could only happen in the `workspaces` custom manager page (thats the Package-Management), since the `Ext.ux.Lightbox.register('a.lightbox')` code is only executed there.

[2019-03-14 05:09] ilyautkin commented on #7254
`MODX 2.7.1` The bug is no more:

![screen-2019-03-14_10 06 52](https://user-images.githubusercontent.com/3328625/54332697-32c37680-4641-11e9-9090-aa4ff36d2fe6.gif)

[2019-03-14 05:32] ghost opened #14485 "The catalog is not updated after deleting the second file."
## Bug report
### Summary
The catalog is not updated after deleting the second and more files.

### Step to reproduce
How to reproduce the issue, including custom code if needed.
Open the file management via TinyMCE or through the control of additional parameters.
Delete the first file, the directory will be updated.
Delete the second file, the directory will not be updated anymore.

http://record

[2019-03-14 06:26] #7254 closed

[2019-03-14 06:27] Jako commented on #14485
Is there an error in the browser console?

[2019-03-14 09:01] Jako commented on #14424
The description is outside of the `element` there. But it has a `for` attribute with the value of the element id. Maybe you could get the description with:

[code]

and hide that, if it is found.

[2019-03-14 09:27] ghost commented on #14485
[code]

[2019-03-14 15:02] robliberty commented on #13933
@Mark-H I've deactivated the custom css to see, It hasn't happened yet but my sample time is pretty short.

@Jako No, nothing with the class "lightbox" in the rendered dom.

Here is the custom CSS we use, anything that might stick out as the culprit?
[custom.txt](https://github.com/modxcms/revolution/files/2967031/custom.txt)

[2019-03-14 15:05] Jako commented on #13933
Did you install a new package before, without reloading the manager?

[2019-03-14 15:46] robliberty commented on #13933
@Jako No. It happens on page load randomly, even on sites I haven't interacted with for a few days.

The Extras list also lags before this happens.

[2019-03-14 15:49] robliberty commented on #13933
This is my error log a the time of the incident, not sure if anything's related:

`[2019-03-14 11:43:17] (ERROR in modMenu::getSubMenus @ /home/mobility/public_html/core/model/modx/modmenu.class.php : 145) modAction support is deprecated since version 2.3.0. Support for modAction has been replaced with routing based on a namespace and action name. Please update the extra with the namespace importx

[2019-03-14 17:00] Ruslan-Aleev commented on #13933
@robliberty Is this problem repeated in incognito mode of your browser?
Perhaps some browser extension activates lightbox.

[2019-03-14 20:04] Ruslan-Aleev opened #14486 "Bug with directoryes in the media browser"
## Bug report
### Summary
If, while adding a new directory, you accidentally click outside the pop-up form and try again to add the directory, the window will break. It is not clear why the last window goes under the previous one, although it should always be on top, see the picture below.

![folder_bug_2](https://user-images.githubusercontent.com/12523676/54387178-27f5f980-46b4-11e9-8881-c5f82b8c

[2019-03-14 21:26] Ruslan-Aleev opened #14487 "Media sources have no icon in media browser"
## Bug report
### Summary
In the Media browser, there is no icon in the sources tree on the left, but in the Files tab the icon is correctly displayed, see the picture below.

![no_icon](https://user-images.githubusercontent.com/12523676/54392473-33035680-46c1-11e9-9457-b5ff18c00af0.png)

### Environment
MODX 2.7.1

[2019-03-15 17:08] mvoevodskiy commented on #14201
I will do it.

[2019-03-15 17:20] ghoulru opened #14489 "Error in core\model\phpthumb\phpthumb.class.php 990"
## Bug report
### Summary
Notice: Use of undefined constant IMG_WEBP - assumed 'IMG_WEBP' in \core\model\phpthumb\phpthumb.class.php on line 990

### Step to reproduce
Rename "core" and "manager" directories/
Create TV named "image". Media sources: default and custom, same problem.
don't show images thumbnails in /manager/

### Observed behavior
If i comment or delete code from line 990
[code]
eve

[2019-03-15 18:53] JoshuaLuckers commented on #14489
The constant `IMG_WEBP` is available as of PHP 5.6.25 and PHP 7.0.10, respectively.
Source: [PHP Predefined Constants](https://secure.php.net/manual/en/image.constants.php)

[code]

[2019-03-17 06:24] Ibochkarev commented on #14172
@kolbykruger  Hi! Still relevant?

[2019-03-17 06:32] Ibochkarev commented on #13871
@BobRay In the current state there are descriptions inside the boxes.
![System Settings  MODX Revolution 2019-03-17 12-31-03(1)](https://user-images.githubusercontent.com/2138260/54486306-b6cf6580-48b0-11e9-86d9-c9d3d90e2ea4.jpg)

[2019-03-18 01:28] BobRay commented on #13871
@Ibochkarev, They only say that some of the time.  I just fired up 2.7.1 and they look like this:
![SystemSettingsGrid](https://user-images.githubusercontent.com/335010/54501388-692c1a80-48fb-11e9-805e-0c1f98c16040.jpg)

Even in your photo, there's no way to know that the first box is for selecting a namespace.

[2019-03-18 10:07] Jako commented on #13871
The whole ExtJS code of those dropdowns could be refactored in combination with the processors. Default values are not used as default etc. It looks like someone tried to bypass something in a wrong way at the first sight.

[2019-03-18 14:18] kolbykruger commented on #14172
I believe it was resolved as of 2.7.0, after deleting the site cache, and giving it a few days.

[2019-03-18 14:18] #14172 closed, assigned to nobody

[2019-03-19 10:47] Ruslan-Aleev opened #14497 "[bug] Access Policy: Access permission"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Access permission" Group:_
- **policy_template_view** - Hide the "Policy Templates" tab in "Access Control Li

[2019-03-19 13:01] Ruslan-Aleev opened #14498 "[bug] Access Policy: Top menu"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Top menu" Group:_
- **menu_site** - Hide / Show items in the "Content" section, for a direct link work.
- **i

[2019-03-19 23:01] kolbykruger opened #14499 "Design Suggestions for MODX3"
## Feature request
### Summary
This is my (quick) take at what the MODX3 resource panel and resource sections should look like. Inspiration and colors are all from Stripe's manager page. Along with this, I think it would be really beneficial for a system setting to allow you to set the accent color. This color would attribute itself to the save button (?) as well as other borders/focus/switches.

[2019-03-20 07:42] alroniks commented on #14499
Look nice. But why blue instead or current green?

[2019-03-20 11:01] reikotec opened #14500 "[Bug] Files can not be edited, Manager shows a blank Page."
## Bug report
### Summary
**Created Files can not be edited, MODX Manager shows a blank Page.**
Also "Quick Edit Page" shows no reaction.
![grafik](https://user-images.githubusercontent.com/41062056/54679047-b03a2b80-4b06-11e9-8d93-d002f6b92604.png)

### Step to reproduce
1. Create a file for example: "style.css" and Save
2. Try to edit

### Observed behavior
JavaScript Console:

 manager:78:16 th

[2019-03-20 11:43] Ruslan-Aleev commented on #14499
**It looks great!**
The only thing is, I would change the indent of the background-block of the buttons (like in the content block) or remove the background-block completely.

![button-bg](https://user-images.githubusercontent.com/12523676/54681862-db347780-4b26-11e9-8b4a-eb3b48c8fb23.png)

[2019-03-20 12:51] Ibochkarev commented on #14499
A couple of comments on the proposed changes:
- change green to blue? What for? Green looks consistent and it is in the logo.
- gray is not so agreed look
- also the `box-shadow` property

The current version by color is an exact hit as it should be. I would not like to see changes on these items.

But there are also things that can be made as changes.

[2019-03-20 13:00] Ruslan-Aleev commented on #14499
@Ibochkarev The base color can be changed, for example, in the settings, so it is not green, as I understand it.
Personally, I like gray, the usual gray color :)

[2019-03-20 13:22] Ibochkarev commented on #14499
https://twitter.com/vlijmscherp/status/892410969464418305 This is something new and very interesting in my opinion.

[2019-03-20 14:41] kolbykruger commented on #14499
Ooh, I like the idea of a tree nav.

The accent colors (replacing blue with the green) was more of an idea to have it be an option to change in system settings. I was trying to show that example.

It would be a fun and interesting thing to play with, but totally unnecessary.

[2019-03-20 15:14] Ruslan-Aleev opened #14501 "Move "Deleted" checkbox from the resource settings"
## Feature request
### Summary
In the resource editing tab on the right there are the publishing group, it seems to me that it is right there to place the "Deleted" checkbox.

Firstly, the checkbox is logically associated with the publication, secondly, it will be immediately see that the resource has been deleted or it will be easier to delete it (other settings do not change often, unlike deleti

[2019-03-20 17:03] guyinpv commented on #14499
It's time to expose a set of branding/style/color options and let those be imported/exported as JSON or something as a manager "theme".

Preferences are just preferences, but people might like to "brand" the backend a little bit for their clients.

All you really need for a nearly complete overhaul is about a dozen color choices, not a big deal. It could even have a small real-time UI as a "theme

[2019-03-20 17:29] sebastian-marinescu commented on #11694
I've added a new commit to https://github.com/modxcms/revolution/pull/14482 that will put the installer-entry always to the top.

[2019-03-21 07:02] Ibochkarev opened #14504 "New design for installer"
## Feature request
### Summary
It is rewritten the pages of the installer in accordance with the designed design.

### Why is it needed?
![1-welcome](https://user-images.githubusercontent.com/2138260/54737119-9d902700-4bd8-11e9-9faf-7115aebaa2eb.png)
![2-settings](https://user-images.githubusercontent.com/2138260/54737120-9d902700-4bd8-11e9-924e-e171738d1486.png)
![3-connect](https://user-images.g

[2019-03-21 07:08] Ruslan-Aleev commented on #14504
Related with https://github.com/modxcms/revolution/issues/14238, https://github.com/modxcms/revolution/issues/13876

[2019-03-22 13:33] Ruslan-Aleev opened #14505 "[bug] Access Policy: Basic Permissions"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

_"Basic Permissions" Group:_
- **frames** - Allows the user to use the MODX manager panel.
- **home** - Enable

[2019-03-22 14:35] Ruslan-Aleev opened #14506 "[bug] Access Policy: General information"
## Bug report
### Summary
Recently we tested all the settings in the **Access Policy** and grouped them into logical groups, but almost every setting has an inaccuracy or even a bug.

**Guys, we need help in testing these problems, both from the MODX-user and from the MODX-components.**

**No hierarchy in settings**
In the Access Policу, need to somehow identify global settings and connect them wi

[2019-03-23 16:42] CrazyBoy49z commented on #7049
var_dump(false); //return "bool(false)"
print_r(false); //return ""
print_r(true); //return "1"
print_r( false?'true':'false'); //return "false"

php7.2

[2019-03-23 16:59] CrazyBoy49z commented on #7049
var_dump(false); //return "bool(false)"
print_r(false); //return ""
print_r(true); //return "1"
print_r((int)false); //return "0"
print_r((int)true); //return "1"

print_r( false?'true':'false'); //return "false"

[2019-03-23 17:52] cjholowatyj commented on #13988
Great recommendations - every one of them! One thing I think MODx needs as well is:
**Typable (filtering) drop-down lists***...
...especially for the template TV! This would save so much time in my workflow because I know the names of the options I want to choose, just getting there can be slow and tedious some times...

[2019-03-23 21:41] kolbykruger commented on #13988
I 100% agree with that. If they made the global change for all dropdowns to have type searching, it increase my productivity 10-fold. It would also solve issues with dropdowns that are paginated, which goes against everything I believe in.

[2019-03-24 03:52] ghost commented on #13988
Oh, yeah! I can't count the number of times I've glanced at a dropdown and didn't notice that it was paginated, and spent hours trying to figure out why something I just did wasn't on the dropdown.

[2019-03-24 07:31] JoshuaLuckers commented on #13988
Feel free to contribute by submitting a PR😎👍

[2019-03-26 14:28] Ruslan-Aleev opened #14508 "The file name is not displayed when editing, if it is not in English"
## Bug report
### Summary
When editing a file, its name is not displayed, if it is not in English, see the picture below.

![russian_files](https://user-images.githubusercontent.com/12523676/55005178-f6a2f500-4ff4-11e9-8d69-b9ae50672aca.png)

Checked in Russian, at least.

### Environment
MODX 2.7.1
**Windows 7**

[2019-03-27 11:16] Ruslan-Aleev opened #14509 "Unpublish for the "site_start" resource"
## Bug report
### Summary
The resource that is specified in the system settings as "site_start" cannot be unpublished from the context menu in tree - an error will appear, see the picture below.

![site_start](https://user-images.githubusercontent.com/12523676/55071533-57d4d200-50a2-11e9-9167-beb2b49960c4.png)

But at the same time, the editing of this resource can be unpublished trough chekbox, a

[2019-03-27 19:38] wax100 commented on #14331
@Mark-H
May be that can help. I test on live site and it works.

\manager\assets\modext\core\modx.layout.js, **line 313**

 change
`tree[tab.handler.replace(/this./, '')]();`
to
`tree.redirect("?a=resource/trash");`

and

\manager\assets\modext\widgets\resource\modx.tree.resource.js, **line 238 & 283**

 change
` trashButton.setTooltip(_('trash.manage_recycle_bin_tooltip', {count: data.object.dele

[2019-03-27 21:04] wax100 commented on #14500
Cant reproduce this on modx3 and modx 2.7
Was the same error on OpenServer (old version), but now it is ok

[2019-03-27 22:17] CrazyBoy49z commented on #14500
This problem PHP 7, in MODX gets empty setting locale

[2019-03-28 07:24] sergant210 commented on #13943
A link must be passed to the function (it's true for all version of PHP)
[code]
This code is weird
[code]
It can be replaced by pathinfo().

[2019-03-28 07:28] JoshuaLuckers commented on #13943
Feel free to submit a PR 😄

[2019-03-28 08:07] sergant210 commented on #13943
Would do if I got enough time

[2019-03-28 08:21] reikotec commented on #14500
Emptying the locale setting solved the problem.

**In Addition:**
Previous my value for locale was de_DE which has worked in the past.
Changing it to **de_DE.UTF-8 solves the problem also.**

[2019-03-28 09:59] Ruslan-Aleev opened #14512 "Need refactoring of lexicon topics"
## Feature request
### Summary
Lexicon topics contain unnecessary entries, for example, in the chunk.inc.php topic there is an entry with the key "chunk" - https://github.com/modxcms/revolution/blob/2.x/core/lexicon/en/chunk.inc.php#L9, but the same entry with the key "chunk" is in the topic https://github.com/modxcms/revolution/blob/2.x/core/lexicon/en/default.inc.php#L58 which is always included

[2019-03-28 10:14] JoshuaLuckers commented on #14509
While it's not recommended I do think it should be possible to mark any resource as unpublished if you really want to.

[2019-03-28 10:47] Ruslan-Aleev commented on #14509
This is logical, yes. Then in the context menu should activate this possibility.

[2019-03-28 11:24] christianseel commented on #14499
My feedback here would be that the font color (gray) is too light and needs to be darker for more contrast. Currently the design is too soft overall (all looks very similar). But that's an easy change.

[2019-03-28 11:45] Ibochkarev commented on #14499
@christianseel Please indicate color layout options

[2019-03-29 14:19] Ibochkarev commented on #14313
@JoshuaLuckers @Alroniks @Jako @Mark-H @opengeek Guys, we are ready to start this work! But we need your thoughts on how to do it better!

One PR will make a replacement in one lexicon file. Each key change in the lexicon file and in the places where they are specified will be a separate commit.

We need to prompt again by the rules of naming and we start!

Work is important!
I ask to take part, t

[2019-03-29 14:32] JoshuaLuckers commented on #14508
Do you get an error in the console?

[2019-03-29 14:37] wax100 commented on #14508
![Screenshot_7](https://user-images.githubusercontent.com/4846064/55240158-424ddc80-5249-11e9-9b8d-c101d5013e39.jpg)
+1 , no errors in console

[2019-03-29 14:37] Ruslan-Aleev commented on #14508
No, there are no errors. You can create a file with a Russian name, for example, "Привет.txt" and try to check it yourself :)

[2019-03-29 23:00] webinmd commented on #5945
In the current version (2.7.1) I can not reproduce this error

[2019-03-30 02:11] Ibochkarev opened #14515 "Incorrect version display PHPMailer and Smarty"
## Bug report
### Summary
Incorrect version display PHPMailer and Smarty

### Step to reproduce
Go to menu Management -> Reports -> System Information

### Observed behavior
![Информация о системе | MODX Revolution 2019-03-30 08-00-03](https://user-images.githubusercontent.com/2138260/55269922-fccdf580-52c2-11e9-95bd-0e75e0db1393.png)

### Expected behavior
https://github.com/modxcms/revolution/bl

[2019-03-30 14:46] JoshuaLuckers commented on #14508
I'm unable to reproduce this.

[2019-03-30 17:12] Ruslan-Aleev commented on #14508
@JoshuaLuckers Very strange, I tested it in Google Chrome and in Firefox - the bug repeats. OS Windows 7

[2019-03-30 21:18] Jako commented on #14508
It could be a charset/encoding issue in combination with json_encode.

[2019-04-02 09:11] Ruslan-Aleev opened #14519 "Import / Export tables in MODX"
## Feature request
### Summary
There are many tables in MODX that you often need to customize. It would be **extremely useful** to have the Import / Export functionality of all tables.

_For example, I set everything up in the "System settings", exported tables of settings and for a new project I imported it, correcting some._

_The same behavior for Contexts and other tables._

_Or for installed

[2019-04-02 10:40] ghoulru opened #14520 "regClientScript async defer"
Add  new option can be useful:
`void regClientScript (string $src, [boolean $plaintext = false][, $async=''])`
where $async = async | defer
and in front looks like:
<script src="/path/to/script.js" async></script>

For asynchronous script loading.
Thanks.

[2019-04-02 11:00] Ruslan-Aleev opened #14521 "Incorrect behavior of the menu tree in the "Menu" section"
## Bug report
### Summary
1) If I move the item to the main section "Top Menu", the item will simply disappear from the menu in the manager panel. You can make a mistake and do not understand why the item disappeared, but the item is present in the menu section (the nesting of the items is not clear until all the menus are minimized).

![menu-bug](https://user-images.githubusercontent.com/12523676

[2019-04-02 11:42] JoshuaLuckers commented on #14521
Related issue: #14220

[2019-04-02 11:48] Ruslan-Aleev commented on #14220
Logicaly related with https://github.com/modxcms/revolution/issues/14373

[2019-04-02 20:25] matdave opened #14524 "New File in Root Permissions"
## Feature request
### Summary
Requesting that we add a new permission new_file_in_root that checks if a person has the permissions to add a new file in the root level of a media source.

### Why is it needed?
Many people will dump all of their files in the root directory, which slows the loading of a media source and can cause issues with cluttering the Filesystem

### Suggested solution(s)
Add a

[2019-04-03 02:18] DettRoxx commented on #12300
I researched code, and consclusion:
![image](https://user-images.githubusercontent.com/8276064/55448069-01e6b980-55cf-11e9-862d-8b2f5172539c.png)
(core\model\modx\processors\security\forms\set\update.class.php)

~ 289 line (modx 3.x branch)

**=>**
if you dont change region from **modx-panel-resource-tv**, you cannot set order for this tv, because result - tvs disappearing from everywhere from the

[2019-04-03 06:43] Ruslan-Aleev commented on #14524
Related with https://github.com/modxcms/revolution/issues/14307

[2019-04-03 14:02] Ruslan-Aleev opened #14530 "Bug when deleting the parent item in the "Menu" section"
## Bug report
### Summary
If you delete the parent item in the menu, the **child item is no longer displayed in the tree**, but it is not deleted.
It will not be possible to create an item with the same name and it is in the list of parents.

![menu-delete](https://user-images.githubusercontent.com/12523676/55484803-3774bc80-563a-11e9-9af4-9efce3a0b280.png)

![menu-delete-2](https://user-images.gi

[2019-04-03 21:21] alroniks commented on #14530
So, I've started work on it and faced with a problem. What to do with nested menus?
Somebody accidentally can remove top menu (even after confirming popup) and in case removing all menus will go away directly from a database, it can be painful to restore them from the database.
The second option - move a menu to the level of deleted.

Please, vote using emoji for this comment. 👍 for the removing,

[2019-04-03 22:23] Jako commented on #14530
With a warning 'removing' the children should be ok.

[2019-04-03 22:27] Jako commented on #14530
If a parent is removed, the children should be removed (with a warning). Otherwise it will be a lot of work to delete a whole tree. Moving items up is not a normal behavior for me.

[2019-04-04 00:20] jcdm commented on #14530
The 'next level' would be to have a marked-as-deleted for menu items from which they can be undeleted, but that would increase the scope a fair bit so I couldn't say if it would have much value in terms of value for users for the investment.

[2019-04-04 05:53] JoshuaLuckers commented on #14530
Maybe we could ask the users to move the items “up” or to another element?

[2019-04-04 07:29] geforester opened #14531 "Parent of resource doesn't changing"
## Bug report
### Summary
Parent of resource on settings tab doesn't change if old parent and new parent have same alias but different contexts

### Step to reproduce
see https://youtu.be/YC-rH3ipxaU
old parent and new parent must be have same alias and different contexts

### Observed behavior
resource have old parent

### Expected behavior
resource have new parent

### Environment
MODX 2.7.1, sa

[2019-04-07 14:18] Ruslan-Aleev opened #14536 "In the "Add Property Set" window there is no checkbox style"
## Bug report
### Summary
In the "Add Property Set" window there is no checkbox style icon (in the "Properties" tab when editing any element).
Usually chekbos presented as icons Font Awesome.

![checkbox](https://user-images.githubusercontent.com/12523676/55684894-7f108680-5961-11e9-85ac-ac339124ebf4.png)

### Environment
MODX 2.7.1

[2019-04-07 14:23] ant-tar commented on #10297
@goldsky it was tested for 2.7.1 and everything is OK (TV is accessible) now, so issue can be closed.

Short summary what had been done for that:

1. New clear MODX instance
2. Usergroup (for mgr context) with separate user
3. Resource group with appropriate usergroup access
4. Resource and TV were applied to the group

[2019-04-07 16:02] ant-tar commented on #10242
I've tested several ACL combinations and must say ACL works simultaneously for Quick edit option and though basic MODX editor, if permissions aren't enough you'll get "Access forbidden" for editor and Quick edit option will be absent at all.
Well, if you play with "Sudo" checkbox(It has been set in other browser by admin account and checked in second browser for tested account) "Quick edit File" o

[2019-04-07 18:02] gentlemesh opened #14537 "MODX 3 Installation error 'missing dependencies'"
## Bug report
### Summary
Can not install MODX 3 on local test host from ready build, getting Error 503 and a "Site temporarily unavailable; missing dependencies." message. According to the installation procedure, there should be '/core/vendor/autoload.php' file, but this file is absent.

### Step to reproduce
Download nightly MODX 3 build (https://nightly.modx.by/download/modx-3.0.0-dev-20190407.

[2019-04-07 18:43] Mark-H commented on #14537
As of 3.x, you need to run `composer install` when building from source. I thought @Alroniks also fixed that in the nightly builds, but perhaps not?

[2019-04-07 20:13] Ruslan-Aleev opened #14539 "Need refactoring of system settings"
## Feature request
### Summary
In the "System Settings" a lot of settings initially. But besides this, there are also settings that are not used in the system at all, but hang in the list.

Those we need refactoring of "System Settings" section:

1) It is necessary to remove outdated system settings.
2) Some settings are not in the right categories, for example:
**publish_default** is located in t

[2019-04-08 06:56] Ibochkarev commented on #13614
@Oetzie Hello! Did it turn out to complete the decision on this request?

[2019-04-08 08:12] alroniks commented on #6688
Closing, but feel free to reopen.

[2019-04-08 08:12] #6688 closed

[2019-04-08 12:16] ant-tar opened #14541 "Welcome message: wrong background image + bad text links"
## Bug report
### Summary
Welcome popup message: wrong background image + incorrect URL links

### Step to reproduce
Install fresh 2.7.1 MODX and check welcome screen content

### Observed behavior

![2019-04-06 12 43 01](https://user-images.githubusercontent.com/2815640/55723079-b0945b00-5a10-11e9-9a36-458710a1f06c.png)

1. Background image doesn't load from https://modx.com/assets/i/headline_bg_

[2019-04-08 12:28] ant-tar commented on #14541
I can send PR here, just clarify proper URLs for me please.

[2019-04-08 12:30] Mark-H commented on #14541
That page is embedded from the MODX site, so that has to be corrected by someone at the LLC: @opengeek @matdave @rthrash?

[2019-04-08 14:05] alroniks commented on #14537
Cron script used composer without proper full path so this step was skipped without any warnings in logs. Now it fixed. Closing the issue.

[2019-04-08 14:05] #14537 closed, assigned to nobody

[2019-04-08 14:14] ghost commented on #14541
Which is precisely why I have never been in favor of depending on any third-party for any landing page activity. It gives a very poor appearance to have such a failure be the first thing a new user will see.

[2019-04-08 14:21] alroniks commented on #14541
Yes, the image should be placed to the repository. Links can be changed during time, it's not a huge problem and easy to fix.

[2019-04-08 14:31] opengeek commented on #14541
It should not be in the repository, as that requires a release to fix it if changes are needed. We are working to resolve the issues that were oversights from the recent relaunch of modx.com. Thanks for the report.

[2019-04-08 14:38] opengeek commented on #14541
Moving forward, i.e. for 3.x+, I think we should come up with a simple app to present the welcome information from modx.org with an i18n-capable presentation that could be maintained by contributors, similar to the documentation efforts.

[2019-04-08 16:53] jaygilmore commented on #14541
These pages have been fixed and while I was at it, I also inlined the little CSS they use and cut the volume of CSS by 96% (since it was using old CSS from the website from 2010.) Should be much snappier and has correct links.

[2019-04-10 12:07] webinmd commented on #14539
These settings are not used anywhere in the code.
Most likely this is the legacy of Evo (WebSignup & WebLogin)

- webpwdreminder_message
- websignupemail_message

[2019-04-10 12:57] Ruslan-Aleev commented on #14380
Pretty serious bug for UX

[2019-04-10 17:30] opengeek opened #14546 "Convert Resource processors"
Convert processor classes in `core/model/modx/processors/resource/` to `src/Processors/Resource/`

Submit PR to the draft PR #14534 via https://github.com/opengeek/revolution/tree/psr4

[2019-04-10 17:32] opengeek opened #14547 "Convert Security processors"
Convert processor classes in `core/model/modx/processors/security/` to `src/Processors/Security/`

Submit PR to the draft PR #14534 via https://github.com/opengeek/revolution/tree/psr4

Document Group - seems it is not in classes and replaced by Resource Group processors, but file left in the code base and should be removed.

- [x] Access (https://github.com/opengeek/revolution/pull/13)
- [x] Form

[2019-04-10 17:35] opengeek opened #14548 "Convert Media Source processors"
Convert processor classes in `core/model/modx/processors/source/` to `src/Processors/Source/`

Submit PR to the draft PR #14534 via https://github.com/opengeek/revolution/tree/psr4

[2019-04-10 17:37] opengeek opened #14549 "Convert System processors"
Convert remaining processor classes in `core/model/modx/processors/system/` to `src/Processors/System/`

Submit PR to the draft PR #14534 via https://github.com/opengeek/revolution/tree/psr4

[2019-04-10 17:37] opengeek opened #14550 "Convert Workspace processors"
Convert processor classes in `core/model/modx/processors/workspace/` to `src/Processors/Workspace/`

Submit PR to the draft PR #14534 via https://github.com/opengeek/revolution/tree/psr4

[2019-04-10 17:42] opengeek opened #14551 "Convert Element processors"
Convert remaining processor classes in `core/model/modx/processors/element/` to `src/Processors/Element/`

Submit PR to the draft PR #14534 via https://github.com/opengeek/revolution/tree/psr4

[2019-04-11 09:01] DESIGNfromWITHIN opened #14552 "If there are multiple Dependencies, clicking download does not update the status"
### Summary
If there are multiple Dependencies, clicking download and install does not update the status after the first one.

### Step to reproduce
- upload a Fred generated theme with multiple dependencies, they get listed
- click on the first dependency, it downloads and the button changes to install
- click on a second dependency, you see loading animation and the package is downloaded
- the b

[2019-04-11 10:26] Ruslan-Aleev commented on #14539
### In my opinion, these settings do not work (maybe i'm wrong):

**~~Authentication and Security:~~** (https://github.com/modxcms/revolution/pull/14841)
- ~~udperms_allowroot (found only in "System Settings")~~
- ~~webpwdreminder_message (found only in "System Settings")~~

**~~Rich-Text Editor:~~** (https://github.com/modxcms/revolution/pull/14843)
- ~~editor_css_path (found only in "System Sett

[2019-04-11 12:20] JoshuaLuckers commented on #14539
Why should the setting `enable_gravatar` be removed?

[2019-04-11 12:46] Ruslan-Aleev commented on #14539
@JoshuaLuckers I meant that it is better to move these settings (manager_use_fullname, enable_gravatar) to the "User" section in the form of checkboxes, don't just remove (misprint).

[2019-04-11 12:50] JoshuaLuckers commented on #14539
Thanks for clearing that up! 😄

[2019-04-11 18:30] Electrica commented on #14531
This bag don't have in 3. version.
Video: https://youtu.be/RhSYQLgPdpE

[2019-04-11 19:05] #14551 closed, assigned to opengeek

[2019-04-11 20:21] Ruslan-Aleev commented on #14499
@kolbykruger Any news on design? It would be interesting to see :)

[2019-04-11 20:23] Ruslan-Aleev commented on #14499
In general, the idea of reducing the number of off-white/grey colors is very useful. It will be easier in the future to make themes, for example, a dark theme :)

[2019-04-12 01:19] kolbykruger commented on #14499
I honestly was just having fun, trying to show different style options. Right now the design does have a lot of different grey colors, which makes it feel dated.

I have a lot of internal issues with the MODX navigation regardless, as most of our websites we pass on to clients, and 99% of them never need to access anything in those menus. Would love to see it change, but it's hard as a lot of deve

[2019-04-12 11:06] Todor46 commented on #13685
How can I handle this in the server configuration?
My website is being flagged as hacked due to this problem...

[2019-04-13 00:08] guyinpv commented on #14499
Just go super modern and have huge washes of solid bright colors with some background abstract shapes.

Look at October CMS: http://dev.goradiantweb.com/uploads/public/539/73a/9a5/53973a9a5f521976962657.png

;)

[2019-04-13 10:40] Ruslan-Aleev commented on #14499
@guyinpv As for October CMS - a controversial statement. Such a waste of workplace, as in the October CMS, I have not seen anywhere else :)

[2019-04-13 12:51] ghost commented on #14499
Indeed. Just because somebody else chooses a remarkably ugly design doesn't mean MODX has to do the same. Although I suppose that "ugly" is in the eye of the beholder...

[2019-04-13 18:07] guyinpv commented on #14499
For sure, but "clean" not only mean everything is white and offwhite. Clean also means good white space, well organized, easy to reason about. And not just that there are background colors.

Also keep in mind, not everybody has their monitors calibrated the same. I tend to run mine bright and contrasty, so subtle shadows, outlines, and really light greys just wash out anyway.

Color also can be us

[2019-04-13 18:11] wm-simon opened #14556 "Sorting categories"
The sorting of categories is awkward, because you don't know and can't see all the ranks of other categories. A little manager for the sorting or simple showing the rank in the tree would really help here.

[2019-04-14 22:38] OptimusCrime commented on #14541
Close this issue then?

[2019-04-15 20:14] Jako commented on #14556
Drag and drop in the tree is not possible?

[2019-04-16 10:28] Ibochkarev commented on #13876
I propose to summarize what will be included in the installer.

[2019-04-16 11:05] Ruslan-Aleev commented on #13876
If I’m not mistaken, all the date and time settings will be taken automatically based on the selected language, @Alroniks mentioned this.

I would add only 2 additional settings fields:

`site_status and site_name`

We should not add a lot of new fields, because tired to fill them in when you install MODX :)

For the rest of the settings, for example, _error_page or publish_default_, I would not i

[2019-04-16 12:25] SnowCreative commented on #14006
Personally, I don't think "Close" should ever be in a group; it's used much too often by users in my experience.

[2019-04-16 12:27] JoshuaLuckers commented on #13876
This would get my approval.

[Jason mentioned this in another issue:](https://github.com/modxcms/revolution/issues/14541#issuecomment-480859719)

How to "complete configuring your website" should be part of this "app".

[2019-04-16 12:35] Ruslan-Aleev commented on #13876
I would add information "complete configuring your website" both in the "app" and in the installer :)

[2019-04-16 12:54] JoshuaLuckers commented on #14006
It's also weird that we are hiding functionality behind a dropdown menu that requires clicking.

[2019-04-17 22:05] matdave opened #14561 "Filter Extras Releases"
## Feature request
### Summary
The ability to filter release versions to lowest tolerance in upgrades and installs (e.g. alpha, beta, rc, pl).

### Why is it needed?
Adding a filter to prevent auto-update or install to a new alpha build will allow more knowing people to test those builds, while preventing standard users from being subject to potentially breaking upgrades. It would also give more f

[2019-04-18 17:11] Ruslan-Aleev opened #14563 "Add setting "Show hidden resources""
## Feature request
### Summary
In MODX3 there are new resource settings: "Hide Children" and "Show in Tree".

![resources_1](https://user-images.githubusercontent.com/12523676/56378534-63896380-621e-11e9-8175-9f812e8cf390.png)

_The settings are useful, but you can hide a resource or child and forget the ID of these resources and then it will be difficult to edit these resources.
Or if a developer

[2019-04-18 19:15] pmacswebteam opened #14564 "MODX resources can be "saved" without a pagetitle"
## Bug report
### Summary
MODX resources can be "saved" without a pagetitle

### Step to reproduce
1. Create a resource with a "space" in the pagetitle field
1. Save the resource
1. Resource is automatically renamed to "Untitled Resource"
1. Removed "Untitled Resource" text & replace with a "space"
1. Save

### Observed behavior
Resource is saved with no pagetitle

### Expected behavior
User shoul

[2019-04-21 10:34] JoshuaLuckers commented on #12591
Hiding the time option with the current `date` template variable what do developers and/or users expect regarding the time when selecting a date?
- the time is set to the current time
- the time is set to `00:00:00`
- don't store the time at all

[2019-04-23 07:58] alroniks commented on #10297
Seems it works so I am closing. Please, reopen, if the issue still actual.

[2019-04-23 07:58] #10297 closed

[2019-04-23 08:00] alroniks commented on #10242
Seems it works so I am closing. Please, reopen, if the issue still actual.

[2019-04-23 08:00] #10242 closed

[2019-04-23 17:19] Electrica commented on #14508
![image](https://user-images.githubusercontent.com/3878386/56601902-1a6e5080-661e-11e9-9222-66f1d7e9e827.png)
![image](https://user-images.githubusercontent.com/3878386/56601921-23f7b880-661e-11e9-8344-70b63d6f9372.png)
I don't have this bag.

[2019-04-23 17:22] Electrica commented on #14500
MODX3 don't have this bag. Php 7.0

![image](https://user-images.githubusercontent.com/3878386/56602127-9799c580-661e-11e9-8f0f-3c03e499bdbf.png)

[2019-04-23 17:37] Electrica opened #14565 "Animation upload file not working"
## Bug report
### Summary
When i upload file, animation not working.
Link https://yadi.sk/i/W4skj_75l0EROg

### Environment
MODX Revolution 3.0.0-pl nginx

[2019-04-23 19:21] Ruslan-Aleev commented on #14508
@Electrica Yes, in MODX3 there is no such bug.
But at the same time **in the title of the browser the file name in Russian is still not displayed**.

[2019-04-24 06:27] JoshuaLuckers commented on #14500
If anyone is able to reproduce this error, please let me know (since I'm not able to reproduce it).

[2019-04-24 06:29] JoshuaLuckers commented on #14508
Is the locale set in system settings?

[2019-04-24 07:02] Ruslan-Aleev commented on #14508
@JoshuaLuckers The language settings for MODX 2.7.1 and MODX3 are the same, see the pictures below.

2:
![m2](https://user-images.githubusercontent.com/12523676/56638874-491d1300-6680-11e9-8a67-328bcef7aefa.png)

3:
![m3](https://user-images.githubusercontent.com/12523676/56638876-491d1300-6680-11e9-86de-74fcc8438459.png)

[2019-04-24 07:53] JoshuaLuckers commented on #14508
What happens when you set the locale?

[2019-04-24 08:16] Ruslan-Aleev commented on #14508
@JoshuaLuckers Yes it works! If set ru_RU.utf8 in locale.
In MODX 2.7.1. everything is correctly displayed.
And in MODX3 in the browser's titile the file name is correctly displayed.

**But the question remains**, why without a locale in MODX3, the names work, except for the browser titile, and in MODX 2.7.1 neither the names nor the title work?

[2019-04-24 08:19] JoshuaLuckers commented on #14508
Good question, what is the server configuration like? Windows, Linux etc?

[2019-04-24 08:24] Ruslan-Aleev commented on #14508
Both MODX 2.7.1 and MODX 3 are on the same server, here’s information about the server:

ОS: Ubuntu Server Edition
Apache: 2.4.10
Nginx: 1.13.4
MySQL: 5.7.21-20-beget
Perl: 5.26.1
PHP: 5.2, 5.3, 5.6, 7.0, 7.1, 7.2
Python: 2.7

[2019-04-24 09:35] mindeffects commented on #12591
In no scenario, inside the knows universe, I can imagine storing the `current time` is of any use considering that I want to hide the time.
I would expect the time to be a constant value, like 00:00:00 to make comparisons easier, like `date 1 > date2`. I would also be fine with no time being stored at all (assuming it is not stored as a timestamp, of course).

[2019-04-24 09:56] Jako commented on #14508
What is the locale setting of the server/host? Maybe that uses ru_RU instead of ru_RU.utf8

MODX uses the locale setting of the host during init, if I remember right.

[2019-04-24 10:02] JoshuaLuckers commented on #12591
I want to propose a solution that doesn't break backwards compatibility for this template variable. It might be possible that there are developers who use the time value even if it's hidden.

Improving the options to set a default value for the date and time is a better approach.

[2019-04-24 10:04] JoshuaLuckers commented on #14508
Related issue: #14500

[2019-04-24 10:19] Jako commented on #14508
Also related: #13079

[2019-04-24 10:52] Ruslan-Aleev commented on #14508
@Jako If put the ru_RU locale, then the errors are repeated.

[2019-04-24 11:06] Jako commented on #14508
@Ruslan-Aleev Please look into the discussion in #13079

The issue could not be fully solved.

[2019-04-24 11:09] Jako commented on #14508
Maybe your server/host uses a non utf8 locale. On all my installations I can't reproduce that issue in #13002. Maybe you get a way to solve that finally.

[2019-04-24 11:19] Ruslan-Aleev commented on #14508
@Jako I'm waiting for a response from the hosting technical support.

[2019-04-24 11:35] Ruslan-Aleev commented on #14508
@Jako Here is the support wrote: **$LANG = ru_RU.UTF-8**

[2019-04-24 12:24] mindeffects commented on #12591
The only „never breaking anything“ solution would be cloning the TV `date` into `dateOnly` and `timeOnly`.
Then you would need to willingly change your tv to behave in the new way.

[2019-04-24 14:55] Jako commented on #12591
The „never breaking anything“ solution has to handle existing and new values different on input side. And I suggest to save it with `00:00:00`.

[2019-04-24 14:56] Ruslan-Aleev commented on #14508
There are some problems with Windows and UTF-8 - https://en.wikipedia.org/wiki/Unicode_in_Microsoft_Windows#UTF-8

But I don’t understand why in MODX3 the error manifests itself differently.

[2019-04-24 21:36] Jako commented on #14508
The issue is caused by json_encode and a not utf8 capable locale. Because of this some server communication is decoded with issues or worse with a blank result.

[2019-04-25 07:38] donShakespeare opened #14568 "Make MODX Setup safer and inaccessible to non owners"
### Why is it needed?

1. Prevent someone from overwriting/hijacking one's site.
2. Users like myself often keep the setup folder around (renamed of course) due to the hassle of getting a new setup folder in order to rerun upgrade to clear out some database/path glitch.
3. Many users (as it will continue to be observed - for whatever human reasons) will uncheck the option that auto deletes the set

[2019-04-25 09:39] arjen-t commented on #14309
I faced the same odd problem as well. I played around with the lexicons values. It seems to like that some character parsing issues is causing this issue.

Situation 1:
$_lang['some_uber_label'] = 'Hi this is English';

No caching issues appears

Situation 2:
$_lang['some_uber_label'] = 'Hi this is English **isn&#92;'t** great?';

Random caching errors

Situtaion 3:
$_lang['some_uber_label'] = "Hi

[2019-04-25 10:50] Mark-H commented on #6703
#14526 adds a setting for it... do we honestly need to make things like this configurable? :/

We already have so many settings, so I'd like to see we either just disable autocomplete, or leave it as-is. This is not really that big of a deal that it's worth the extra complexity IMO.

[2019-04-25 13:14] opengeek commented on #14568
As mentioned in the discussion, I believe a better solution would be to simply write a file when the setup is completed, regardless if it is an install or upgrade. Then it has to be removed before running it again.

[2019-04-25 18:16] JoshuaLuckers commented on #14568
This file should be in the setup directory so no extra action is needed for users who do delete the setup directory after installing/updating MODX.

[2019-04-25 19:47] donShakespeare commented on #14568
I am afraid for this file in the webroot, for reasons including the fact I have seen all kinds of wonders with users using both the native and custom File Managers.

[2019-04-25 21:45] ghost commented on #14568
Indeed, the less floating around in the site root the better.

[2019-04-26 00:05] donShakespeare commented on #14568
I may have meant web-accessible, which includes `/setup/`

[2019-04-26 07:23] sdrenth commented on #14074
I updated the issue because I think the `@FILE` also should be supported.

[2019-04-26 12:41] devlanda commented on #14524
The proposed name of this permission is in line with the comparable permission 'new_document_in_root'.

[2019-04-26 12:46] devlanda commented on #14509
The behaviour should be consistent.

[2019-04-26 13:10] opengeek commented on #14568
There is no reason why this can't go in the `setup/` directory. It's an empty file. The `setup/` is supposed to be removed anyway.

[2019-04-26 14:45] alroniks commented on #14524
Does it make sense to add such setting for each media source? It will make a more flexible way to strict users behavior.

[2019-04-26 14:57] devlanda commented on #14556
Drag and drop is possible to place a category in another. It is not possible to change the order.

[2019-04-26 15:01] JoshuaLuckers commented on #14568
The current htaccess provided by MODX prevents public access to dot directories. It might be a good idea to create a dot directory (instead of a file) in `setup/` once the setup process is completed successfully.

[2019-04-26 15:11] donShakespeare commented on #14568
Are non-Apache servers somehow covered by the dot directories?

[2019-04-26 15:15] rthrash commented on #14568
Trivial to add for NGINX (and still work with Let's Encrypt):

[code]

Speaking of which, the current htaccess should probably also be modified to enable `.well-known`, too.

[2019-04-26 15:21] donShakespeare commented on #14568
But all of these settings cannot be default for the various unexpected servers people might be running ....

[2019-04-26 15:22] rthrash commented on #14568
For people with the skills to run alternative web servers, I'm fairly certain they have the skills to figure this out.

[2019-04-26 15:22] opengeek commented on #14568
The .directories issue is irrelevant to this issue.

[2019-04-26 15:23] rthrash commented on #14568
I think Joshua was suggesting checking for a dot-directory instead of a file as an alternative approach.

[2019-04-26 15:25] opengeek commented on #14568
It makes no difference. Web access to an empty file or empty directory is irrelevant to the point of this issue.

[2019-04-27 13:39] JoshuaLuckers commented on #14509
I agree.

[2019-04-27 14:10] #14299 closed, assigned to nobody

[2019-04-27 14:33] #14474 closed, assigned to nobody

[2019-04-27 14:39] ghost commented on #14509
More than once I've accidentally clicked the "unpublish" menu option, but I have never accidentally unchecked the "published" checkbox.

[2019-04-27 14:45] #14457 closed, assigned to nobody

[2019-04-27 15:29] JANogueira opened #14575 "Allow template variables input type date configurations to be smarty"
## Feature request
### Summary
According to the documentation below:
https://docs.modx.com/revolution/2.x/making-sites-with-modx/customizing-content/template-variables/template-variable-input-types#TemplateVariableInputTypes-Date

We are able to use date TV input type configuration json that can be applied on migx and other extras or customizations.
When using JSON you are not able to allow dynami

[2019-04-28 03:10] donShakespeare commented on #14152
Is it possible to accomplish this immediately wholly client-side, without ever changing the url?
I accomplish something similar in https://modx.com/extras/package/exportelementproperties

Use DownloadJs and download the data to file of expected filename.
And/or use DownloadJs to translate the data into a textarea for user to copy whatever.

Bypass this line altogether
`        location.href = MODx

[2019-05-02 05:46] guyinpv commented on #14568
If it makes no difference if there is an empty file somewhere, web-accessible, why is this very concept not accomplished by the presence of the /setup folder itself? Isn't that the same difference? When X is present, danger danger! Or when file Y is present, danger danger!

If the setup folder exists, wreak havoc on the admin.

I don't see why there should be any need at all to keep a potentially

[2019-05-02 22:56] donShakespeare commented on #14568
Of course there is an easier way, we just need to look at what others have been for years, a lot of data to experiment with there.

[2019-05-02 23:50] donShakespeare commented on #14568
Okay, as a user/admin, I take full responsibility for forgetting to delete the setup folder or my server not automatically removing it when I opted in for that after install ... and I also agree that I failed at this very basic thing in MODX web development, but at the same time it is pretty embarrassing that this is even possible. After personally seeing a few sites go down in flames, my shock wa

[2019-05-03 07:37] JoshuaLuckers commented on #14568
If I have time I'll prepare a PR with a solution based on the input received in this issue.

[2019-05-04 10:18] JoshuaLuckers commented on #14331
The PR to resolve this this issue has been merged.

[2019-05-04 10:19] #14331 closed, assigned to nobody

[2019-05-04 10:31] JoshuaLuckers commented on #14515
The PR to resolve this this issue has been merged.

[2019-05-04 10:31] #14515 closed, assigned to nobody

[2019-05-04 10:33] Ibochkarev commented on #14575
@JANogueira You can prepare PR?

[2019-05-04 10:55] JoshuaLuckers commented on #14448
The PR to resolve this this issue has been merged.

[2019-05-04 10:55] #14448 closed, assigned to nobody

[2019-05-04 11:15] JoshuaLuckers commented on #3786
The PR to resolve this this issue has been merged.

[2019-05-04 11:15] #3786 closed

[2019-05-04 11:19] JoshuaLuckers commented on #14487
The PR to resolve this this issue has been merged.

[2019-05-04 11:19] #14487 closed, assigned to nobody

[2019-05-04 19:52] JANogueira commented on #14575
Hi @Ibochkarev

Never did a PR before on github.
I will investigate a bit to check how I can do this.

I am still a SVN user that didn't move to git yet.

[2019-05-05 02:52] Ibochkarev commented on #14575
@JANogueira https://docs.modx.org/current/en/contribute/code/contributors-guide

You can start with this.

Or edit file in 3.x branch https://github.com/modxcms/revolution/blob/3.x/manager/templates/default/element/tv/renders/input/date.tpl

![image](https://user-images.githubusercontent.com/2138260/57188009-6b811d00-6f19-11e9-9792-590b32e31e2d.png)

[2019-05-05 09:34] JANogueira commented on #14575
Many thanks.
I will try that shortly.

Cheers

[2019-05-05 09:49] JANogueira commented on #14575
Done.
Many thanks @Ibochkarev
Shall I do the same for the 2.X branch?

[2019-05-05 10:16] Ibochkarev commented on #14575
@JANogueira Not. All improvements and innovations go to the 3rd branch. Thanks

[2019-05-05 10:38] JoshuaLuckers commented on #12771
I think @jpdevries has a good point. We should leave the discussion open and get back to it once 3.x is released.

[2019-05-05 10:45] JoshuaLuckers commented on #13172
If the second issue is still relevant please open a new issue for it. Thanks!

[2019-05-05 10:45] #13172 closed

[2019-05-05 10:47] JoshuaLuckers commented on #13553
At the moment we are not using a CDN therefore I'm closing this issue.

[2019-05-05 10:47] #13553 closed

[2019-05-05 10:57] JoshuaLuckers commented on #13846
Relevant discussion: https://github.com/modxcms/revolution/pull/13850

[2019-05-05 11:00] JoshuaLuckers commented on #13895
I'm unable to reproduce this issue. Feel free to reopen the issue if this is still not working for you.

[2019-05-05 11:00] #13895 closed, assigned to nobody

[2019-05-05 18:59] jolichter commented on #13725
Hi, same issue and confirmed:

MODX Revolution 2.7.1-pl
PHP 7.2.17
MySQL 5.7.26

[2019-05-08 08:37] Ruslan-Aleev commented on #13969
After discussion in PR - https://github.com/modxcms/revolution/pull/14576
An option was proposed:

@rthrash:
Perhaps we add s small red/green dot (with the right shades for sufferers of pantopia like me) to indicate published status, and black/gray/strikethrough for menu/deleted status?

Quick PS-mockup, would the following helpdistinguish the published status better:
![57048501-cecd2f80-6c39-11e9

[2019-05-08 09:04] Ibochkarev commented on #13969
Sorry, but I don’t like these points of resources at all ..

Maybe changing colors, reducing the size and if you remove the boundaries - it will look better.

Purely my opinion.

[2019-05-08 09:06] Ibochkarev commented on #14546
You can close. Merged

[2019-05-08 09:07] Ibochkarev commented on #14548
You can close. Merged

[2019-05-08 09:07] Ibochkarev commented on #14549
You can close. Merged

[2019-05-08 09:07] Ibochkarev commented on #14550
You can close. Merged

[2019-05-08 09:08] #14546 closed, assigned to JoshuaLuckers

[2019-05-08 09:08] #14548 closed, assigned to alroniks

[2019-05-08 09:08] #14549 closed, assigned to alroniks

[2019-05-08 09:09] #14550 closed, assigned to alroniks

[2019-05-08 09:09] Ruslan-Aleev commented on #13969
@Ibochkarev This is a schematic image, the design will be more beautiful :)
Although I personally am for "line-through" (https://github.com/modxcms/revolution/issues/13969#issuecomment-450483884), but the community is against, apparently.

[2019-05-08 10:51] SnowCreative commented on #13969
I like the dots now. Very clear. I assume this is something that would be customizable, just like the font styles are now. Personally, I would change it to this:
green : published
orange : published and not in menu
clear : unpublished, and also for deleted
so any dot that is filled in indicates published, and the color indicates whether it is in the menu.

[2019-05-08 11:33] Ruslan-Aleev commented on #13969
Too many options will appear with color and font, and they are difficult to remember.
We need to simplify the font, for example, the color of the dot define the publication and position in the menu (we duplicate the status to the dot in the "title" attribute), and the font stay the same everywhere, but "line-through" will be added for the deleted ones.

In the current version of the logic is not c

[2019-05-08 19:52] alroniks commented on #14547
It seems solved.

[2019-05-08 19:52] #14547 closed, assigned to alroniks

[2019-05-09 02:39] muzzwood commented on #12762
I just got the following pop up:
Deprecated: __autoload() is deprecated, use spl_autoload_register() instead in /home/vagrant/code/site/public_html/core/model/modx/mail/phpmailer/PHPMailerAutoload.php on line 45

So I assume it's related to this issue.

[2019-05-09 03:26] muzzwood commented on #14552
Is this only with a Fred generated theme or a dependency for any package?

[2019-05-09 08:03] DESIGNfromWITHIN commented on #14552
Don't know...

[2019-05-10 19:23] guyinpv commented on #13969
Seems to me if a resource is UNpublished, it doesn't much matter whether it is or isn't seen in a menu, since it won't be seen in a menu anyway, because it's unpublished.
Maybe the menu/not-menu visual aid only matters once the page is actually published? It simply brings 5 visual styles down to 4.
Unpublished resources, lighter grey and italics, that's it. No menu distinctions.

Just a thought!

[2019-05-10 20:18] Ruslan-Aleev commented on #13969
@guyinpv I agree with you about excessive styles for the state of resources in the menu.
But I do not agree about changing icons or adding lines to them - this is not a universal solution, if you need change icons to non-standard ones in the template, we have already discussed this :)

[2019-05-10 22:00] guyinpv commented on #13969
The world revolves around every changing icons to show status.

What is the point of an icon? To tell you what something is. Otherwise it's just taking up space and serves no purpose. I'd be fine with icons alone showing various statuses.

[2019-05-10 22:42] Ruslan-Aleev commented on #13969
You did not understand me, I meant that adding lines is not a universal solution, because for the template, you can set any Font-Awesome icon and the line may not be noticeable.

![custom-icons](https://user-images.githubusercontent.com/12523676/57560214-621f0700-7396-11e9-9083-26bd04ba1aad.png)

And I consider additional icons superfluous, as well as a dot with color.
In general, the simplest and

[2019-05-10 22:48] Ruslan-Aleev commented on #14125
@Jako By the way, the name through a double click can be changed, even if there is a link (we discussed above), you can test PR https://github.com/modxcms/revolution/pull/14581

[2019-05-11 15:45] JoshuaLuckers commented on #13969
Deleted resources are way too prominent in the tree, we should remove them (we have the trash manager). This gives us one status less we have to worry about.

[2019-05-11 16:09] Ruslan-Aleev commented on #13969
@JoshuaLuckers Not everyone will agree - https://github.com/modxcms/revolution/issues/13969#issuecomment-450548366

[2019-05-11 17:12] SnowCreative commented on #13969
I'm one of the disagree-ers. Make it a system setting. Creative freedom.

But the reason I disagree has more to do with the fact that the functioning of the new trash manager isn't complete yet. See all the discussions about what to do when undeleting something from the trash, and where to put a restored resource if the parent was deleted. It gets complicated. Once the trash manager is improved, I

[2019-05-11 21:22] OptimusCrime commented on #12762
@digitalpenguin It is not related to this issue.

[2019-05-12 22:26] Ruslan-Aleev commented on #14568
Logically related with https://github.com/modxcms/revolution/issues/10568

[2019-05-13 13:05] Ruslan-Aleev opened #14582 "When installing, when selecting "New installation" install type checkbox becomes unselectable"
## Bug report
### Summary
1) If during installation, select "Upgrade Existing Install" and then click "Next" and then "Back" - you can change the install type selection. But if you select "New Installation" and then click "Next" and then "Back" - you can no longer change the selection, the **checkbox becomes unselectable**.

![install_bug](https://user-images.githubusercontent.com/12523676/5762367

[2019-05-14 05:46] sergant210 opened #14583 "Incorrect use of the getOption method in the modResource class"
### Description
[code]
The second parameter must be an array. Аnd the default value should be passed in the third parameter

[Source code](https://github.com/modxcms/revolution/blob/3.x/core/model/modx/modresource.class.php#L206)

P.S. By the way, it is not necessary to pass $xpdo by reference.

[2019-05-14 11:46] alroniks commented on #14452
PR is merged, that means the issue solved. Closing.

[2019-05-14 11:46] #14452 closed, assigned to nobody

[2019-05-14 16:14] Ruslan-Aleev commented on #14499
@kolbykruger Participate in the discussion? Maybe you have any suggestions - https://github.com/modxcms/revolution/pull/14572?

[2019-05-14 22:52] auditor8880 opened #14585 "Error updating from version 2.7.0 to version 2.7.1 Error updating table for class modResource - Duplicate column name 'alias_visible'"
Error updating from version **2.7.0** to version **2.7.1** Error updating table for class modResource - Duplicate column name 'alias_visible'

During the installation, when checking everything is OK - everything is green.
After installation, click "Show warnings" and here is the error:

The change indicated below is in my file.

 [https://github.com/modxcms/revolution/pull/14140/files/349fb106a24c

[2019-05-15 02:21] Ibochkarev commented on #14585
Fixed in https://github.com/modxcms/revolution/pull/14396

[2019-05-15 07:11] alroniks commented on #14585
Thank you for reporting, but it also fixed as @Ibochkarev mentioned and it is a duplicate of https://github.com/modxcms/revolution/issues/14382
So I have to close it.

[2019-05-15 07:11] #14585 closed, assigned to nobody

[2019-05-15 09:04] auditor8880 commented on #14585
Thank you, that is, this problem is in the installation package itself.

[2019-05-15 09:20] Ibochkarev commented on #14585
@auditor8880 That's right. Fix will be included in 2.7.2

[2019-05-15 10:38] Ruslan-Aleev commented on #14143
@Jako @opengeek @rthrash Any thoughts on this? This is not a bug, but I do not know if this functionality is needed here?

[2019-05-15 12:56] rthrash commented on #14143
It makes sense to treat it as a traditional select list. I consider it a poor UX.

[2019-05-17 18:44] MarkOdey commented on #13933
I am experiencing the same problem in 2.6.5. I do have alot of plugins installed. For me its appearing in the Package Management page only.

[2019-05-17 18:51] MarkOdey commented on #13933
Soorry for spamming this issue. I just resolved my own problem. Redactor was the culprit. Most likely this modal was meant to show me a warning that I need to renew my license. I haven't used Redactor in years now (went back to tiny mce) Do you think I should report this to the redactor team?

[2019-05-17 19:06] robliberty commented on #13933
Interesting! I don’t have Redactor, but I am using ModMore Gallery by the same developer. I wonder if it’s related

[2019-05-17 19:19] Mark-H commented on #13933
There's nothing in any modmore addons specifically that runs on the package manager page. License checks in the package manager are executed in the upgrade request; which either returns a new version if you have a valid license, or no results. There are no popups about licenses involved at all.

[2019-05-17 19:23] JoshuaLuckers commented on #13933
@MarkOdey what happens if you reinstall Redactor? How many extra's are installed?

@robliberty how many extra's are installed?

[2019-05-17 19:23] MarkOdey commented on #13933
Ok, sorry for my speculations. Turning off Redactor fixed my problem regardless if its about expired license or not.

[2019-05-17 19:27] MarkOdey commented on #13933
Actually I am not sure anymore if Redactor was the problem. I did try to progressively remove what I was not using and suddently the transparent window didn't appear but it just came back. So I will investigate a bit more and comeback at you.

[2019-05-17 19:37] Mark-H commented on #13933
What I researched before about `Ext.ux.Lightbox`, which supposedly creates this "shim", is that it gets triggered when a link with class `lightbox` is found. That word does not occur anyone in the Redactor source code, so I honestly cannot begin to imagine how that could possibly be related.

Trawling through the MODX source code again, the only place I see it in use is the package manager, for th

[2019-05-17 20:45] BobRay commented on #13742
I'm getting this exact error suddenly (but on line 362 -- the session_regenerate_id line). I'm logging a user in in code. Here's the relevant modUser class code:

[code]

startSession() is working, and getSessionContexts() is not throwing an error -- debugging code indicates that the context is 'web' and the user is active, so I don't see how this could not be working.  Maybe it's a server issue.

[2019-05-18 02:38] robliberty commented on #13933
I’ve had it occur on builds with as few as 6 extras and as many as 24.

Possibly related, I get a similar invisible popup editing chunks if my /assets or /components folders are 775 (default install). I’m constantly having to change them to 755 to rid myself of the ghost blocking overlay.

[2019-05-18 20:13] alienbuild opened #14588 "Error loading static template"
## Bug report
### Summary
When trying to load a static template in the manager upon save it returns the error:
`An error occurred while saving the template.`

### Step to reproduce
Create a new template, click 'is static' and proceed to load a template and save.

### Observed behavior
Returns an error on saving.

### Expected behavior
Expected to load static template.

### Environment
MODX3, PHP 7

[2019-05-19 13:38] ant-tar commented on #14340
Noticed that too for 2.7.1

[2019-05-20 13:37] Ruslan-Aleev opened #14591 "Add installer file for download the distribution package"
## Feature request
### Summary
In the current version of MODX, you can download the archive of the standard distribution - https://modx.com/download or advanced - https://modx.com/download/other-downloads also in MODX3 composer will work.

However, it would be useful for users, in my opinion, to add an **installer file** for downloading the distribution package.

Using the file, you can select the

[2019-05-23 17:19] Ruslan-Aleev commented on #13554
In the topics files there are unnecessary entries, for example, "Edit TV", "Edit chunk" ("create_", "delete_" etc), but it is easier to use one "Edit" entrie for both TV, chunk and other element. Why such specific entries for the elements? There are not only extra lines in the topics, but errors in the code, i.e. used, for example, and "create" and "create_ELEMENT" at the same time, etc.

[2019-05-24 13:23] Ruslan-Aleev commented on #14125
Related with https://github.com/modxcms/revolution/issues/13780

[2019-05-24 13:32] Ruslan-Aleev commented on #14506
Related with https://github.com/modxcms/revolution/issues/12568

[2019-05-29 09:05] Mark-H commented on #13894
This affects categories:

[code]

as well as the dashboard:

[code]

[2019-05-31 00:43] muzzwood opened #14594 "modPHPMailer using deprecated __autoload() function - Change to spl_autoload_register() for PHP 7.3"
## Bug report
### Summary
When using modPHPMailer under PHP 7.3 a deprecation warning is given:
[code]
### Step to reproduce
Use the MODX mailer functionality in a PHP 7.3 environment.

### Observed behavior
It still works for now. It's just a deprecation warning.

### Expected behavior
We should future proof the mailer and use spl_autoload_register() instead of the deprecated __autoload() functio

[2019-06-03 16:13] pepebe opened #14595 "More ACLs listed as available"
## Bug report
### Summary
Some ACLs are listed as having more ACLs than are actually available.

![Bildschirmfoto vom 2019-06-03 18-05-06](https://user-images.githubusercontent.com/667315/58816673-3f48e100-862a-11e9-999f-5a98cbdf6e3f.png)

### Step to reproduce
Open your ACL lists under settings->access-control-lists->access-policies.

Have a look at the very last column ('active permissions). Som

[2019-06-03 17:18] Ruslan-Aleev opened #14596 "Useless tooltip for the template"
## Bug report
### Summary
In the tree of elements only for the template there is a tooltip, but it does not bear any good.

![tooltip_template](https://user-images.githubusercontent.com/12523676/58820953-0b2ee980-8645-11e9-8e9d-3554b5f1afc3.gif)

We need to either make the tooltips customizable for the elements - there was a discussion in https://github.com/modxcms/revolution/issues/9242

Or remov

[2019-06-03 17:26] Ruslan-Aleev opened #14597 "MODX3: Icon for "container" is not displayed"
## Bug report
### Summary
The resource does not change the icon in the tree, even if the resource is a "container".

**MODX 2.7.1:**

![icon_1](https://user-images.githubusercontent.com/12523676/58821447-23ebcf00-8646-11e9-8425-d5142c5877eb.png)

**MODX 3:**

![icon_2](https://user-images.githubusercontent.com/12523676/58821448-23ebcf00-8646-11e9-8f24-bb2a11e215f5.png)

Possibly related to https:/

[2019-06-05 08:15] pepebe opened #14598 "Category IDs are not consistent"
## Bug report
### Summary
The numbers show on the right side of category names listed under templates, tvs, chunks, snippets and plugins are not consistent with the category ids stored in the database

### Step to reproduce
Compare categories listed in the elements tree with the general category list.

### Observed behavior

#### Category List at bottom of elements:
<img width="567" alt="Screensho

[2019-06-05 08:26] Ibochkarev commented on #14598
@pepebe The value in brackets next to the TV indicates how many TV parameters are in the folder
![image](https://user-images.githubusercontent.com/2138260/58941513-c8345980-879d-11e9-9f68-26fdb8c9966d.png)

[2019-06-05 08:41] Ruslan-Aleev commented on #14598
Although @pepebe is right, visually it is confusing, because for the remaining elements in brackets is specified id.
Perhaps it makes sense to **change the brackets for category**, for example:

![cat](https://user-images.githubusercontent.com/12523676/58942643-345b9100-878f-11e9-86f5-82d108552adf.png)

![cat_2](https://user-images.githubusercontent.com/12523676/58942972-d9766980-878f-11e9-9c52-83

[2019-06-05 08:47] Jako commented on #14598
To make it more obvious we could use `[2 TVs]`, `[2 Elements]`, `[2 Children]`.

[2019-06-05 09:58] pepebe commented on #14598
Its the number of elements? Wow. I didn't even think about this.

From a consistency point of view I'd expect the number in brackets to be the elements id.

To be honest, I don't care how many elements are inside a category. If anyone does, please give a real world example that explains why this is important information.

[2019-06-05 10:06] Ruslan-Aleev commented on #14598
@pepebe Maybe to find out how the list will unfold? The information is not very useful, but let it be.
And if you want to know exactly the id categories - they are listed in the list of categories in brackets.

[2019-06-05 10:42] pepebe commented on #14598
Today I have learned the following things:

* name (id) = a category, may have subcategories or not. (id) equals number of total elements directly below it.
* name = a category, may have subcategories or not. Does not have any elements directly below it.

I still can't see the need to know how many elements are inside a category.

A single real-world example why this is useful would satisfy my cur

[2019-06-05 11:06] JoshuaLuckers commented on #14598
The amount of elements inside a category is useful to me. I use it as a quick indicator to make sure new elements are synced from a dev to a live environment.

[2019-06-05 11:13] Ruslan-Aleev commented on #14598
Not certainly in that way.
The element identifier (categories, for example) are listed in the list of elements (categories, for example), there is no change of logic.

**But since the amount in categories and id indicated in the same way, this is confusing.**

![cat_info](https://user-images.githubusercontent.com/12523676/58952320-69261300-87a4-11e9-9bfd-01eef7053fbe.png)

[2019-06-05 12:02] pepebe commented on #14598
Thats my point. The number should always be the id of the element. Categories does it right.

[2019-06-05 12:17] ghost commented on #14598
It actually only shows the number of children. If some elements are in sub-categories they are not counted.

[2019-06-05 13:03] Ruslan-Aleev commented on #14598
Maybe it makes sense to display **both the amount and the id** so that there is no confusion?

For example:
![cat_new](https://user-images.githubusercontent.com/12523676/58958372-cffef880-87b3-11e9-98ad-d86d231029d8.png)
Or simple:
![cat_new_2](https://user-images.githubusercontent.com/12523676/58958373-cffef880-87b3-11e9-9ebd-62038f84cdc1.png)

[2019-06-05 17:41] opengeek opened #14599 "alias_visible does not exist in model schema"
## Bug report
### Summary
When the `alias_visible` column was added to the modResource model, it was never added to the schema. Regeneration of the model from the schema thus makes this column disappear. Further, the phptype should be boolean, not integer.

### Step to reproduce
Regenerate the model in 2.x and the `alias_visible` column disappears from the modResource map files.

### Observed beha

[2019-06-05 21:16] pyrographics opened #14600 "Browse Locally For Vapor Packages Not Functioning in 2.7.1"
## Bug report
### Summary
Use vapor to create a snapshot of a website, upload into core/packages and package will not display in the list.  This has always functioned in the past.  I resorted to using theme packager component to migrate sites but this doesn't work as well.

### Step to reproduce
1. Install fresh modx.
2. Use vapor to create a package
3. Manually upload the package into core/packag

[2019-06-06 00:09] ghost commented on #14600
I think it's something to do with the name being too long. You can change the default name either in the vapor.php file or with a custom config.php file, that should help.

[2019-06-06 10:45] cjac-itafran opened #14601 "Error Update from 2.6.5 to 2.7: Could not set the locale. Please check if the locale fr exists on your system"
## Bug report

After Updating to 2.7 we had a "Could not set the locale. Please check if the locale fr exists on your system" error.

But on the sytem we have the right locale wich is "fr_FR.UTF-8".

### Environment
MODX version 2.7

[2019-06-06 10:53] cjac-itafran commented on #14601
We found a Solution:

The error says "Error:/var/www/html/core/model/modx/modx.class.php at line 2506" wich is due to locale found by getOption not existing on the system

So in order to acces the manager you can:
Comment the code in /var/www/html/core/model/modx/modx.class.php (the whole if instruction)

we can now access the manager.
So we started searching for were the getOption fonction found

[2019-06-06 11:10] Mark-H commented on #14601
Are you suggesting that the manager does not work when the locale is not found? If I'm reading the code right, that should just trigger a message in your MODX error log, and not do anything else.

[2019-06-06 11:25] cjac-itafran commented on #14601
You are right the log_target was set to HTML thats probaly why the manager did not work

[2019-06-06 14:21] pyrographics commented on #14600
Thank you, I'll try that.  It is something new in 2.7.X because I've never had an issue with it previously.

[2019-06-06 15:39] #14601 closed, assigned to nobody

[2019-06-07 06:04] pepebe commented on #14598
Before be find a solution for a problem nobody cares about. Let's find at least a single example why it is useful to know the number of direct descendants inside a category.

Somebody "might" find it useful is not a reason the break apart from consistency. By the very same reasoning, you could do the same thing to resources and I guess most of us will agree that although this would be useful in a

[2019-06-07 07:08] sdrenth opened #14602 "Mediabrowser Drag & Drop multiple files to other directory"
## Feature request
### Summary
I think it would be a great enhanced for the mediabrowser if it was possible to move multiple files from one folder to another.

Just to be clear, I mean when in the media browser (/manager/?a=media/browser) that you can select multiple files and drag and drop these files into a directory on the left side of the screen.

### Why is it needed?
To improve the mediabrow

[2019-06-07 07:14] JoshuaLuckers commented on #14598
I am in favour of consistency and knowing the ID of resources, elements and categories is very useful.
Showing the category ID instead of the element count would be more consistent with how container and child resources are displayed.

However, I also think having numbers of how many elements are under a "leaf" is useful and should be visible somehow.

[2019-06-07 08:26] Bruno17 commented on #14598
to have both could be useful, like @Ruslan-Aleev posted.
perhaps like this:

`my category [id](count)`

[2019-06-07 09:39] JoshuaLuckers commented on #14598
The tree(s) already look very messy and busy and adding more metadata would make it even worse.
Do we really want to show metadata like id's and element count all the time?

I wouldn't mind if the "number of elements" was only visible on hover/focus.

[2019-06-07 10:54] Ruslan-Aleev commented on #14598
Yes, a very good option with a tooltip of the count of elements on hover, as suggested by @JoshuaLuckers

[2019-06-11 09:22] alexsoin opened #14603 "Error creating/saving resource in Firefox"
## Bug report
### Summary
Updated modx from 2.6.5 to 2.7.1. When you create/edit resources through the firefox browser, the page freezes and only shows " saving...". If you refresh the page, you can see that the changes were successfully saved.

### Step to reproduce
Create a new resource, click save

### Observed behavior
The page hangs with the inscription "save...". An error is displayed in the

[2019-06-11 12:26] JoshuaLuckers commented on #14603
Thanks for taking time to report this issue.

Does it help if you clear the browser cache (to refresh the cached JS files)?

[2019-06-12 00:25] Mayanktaker commented on #14499
How about serving a dark theme also with default white?
And from system settings option to change from default white to Modx Dark.

Or how about serving 4-5 themes like dark, white, blue or something inspired from VS code/Ace themes..
 😂

[2019-06-12 19:33] alexsoin commented on #14603
Cleared the cache, did not help. Checked on several devices the problem is actual. Also now deployed pure modx 2.7.1 on modhost hosting, the same error is issued.

OS Windows 10, firefox 67.0.2 64x

[2019-06-12 19:54] Ruslan-Aleev commented on #14603
I can not reproduce this error.
MODX 2.7.1, OS Windows 7, Firefox 67.0.2 64x.

Maybe some component conflicts with MODX 2.7.1?

[2019-06-13 05:13] JoshuaLuckers commented on #14603
Do you have any browser extensions installed?

[2019-06-13 05:25] alexsoin commented on #14603
Yes! I've found it. This error was caused by the addition of [SimpleTranslate](https://addons.mozilla.org/ru/firefox/addon/simple-translate/), after its shutdown everything began to work correctly.

[2019-06-13 10:32] JoshuaLuckers commented on #14603
Thanks for sharing the cause and solution for the problem.

Because this is an issue caused by a third party browser extension I'm closing this issue.

It would be great to [create an issue](https://github.com/sienori/simple-translate/issues) for this problem over at the [SimpleTranslate repository](https://github.com/sienori/simple-translate/).